// 選單
.navbar-nav.navbar-nav.navbar-nav
    li
        >a
            position: relative
            overflow: hidden
        &:hover,&:focus
            >a
                @media #{$pad-pc}
                    border: 1px solid rgba(#fff, .7)
                    background-color: $color-n
.nav>li>a:hover, 
.nav>li>a:focus
    background-color: $color-n
    border-color: #fff
    color: #fff
    border: 1px solid rgba(#fff, .7)
    transition: .6s ease
.open.open.open.open
    >a
        @media #{$mobile}
            border: 1px solid rgba(#fff, .7)
            border-color: rgba(#fff, .7)
            background-color: $color-n
    .dropdown-menu>li>a:hover, 
    .dropdown-menu>li>a:focus
        background-color: $color-n
        border-color: #fff
        color: #fff
        border: 1px solid rgba(#fff, .7)
// 首頁四張圖片
.section_1
    .col-sm-3
        .card
            .pic
                overflow: hidden
                position: relative
                img
                    transition: 2s ease
            &:hover
                .pic
                    img
                        transform: scale(1.2)
.section_3
    .d-item
        transition: .3s ease
        cursor: pointer
        &:hover
            opacity: 0.5