.idx
    background: $color-gray
.header-title
    text-align: center
    &::before,&::after
        content: ''
        display: block
        width: calc(100% / 2 - 7em)
        height: 1px
        background: rgba($color-b, .3)
        position: absolute
        top: 35%
        @media #{$mobile}
            width: calc(100% / 2 - 5em)
    &::before
        left: 0
    &::after
        right: 0
    h3.title
        font-size: 32px
        font-weight: normal
        color: #050505
        @media #{$mobile}
            font-size: 26px
    .sub_title
        font-size: 20px
        color: #3e3a39
        font-weight: 300
        letter-spacing: .1em
        @media #{$mobile}
            font-size: 18px
        &::after
            content: ''
            display: block
            width: 8px
            height: 8px
            border-radius: 50%
            background: $color-b
            margin: 0.5em auto
.section_1
    padding-top: 4em
    .container
        @media #{$mobile}
            padding: 0
        *
            color: $color-b
        article.col-sm-12
            padding-bottom: 4em
            margin-bottom: 4em
            border-bottom: 1px solid rgba(#050505, .7)
            @media #{$mobile}
                padding-bottom: 2em
                margin-bottom: 2em
            &:nth-of-type(3)
                border-bottom: 0
                margin-bottom: 0
                padding-bottom: 0
            img
                width: 100%
                padding: 1em
                background: #fff
                @media #{$mobile}
                    padding: 0.5em
            .title
                text-align: center
                margin-top: 3em
                font-weight: normal
                letter-spacing: 0.1em
                font-size: 18px
                margin-bottom: 1em
                @media #{$mobile}
                    margin-top: 2em
                    margin-bottom: 0
            p:not(.title)
                line-height: 3em
                font-size: 14px
                font-weight: lighter
                text-align: center
                @media #{$pad-pc}
                    padding: 0 5em
        footer.col-xs-12
            padding: 0
            background: none
            a
                font-size: 14px
                color: $color-b
                letter-spacing: 0em
                @media #{$mobile}
                    float: right!important

.section_2
    padding-top: 4em
    .container
        @media #{$mobile}
            padding: 0
    header.col-xs-12
        *
            color: $color-b
        .title
            font-size: 36px
            font-weight: normal
            letter-spacing: .1em
            text-align: center
            @media #{$mobile}
                font-size: 26px
                line-height: 1.5em
        .sub_title
            font-size: 22px
            font-weight: normal
            margin-top: 1em
            text-align: center
            &::after
                content: ''
                display: block
                width: 8px
                height: 8px
                border-radius: 50%
                background: $color-b
                margin: 2em auto
                @media #{$mobile}
                    margin-top: 1em
    .nav.nav-tabs
        margin-bottom: 1em
        border-bottom: 1px solid $color-b
        li
            margin: 0
            border-bottom: 4px solid $color-n
            &.active
                transition: .3s ease
                border-bottom: 4px solid $color-b
                padding-bottom: 0.5em
                a
                    transition: .3s ease
                    background-color: $color-n
                    box-shadow: none
                    border: 0
                    border-right: 1px solid $color-b
            &:first-child
                a
                    padding-left: 0
            a
                color: $color-b
                border-right: 1px solid #050505
                border-radius: 0
                padding: 0 1em 0
                line-height: 1em
                font-size: 16px
                letter-spacing: 0
                font-weight: normal
    .tab-content
        .tab-pane
            &.active
            .grid
                width: 100%
                // display: flex
                // flex-wrap: wrap
                column-count: 3
                .grid-item
                    display: flex
                    width: 100%
                    margin: 0 0 1em
                a
                    display: block
                    img
                        width: 100%
.section_3.section_3
    padding-top: 4em
    padding-bottom: 4em
    @media #{$mobile}
        padding-top: 2em
        padding-bottom: 2em
    .row
        @media #{$pad-pc}
            display: flex
    .col-sm-push-6
        @media #{$pad-pc}
            display: flex
            align-items: center
            justify-content: center
    .flex-pic
        background: #fff
        height: 100%
        @media #{$pad-pc}
            padding: 0 1em
            display: flex
            align-items: center
        @media #{$mobile}
            padding-top: 2em
            padding-bottom: 2em
    .col-sm-pull-6
        @media #{$mobile}
            margin-top: 1em
    .title
        +idx-h3-title
    .sub_title
        +idx-h3-sub-title
    .mdate
        display: block
        width: 100%
        color: $color-b
        font-weight: normal
    a
        color: $color-blue
        font-weight: normal
    .mdetail
        color: $color-b2
        font-size: 14px
        letter-spacing: 0.1em
        line-height: 2em
    .listBS
        border-bottom: 1px solid rgba($color-b, .2)
        padding-bottom: 2em
        margin-bottom: 2em
        @media #{$mobile}
            margin-bottom: 1em
            padding-bottom: 1em
    .module-special
        margin-top: 4em
        @media #{$mobile}
            margin-top: 2em