footer.foot
  background: url(#{$url}foot-bg.png) center center no-repeat
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  padding-top: 45px
  padding-bottom: 57px
  @media #{$mobile}
    padding-left: 15px
    padding-right: 15px
    padding-bottom: 15px
    padding-top: 30px
  >.row
    +max-width
    margin-left: auto
    margin-right: auto
  .module-title
    margin-bottom: 30px
    @media #{$mobile}
      margin-bottom: 15px
  .map-content
    @media #{$mobile}
      padding: 0
    
  .info-content
    @media screen and (min-width: 768px)
      padding-left: 60px
    @media #{$mobile}
      padding: 0
    table
      tbody
        tr
          td
            color: #4a4747
            font-size: 18px
            padding: 7.5px
            vertical-align: text-top
            @media screen and (min-width: 768px)
              white-space: nowrap
            @media #{$mobile}
              padding-left: 0
              padding-right: 0
              white-space: nowrap
            &:first-child
              white-space: nowrap
            &:last-child
              span
                font-size: 16px
                margin-top: 15px
            *
              color: #4a4747
              font-size: 18px
            .svg
              $w: 25px
              max-width: $w
              max-height: $w
              position: relative
              top: 5px
              margin-right: 7.5px
  iframe
    height: 245px
div.design
  background: #444444
  opacity: 1!important
  p
    margin: 0
    padding: 10px 0
    text-align: center
    font-size: 12px
    color: white
    span
      margin-right: 15px
      @media #{$mobile}
        float: left!important
        display: block
        width: 100%
        text-align: center
        margin-bottom: 7.5px
        margin-left: 0
    span, a
      font-size: 12px
      color: white
    a
      position: absolute
      right: 30px
      @media #{$mobile}
        position: static
        display: block
        width: 100%
        margin-top: 5px

.right
  position: fixed
  bottom: 5%
  right: 15px
  z-index: 9
  +trans
  &:hover
    opacity: 0.6