footer.foot
  background: #00a295
  padding: 25px 30px
  @media #{$mobile}
    padding: 15px
  .container
    @media screen and (min-width: 768px)
      width: 1200px
      max-width: 1200px
      margin-left: auto
      margin-right: auto
    @media #{$mobile}
      padding: 0
  .logo
    margin-top: 60px
    @media #{$mobile}
      margin-top: 0
    .svg
      @media #{$mobile}
        max-width: 100%
  .info
    padding: 0
    @media #{$mobile}
      margin-bottom: 30px
    .title
      color: white
      font-size: 20px
      font-weight: 500
      margin-bottom: 20px
    p
      white-space: nowrap
      color: white
      @media #{$mobile}
        overflow: hidden
        text-overflow: ellipsis
      *
        white-space: nowrap
        color: white
        font-size: 13px
        @media #{$mobile}
          overflow: hidden
          text-overflow: ellipsis
      b
        margin-left: 7.5px
        margin-right: 7.5px
      &.phone
        >span
          margin-right: 30px
          &:last-child
            @media #{$mobile}
              display: block
              margin-top: 15px

div.design
  background: url(#{$url}section-3-bg.png) center center repeat-y
  background-size: cover
  padding: 12px 0
  p
    margin: 0
    padding: 10px 0
    text-align: center
    font-size: 12px
    color: #808080
    span
      @media #{$mobile}
        float: left!important
        display: block
        width: 100%
        text-align: center
    span, a
      font-size: 12px
      color: #8b8b8b
      @media #{$mobile}
        margin-bottom: 5px
    a
      position: absolute
      right: 30px
      @media #{$mobile}
        position: static
        display: block
        width: 100%
        margin-top: 5px

.right
  position: fixed
  top: 35%
  width: 35px
  right: 15px
  z-index: 9999
  @media #{$mobile}
    $w: 50px
    text-align: right
    right: 15px
  .gotop
    +trans
    &:hover
      opacity: 0.3
  img
    max-width: 35px
  // .svg
  //   box-shadow: 7px 7px 10px -3px rgba(#231815, .19)
  //   border-radius: 50%
  //   margin-bottom: 15px
  //   @media #{$mobile}
  //     $w: 50px
  //     width: $w!important
  //     height: $w!important