footer.foot
  background: rgba(#b1d3c7, .5)
  padding: 30px 0
  @media #{$mobile}
    padding: 30px 0
  .container
    max-width: 1200px
    >.row
      @media screen and (min-width: 768px)
        display: flex
        align-items: center

  $logo: 322px
  .logo
    @media screen and (min-width: 768px)
      width: $logo
    @media #{$mobile}
      margin-bottom: 15px
    .svg
      @media #{$mobile}
        max-width: 100%
  .info
    position: relative
    @media screen and (min-width: 768px)
      width: calc(100% - #{$logo})
      padding-left: 60px
    &::before
      @media screen and (min-width: 768px)
        content: ''
        display: block
        position: absolute
        width: 1px
        height: 80%
        left: 40px
        top: 7.5px
        background: $color-green
    p
      color: $color-b
      *
        color: $color-b
    .col-sm-6
      &:first-child
        @media screen and (min-width: 768px)
          width: 45%
      &:lase-child
        @media screen and (min-width: 768px)
          width: 55%
    
div.design
  // background: url(#{$url}section-3-bg.png) center center repeat-y
  // background-size: cover
  background: white
  padding: 12px 0
  p
    margin: 0
    padding: 10px 0
    text-align: center
    font-size: 13px
    color: #808080
    span
      @media #{$mobile}
        float: left!important
        display: block
        width: 100%
        text-align: center
    span, a
      font-size: 13px
      color: #808080
      @media #{$mobile}
        margin-bottom: 5px
    span+a
      &::before
        content: ''
        border-left: 1px solid #808080
        height: 1.25rem
        line-height: 0px
        display: inline-block
        margin: 0 7.5px
        @media #{$mobile}
          display: none
    a.design-by
      position: absolute
      right: 30px
      @media #{$mobile}
        position: static
        display: block
        width: 100%
        margin-top: 5px

.right
  position: fixed
  top: 35%
  width: 35px
  right: 15px
  z-index: 9999
  @media #{$mobile}
    $w: 50px
    text-align: right
    right: 15px
  .gotop
    +trans
    &:hover
      opacity: 0.3
  img
    max-width: 35px
  // .svg
  //   box-shadow: 7px 7px 10px -3px rgba(#231815, .19)
  //   border-radius: 50%
  //   margin-bottom: 15px
  //   @media #{$mobile}
  //     $w: 50px
  //     width: $w!important
  //     height: $w!important