.module-login,
.module-forgetpsw,
.module-register,
.module-memmenu,
.module-changepwd,
.module-viewcart
  max-width: 500px!important
  margin-left: auto
  margin-right: auto
  padding-bottom: 60px
  @media #{$mobile}
    padding-bottom: 30px
    margin: 30px
  .mt
    h3
      +title

.btn
  +btn

.module-forgetpsw,
.module-changepwd
  .form-group
    margin-top: 15px

.module-fav
  display: none