.module-login,
.module-forgetpsw,
.module-register,
.module-memmenu,
.module-changepwd,
.module-viewcart,
.module-formlist,
.module-orderlist,
.module-consignee,
.module-billto
  max-width: 750px!important
  margin-left: auto
  margin-right: auto
  padding-bottom: 60px
  margin-top: 60px
  @media #{$mobile}
    margin-top: 30px
    padding-bottom: 30px
    margin: 30px
  .mt
    border-color: #0a1e25
    h3
      border-color: #0a1e25
      color: #0a1e25
      text-align: center
      font-weight: bold
      font-size: 26px
  .btn
    margin-top: 30px

.btn
  +btn

.module-forgetpsw,
.module-changepwd
  .form-group
    margin-top: 15px

.module-fav
  display: none

.module-misc
  display: none

.module-
  margin-top: 30px
  @media #{$mobile}
    padding: 0 15px
  .msg
    margin-bottom: 30px

.hdmenu
  display: none

.list-group-item 
  a
    +trans
    &:hover
      background: #0a1e25

.mecmemcouponlist,
.mecrequirerecord,
.postedform
  display: none

.module-sublist
  display: none

.showother .consignee-btn-add, .ecconsignee-add .form-btn .mbtn-top
  background: none
  +btn
  letter-spacing: 0
  width: auto

.module-cart .d-cart .mremove .ico
  background-repeat: no-repeat!important
  background-size: 16px 16px!important
  background-position: center!important