.navbar.navbar.navbar
  position: fixed
  margin-bottom: 0
  z-index: 99
  width: 100%
  border: 0
  box-shadow: none
  border-radius: 0
  background: rgba(#f4fff5, .9)
  padding: 10px 0
  border-top: 0
  // border-bottom: 1px solid rgba(#d3a500, .31)
  @media #{$mobile}
    padding-top: 0
    padding: 0
    padding-bottom: 5px
  .link
    display: flex
    flex-wrap: nowrap
    position: relative!important
    z-index: 999999999
    @media screen and (min-width: 768px)
      padding-left: 5vw
      margin-right: 10px
    @media #{$mobile}
      margin-left: 10px
      flex-wrap: wrap
    @media #{$padV}
      padding-left: 5px
      flex-wrap: wrap
    @media #{$padH}
      padding-left: 5px
      margin-right: 20px
    li
      @media #{$mobile}
        padding: 2.5px
    a
      border: 0!important
      &:hover
        opacity: 0.7
      @media #{$padV}
        margin-left: 5px!important

  // .social
  //   padding: 0px 0 15px
  //   position: absolute
  //   top: 10px
  //   right: 15px
  //   display: flex
  //   flex-wrap: nowrap
  //   @media #{$mobile}
  //     width: 90%
  //     max-width: 100%
  //     right: 0
  //     position: static
  //     margin-top: 10px
  //     margin-left: auto
  //     margin-right: auto
  //     flex-direction: column-reverse
  //     flex-wrap: wrap
  //     margin: 0
  //     padding: 0
  //     width: 100%
  // .formBS
  //   width: 219px
  //   @media #{$mobile}
  //     width: 80%
  //     margin-top: 15px
  //     margin-left: auto
  //     margin-right: auto
  //     position: absolute
  //     bottom: -40px
  //     left: 7.5px
  //   .input-group
  //     position: relative
  //     display: block
  //   input
  //     border: 1px solid #707070
  //     border-radius: 6px
  //     height: 26px
  //     background: none
  //     font-size: 16px!important
  //   .input-group-btn
  //     height: 26px
  //     padding: 0
  //     position: absolute
  //     right: 20px
  //     top: 4px
  //     width: 13px
  //     height: 13px
  //     z-index: 99999
  //     .btn
  //       width: 13px
  //       height: 13px
  //       border: 0
  //       background: none
  .container-fluid
    // width: calc(100% - 160px)
    // max-width: 1130px
    margin: 0 auto
    position: relative
    padding: 0 3vw
    @media #{$mobile}
      padding: 0
      width: 100%
    @media #{$padV}
      padding: 0
    @media #{$padH}
      padding: 0
  .header
    border: 0
  .navbar-brand
    margin-left: 0px
    margin-top: 0px
    @media screen and (min-width: 768px)
      padding: 0
    @media #{$mobile}
      max-width: 250px
      max-height: 54px
      margin-top: 5px
      margin-left: 25px
      margin-bottom: 0px
      padding: 0
      background-position: left center!important
  .navbar-toggle
    border: 0
    margin-top: 15px
    margin-right: 0
    background: none
    border-radius: 0
    @media #{$padV}
      display: block
      margin-top: 15px
      margin-right: 15px
    .sr-only
      display: none
    //   &::before,
    //   &::after
    //     background: #000
    .icon-bar
      background: $color-green
      width: 30px
      margin-bottom: .5rem
      &::before,
      &::after
        display: none
  .navbar
    border: 0
    background: $color-green
    padding-bottom: 0px
    @media #{$mobile}
      padding-bottom: 0px
  .navbar-header
    @media #{$padV}
      width: 100%
      padding: 0 15px
  #navbar
    padding: 0
    // @media screen and (min-width: 768px)
    //   margin-right: 60px
    @media #{$mobile}
      width: 100%
      margin: 0
      background: #d1e6df
      padding-bottom: 0px
      box-shadow: none
      padding-top: 15px
      margin-bottom: -15px
      a
        border: 0
        color: white
    &.collapse
      @media #{$padV}
        display: none!important
    .navbar-nav
      float: left
      position: initial
      // width: 100%
      @media screen and (min-width: 768px)
        display: flex
        justify-content: space-around
        align-items: center
        margin-top: 15px
        padding-left: 0px
      @media #{$mobile}
        margin: 0
        float: left
        margin-top: 15px
        width: 100%
        padding: 0 5px
        margin-top: 0
      @media #{$padV}
        display: block
        margin: 0
        float: left
        margin-top: 15px
        width: 100%
        padding: 0 15px
        margin-top: 0
        margin: 0
      *
        color: $color-b
        font-size: 17px
        font-weight: 300
        letter-spacing: 0.05rem
        text-transform: initial!important
      >li
        @media screen and (min-width: 768px)
          margin-left: 10px
        @media #{$padH}
          width: 100%
          margin-left: 0
        @media #{$padV}
          width: 100%
          margin-left: 0
        >a
          position: relative
          // overflow: hidden
          text-transform: uppercase
          color: $color-b
          padding-bottom: 0
          font-weight: normal
          // padding-left: 8px
          border: 1px solid $color-n
          padding: 0.5rem 1.25rem
          border-radius: 5px
          +trans
          @media screen and (min-width: 768px)
            margin-right: 0px
          @media #{$padV}
            margin: 0
          @media #{$padH}
            padding: 5px 7.5px
          &:hover
            color: $color-green
            border: 1px solid $color-n
        // &.facebook
        //   @media screen and (min-width: 768px)
        //     margin-left: 2vw
        //   a
        //     padding-left: 23px
        //     display: inline-block
        //     float: left
        //     width: auto
        //     img
        //       width: 23px
        //       height: 23px
      li
        position: initial
        // padding-bottom: 15px
        padding-bottom: 10px
        a
          // border: 0
          // padding-bottom: 0
          transition: $trans
          &.dropdown-toggle
            @media #{$mobile}
              display: block
            &::before
              @media #{$mobile}
                content: '+'
                color: $color-green
                float: right
                font-size: 24px
              @media #{$padV}
                content: '+'
                color: $color-green
                float: right
                font-size: 24px
        &.dropdown
          @media screen and (min-width: 768px)
            position: relative
            z-index: 99999999
          .dropdown-menu
            left: 0
            background: rgba($color-green, .7)
            border: 0
            width: 100%
            overflow: initial
            box-shadow: none
            @media #{$mobile}
              margin-top: 5px
            @media #{$padV}
              display: none
          &:hover,
          &.open
            .dropdown-toggle
              color: $color-green
              border: 1px solid $color-n
              &::before
                @media #{$mobile}
                  content: '-'
                @media #{$padV}
                  content: '-'
            .dropdown-menu
              border: 0
              width: 100%
              @media screen and (min-width: 768px)
                display: flex
                flex-wrap: wrap
              @media #{$mobile}
                width: calc(100% - 7px)
                margin: 7.5px 5px
              @media #{$padV}
                position: static
                margin: 7.5px 0px
              li
                padding-bottom: 0
                @media screen and (min-width: 768px)
                  width: 100%
                a
                  padding: 0
                  padding: 7.5px 0
                  font-size: 16px
                  white-space: nowrap
                  font-weight: normal
                  transition: $trans
                  color: white
                  padding-left: 15px
                  &:hover
                    color: $color-green
  .navbar
    &+.search.search.search
      margin-left: 0px
      background: #000
      padding: 15px
      .input-group
        margin-left: 0
      input
        width: calc(100% - 28px)
  .nav-form
    position: relative
    margin-right: 15px
    @media #{$padV}
      width: 100%
      display: flex
      flex-wrap: nowrap
      align-items: center
      margin-right: 0
      padding-left: 7.5px
      margin-bottom: 15px
    @media #{$mobile}
      width: 100%
      display: flex
      flex-wrap: nowrap
      align-items: center
      margin-right: 0
      padding-left: 7.5px
      margin-bottom: 15px
    &.show
      .formBS
        width: 150px
    .toggle-search
      position: relative
      top: 7px
      font-size: 22px!important
      cursor: pointer
      color: $color-green!important
      @media #{$mobile}
        top: 0
        margin-left: 15px
    .formBS
      position: absolute
      top: 0px
      right: 30px
      width: 150px
      overflow: hidden
      +trans
      width: 0
      @media #{$padV}
        position: static
        width: calc(100% - 40px)
      @media #{$mobile}
        position: static
        width: calc(100% - 40px)
        // margin-top: 15px
        // margin-bottom: 15px
      .input-group
        @media #{$padV}
          margin-right: 0
          display: block
        @media #{$mobile}
          margin-right: 0
          display: block
        input
          border-top: 0
          border-left: 0
          border-right: 0
          border-radius: 0
          border: 1px solid #efefef
          border-radius: 0px
        .input-group-btn
          position: relative
          z-index: 9999
          button
            font-size: 16px
            color: $color-b
            margin: 0
            padding: 0
            background: none!important