.banner.page-banner
  z-index: -1
  margin-bottom: 55px
  padding-top: 113px
  @media #{$mobile}
    padding-top: 113px
    margin-bottom: 30px
    padding: 0
  .row
    min-height: 400px
    position: relative
    @media #{$mobile}
      min-height: 250px
  .col-xs-12
    @media #{$mobile}
      padding: 0
  .banner-img
    height: 100%
    position: absolute
    left: 0
    top: 0
    background-position: center!important
    background-repeat: no-repeat!important
    background-size: cover!important