.idx.section-4
  $col-3: 250px
  >.row
    display: flex
    @media #{$mobile}
      display: block
    @media #{$pad-horizantal}
      display: block
    @media #{$pad-vertical}
      display: block
  .col-md-3
    width: $col-3
    background: url(#{$url}section-4-mask.svg) center center no-repeat
    background-size: cover
    background-position: right center
    min-height: 250px
    display: flex
    align-items: center
    padding-left: 50px
    @media #{$mobile}
      width: 100%
      text-align: center
      margin-bottom: 30px
      background: none
      min-height: initial
      justify-content: center
      padding-left: 0
    @media #{$pad-horizantal}
      width: 100%
      text-align: center
      background: none
      min-height: initial
      justify-content: center
      padding-left: 0
      margin-bottom: 30px
    @media #{$pad-vertical}
      width: 100%
      text-align: center
      background: none
      min-height: initial
      justify-content: center
      padding-left: 0
      margin-bottom: 30px
  .col-md-9
    width: calc(100% - #{$col-3})
    display: flex
    align-items: center
    padding-left: 100px
    padding-right: 170px
    @media #{$mobile}
      width: 100%
      padding-left: 50px
      padding-right: 50px
    @media #{$pad-horizantal}
      width: 100%
      padding-left: 60px
      padding-right: 60px
    @media #{$pad-vertical}
      width: 100%
      padding-left: 60px
      padding-right: 60px
  .owl-carousel
    .item
      padding-top: 100%
      a
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        &::after
          content: ''
          display: block
          width: 1.5px
          height: 80px
          background: #cccccc
          position: absolute
          right: -10px
          top: calc((100% - 80px) / 2)
    .owl-controls
      .owl-nav
        .owl-prev
          background: url(#{$url}arrow_l.svg) center center no-repeat
          left: -50px
          top: 55%
          @media #{$mobile}
            top: 60%
        .owl-next
          background: url(#{$url}arrow_r.svg) center center no-repeat
          right: -50px
          top: 55%
          @media #{$mobile}
            top: 60%