.idx.section-1
  margin-top: 30px
  margin-bottom: 35px
  @media #{$mobile}
    margin-top: 15px
    margin-bottom: 20px
  max-width: 911px
  margin-left: auto
  margin-right: auto
  .module-title
    +module-title
  p
    color: #5e5957
    font-size: 17px
    line-height: 45px
    margin-bottom: 0
  p.more
    text-align: center
    margin-top: 20px
    a.btn
      +btn