.idx.section-2
  margin-top: 75px
  margin-bottom: 40px
  +max-width
  @media #{$mobile}
    margin-top: 30px
    margin-bottom: 30px
  .row
    margin: 0 -15px
    @media #{$mobile}
      padding: 0 15px
  .title-content
    margin-bottom: 50px
    @media #{$mobile}
      margin-bottom: 25px
  .list
    margin: 0
    @media #{$mobile}
      margin: 0 auto
      max-width: 400px
      display: flex
      justify-content: flex-start
      flex-wrap: wrap
      padding: 0
    .col-md-2
      padding: 0 40px
      margin-bottom: 40px
      @media #{$mobile}
        width: 33.3333333%
        padding: 0 15px
        margin-bottom: 30px
      a
        display: block
        +trans
        &:hover
          opacity: 0.5
      .img
        padding-top: 100%
        position: relative
        margin-bottom: 7.5px
        .svg
          position: absolute
          width: 100%
          height: 100%
          top: 0
          left: 0
          background-size: contain!important
          background-position: center!important
          background-repeat: no-repeat!important
      .text
        text-align: center
        p
          font-size: 16px
          font-weight: 600
          color: #231815
          padding-bottom: 0
          margin-bottom: 0
          white-space: nowrap
          @media #{$mobile}
            font-size: 14px
          &+p
            font-size: 14px
            color: #4d6f4b
            font-weight: 500
            @media #{$mobile}
              font-size: 12px