.idx.section-6
  background: #f5f5f5
  padding-top: 30px
  padding-bottom: 30px
  .module-title
    +module-title
    margin-bottom: 70px
    @media #{$mobile}
      margin-bottom: 35px
  .list-inline
    display: flex
    flex-wrap: nowrap
    justify-content: space-around
    align-items: center