.idx.container-fluid
  +max-width
  margin-top: 90px
  margin-bottom: 90px
  @media #{$mobile}
    margin-top: 45px
    margin-bottom: 45px
  .row
    @media screen and (min-width: 768px)
      margin: 0 -15px

.idx.section-1
  $imgW: 389px
  .row
    @media screen and (min-width: 768px)
      display: flex
  .img
    @media screen and (min-width: 768px)
      width: $imgW
    img
      width: 100%
  .text
    background: #ebebeb
    padding: 30px
    @media screen and (min-width: 768px)
      width: calc(100% - #{$imgW})
    @media #{$mobile}
      padding: 15px
      margin-top: 15px
  .module-title
    +module-title
    margin-bottom: 30px
  p
    color: $color-b
    text-align: center
    font-size: 17px
    line-height: 30px
    margin-bottom: 0
