.idx.section-4
  background: #f5f5f5
  padding: 50px 0
  padding-bottom: 50px
  @media #{$mobile}
    padding: 25px 15px
  .module-title
    margin-bottom: 70px
    @media #{$mobile}
      margin-bottom: 35px
  .row
    +max-width
  .img
    position: relative
    @media screen and (min-width: 768px)
      width: 622px
    img
      +shadow
      position: relative
      z-index: 1
    &::after
      content: ''
      display: block
      width: 98%
      height: 100%
      background: #dae5ed
      position: absolute
      right: -15px
      bottom: -10px
  .text
    @media screen and (min-width: 768px)
      width: calc(100% - 622px)
      padding-left: 60px
  .text
    @media #{$mobile}
      margin-top: 30px
    .title
      font-size: 30px
      font-weight: 600
      letter-spacing: 0.05rem
      color: #0d80b2
      position: relative
      @media #{$mobile}
        font-size: 22px
      &::after
        content: ''
        width: 100%
        height: 2px
        background-image: linear-gradient(to right, #726658 0%, #726658 40%, transparent 50%)
        background-size: 10px 100% 
        background-repeat: repeat-x
        display: block
        margin: 15px 0 7.5px
    p
      background: #fff
      border-radius: 22px
      padding: 7.5px 15px
      margin-bottom: 7.5px
      font-weight: 600
      color: #006ab7
      &::before
        content: ''
        display: inline-block
        background: white
        border: 1px solid #ff6699
        border-radius: 50%
        width: 12px
        height: 12px
        margin-right: 15px