a
  &:hover,
  &:focus
    outline: 0
    text-decoration: none
html
  overflow-x: hidden
  body,
  .wrap,
  .main
    // background: #f8f9f9
    min-height: calc(100vh - 30px)
.langbar
  display: none

.svg
  display: inline-block
  background-size: contain!important
  background-repeat: no-repeat!important
  background-position: center!important

.text-green
  color: $color-green
.text-blue
  color: $color-blue

=bg-grey
  background: #f2f2f3
=max-width
  max-width: 1100px

=box-shadow
  box-shadow: 4px 4px 30px -5px rgba(0, 0, 0, .5)
=text-shadow
  text-shadow: 1px 1px 30px rgba(#000, 1)
=trans
  transition: .7s ease-in-out

=title
  text-align: center
  border-bottom: 1.5px solid #507f71
  padding-bottom: 30px
  margin-bottom: 30px
  span
    color: #12804a
    font-size: 29px
    font-weight: normal
    position: relative
    font-weight: 500
    &::before
      content: ''
      width: 40px
      height: 31px
      background: url(#{$url}title-icon-1.svg) center center no-repeat
      background-size: contain
      display: inline-block
      position: absolute
      left: -20px
      top: -10px
=sub-title
  font-size: 23px
  font-weight: bold
  line-height: 2.5rem
  @media #{$mobile}
    font-size: 18px

.page,
.module-detail
  .title
    +title
    margin-bottom: 60px
    @media #{$mobile}
      margin-bottom: 30px
  p, figcaption
    font-size: 16px
    line-height: 30px
    margin-bottom: 15px
    color: $color-b
    @media #{$mobile}
      margin-bottom: 15px
  >.row
    +max-width
    margin-left: auto
    margin-right: auto
  ul
    padding-left: 20px
    margin-bottom: 30px
  a
    font-size: 16px
    border-bottom: 1px solid $color-green
  small
    font-size: 16px

.mbtn, .btn
  +btn
  border-color: $color-blue
  margin-left: auto
  margin-right: auto
  background: $color-blue
  color: white
  span
    color: white
    +trans
  &:hover
    background: none
    color: $color-blue
    span
      color: $color-blue

body:not(.page_mobilehome)
  background: url(#{$url}section-4-bg.png) center center repeat-y
  background-size: contain

.module-
  +max-width
  margin-left: auto
  margin-right: auto
  margin-bottom: 60px
  @media #{$mobile}
    margin-bottom: 30px
  .mt
    margin-bottom: 15px
    h3
      color: $color-green
      border-bottom: 1px solid #ccc
      padding: 0
      padding-bottom: 15px
      line-height: 2.5rem
      font-size: 28px
      font-weight: bold
  h5
    background: none!important
    padding-left: 0!important
    // border-bottom: 1px dotted #ccc
    a
      font-size: 20px
      color: $color-blue

