.banner
    padding: 0
    position: relative
    width: 100%
    .hgroup
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 2
        @media #{$mobile}
            position: static
        .col-xs-12
            height: 100%
            display: flex
            align-items: flex-end
            justify-content: center
            padding-bottom: 4em
            @media #{$mobile}
                display: block
                padding-bottom: 0
            .group
                width: 350px
                height: 350px
                background: rgba($color-b, .7)
                display: flex
                align-items: center
                justify-content: center
                flex-wrap: wrap
                border-radius: 50%
                padding-top: 4em
                padding-bottom: 4em
                @media #{$mobile}
                    width: 100%
                    height: auto
                    border-radius: 0
                    display: block
                    padding-top: 2em
                    padding-bottom: 2em
                *
                    color: #fff
                .circle
                    display: block
                    width: 8px
                    height: 8px
                    background: #fff
                    border-radius: 50%
                    margin: 0 auto 2em
                    @media #{$mobile}
                        margin-bottom: 0
                .scroll
                    position: relative
                    transition: .3s ease
                    &:hover
                        transform: translateY(10px)
                .cls-1
                    fill: none
                h3.title
                    font-size: 32px
                    letter-spacing: 0.1em
                    width: 100%
                    margin-bottom: 0
                    @media #{$mobile}
                        font-size: 26px
                        margin-bottom: 0.5em
                .sub_title
                    margin-top: 0
                    font-size: 20px
                    letter-spacing: 0.1em
                    width: 100%
                a
                    display: block
                    width: 30px
                    margin: 2em auto 0
                    @media #{$mobile}
                        margin-top: 0
    .col-xs-12
        padding: 0
    .owl-controls
        position: absolute
        width: 100%
        bottom: 1em
    .owl-dots
        width: 100%
        display: flex
        flex-wrap: nowrap
        justify-content: center
        position: absolute
        bottom: 1em
        .owl-dot
            margin: 0 .7em
            span
                opacity: 1
                background: $color-b
                display: block
                border-radius: 50%
                width: 8px
                height: 8px
            &.active
                opacity: .5