.navbar.navbar.navbar
  position: fixed
  top: 0
  margin-bottom: 0
  z-index: 9
  width: 100%
  border: 0
  box-shadow: none
  border-radius: 0
  background: #bdd2c3
  padding: 30px 0
  border-top: 0
  padding-top: 90px
  padding-bottom: 0
  // border-bottom: 1px solid rgba(#d3a500, .31)
  @media #{$mobile}
    padding: 7.5px 0
    padding-bottom: 0
  // @media #{$pad-vertical}
  //   padding: 15px
  // @media #{$pad-horizantal}
  //   padding: 15px
  .container-fluid
    // width: calc(100% - 160px)
    // max-width: 1130px
    margin: 0 auto
    padding: 0
    @media #{$mobile}
      padding: 0
      width: 100%
    @media #{$pad-vertical}
      padding: 0
    @media #{$pad-horizantal}
      padding: 0
    // @media #{$padV}
    //   padding: 0
    // @media #{$padH}
    //   padding: 0
  .header
    border: 0
  .navbar-brand
    margin-left: 0px
    margin-top: 0px
    @media screen and (min-width: 768px)
      padding: 0
      position: absolute
      left: 55px
      top: 3.25px
    @media #{$mobile}
      padding: 0
      background-position: left center!important
      max-width: 80px
      max-height: 80px
      margin-left: 22.5px
      position: relative
      top: -5px
      z-index: 9
  .navbar-toggle
    border: 0
    margin-top: 27px
    margin-right: 0
    background: none
    border-radius: 0
    // @media #{$padV}
    //   display: block
    //   margin-top: 15px
    //   margin-right: 15px
    .sr-only
      display: none
    .icon-bar
      background: #5b8258
      width: 30px
      margin-bottom: .5rem
      +trans
      &::before,
      &::after
        display: none
    &:not(.collapsed)
      .icon-bar
        &:nth-of-type(2)
          opacity: 0
        &:nth-of-type(3)
          transform: rotate(45deg) translate(0, 0)
        &:nth-of-type(4)
          transform: rotate(-45deg) translate(6px, -7px)
  .navbar
    border: 0
    background: none
    padding-bottom: 0px
    @media #{$mobile}
      padding-bottom: 0px
  .navbar-header
    @media #{$mobile}
      position: relative
      float: left
      width: 100%
      margin: 0
    &::after
      @media #{$mobile}
        content: ''
        display: block
        width: 100%
        height: 15px
        background: #5b8258
        position: absolute
        bottom: 0
        left: 0

  //   @media #{$padV}
  //     width: 100%
  //     padding: 0 15px
  #navbar
    padding: 0
    background: #5b8258
    @media screen and (min-width: 768px)
      width: 100%
      padding-top: 3.25px
      padding-bottom: 0px
      display: flex!important
      justify-content: flex-end
      padding-right: 20px
    @media #{$mobile}
      width: 100%
      margin: 0
      padding-bottom: 15px
      box-shadow: none
      padding-top: 15px
      margin-bottom: -15px
      a
        border: 0
        color: white
    // &.collapse
    //   @media #{$padV}
    //     display: none!important
    .navbar-nav
      float: left
      position: initial
      @media screen and (min-width: 768px)
        display: flex
        justify-content: space-around
        align-items: center
        margin-top: 0
        padding-left: 0px
      @media #{$mobile}
        margin: 0
        float: left
        margin-top: 15px
        width: 100%
        padding: 0 5px
        margin-top: 0
      *
        color: #808080
        font-size: 17px
        letter-spacing: 0.05rem
        text-transform: initial!important
        font-family: 'Noto Serif TC'!important
        font-weight: 500!important
      >li
        @media screen and (min-width: 768px)
          margin-left: 10px
        @media #{$pad-vertical}
          margin-left: 2.5px
        @media #{$mobile}
          float: left
          width: 100%
          margin-bottom: 8px
        >a
          position: relative
          text-transform: uppercase
          color: #f2f0f0
          padding-bottom: 0
          font-weight: normal
          border: 0
          padding: 0.5rem 0
          border-radius: 0px
          font-size: 18px
          font-weight: 500
          +trans
          @media screen and (min-width: 768px)
            margin-right: 0px
          @media #{$pad-vertical}
            font-size: 13px
          // @media #{$padH}
          //   padding: 5px 7.5px
          &:hover
            color: #bdd2c3
            border-bottom: 0
      li
        position: initial
        padding-bottom: 0px
        margin-left: 3.5vw
        padding-bottom: 3.25px
        @media #{$pad-horizantal}
          margin-left: 3vw
        @media #{$pad-vertical}
          margin-left: 1vw
        @media #{$mobile}
          margin-left: 0
        &.link
          position: relative
          top: -5px
          margin-left: 3vw
          @media #{$mobile}
            margin-left: 5px
        a
          transition: $trans
          &.dropdown-toggle
            @media #{$mobile}
              display: block
            &::before
              @media #{$mobile}
                content: '▼'
                color: white
                float: right
                font-size: 14px
        &.dropdown
          @media screen and (min-width: 768px)
            position: relative
            z-index: 99999999
          @media #{$mobile}
            width: 100%
            float: left
          .dropdown-menu
            left: 0
            background: rgba(#bdd2c3, .7)
            border: 0
            width: 100%
            overflow: initial
            @media #{$mobile}
              margin-top: 5px
            // @media #{$padV}
            //   display: none
          &:hover,
          &.open
            .dropdown-toggle
              color: #bdd2c3
              border: 0
              &::before
                @media #{$mobile}
                  content: '-'
                // @media #{$padV}
                //   content: '-'
            .dropdown-menu
              border: 0
              width: 100%
              @media screen and (min-width: 768px)
                display: flex
                flex-wrap: wrap
              @media #{$mobile}
                width: calc(100% - 7px)
                margin: 7.5px 5px
              // @media #{$padV}
              //   position: static
              //   margin: 7.5px 0px
              li
                padding-bottom: 0
                @media screen and (min-width: 768px)
                  width: 100%
                  margin-left: 0
                @media #{$pad-horizantal}
                  margin-left: 0
                @media #{$pad-vertical}
                  margin-left: 0
                a
                  padding: 0
                  padding: 7.5px 0
                  font-size: 16px
                  white-space: nowrap
                  font-weight: normal
                  transition: $trans
                  color: #5b8258
                  padding-left: 15px
                  @media #{$pad-vertical}
                    font-size: 13px
  .navbar
    &+.search.search.search
      margin-left: 0px
      background: #000
      padding: 15px
      .input-group
        margin-left: 0
      input
        width: calc(100% - 28px)