- var url = '/ezfiles/786/1786/img/485/'

.news-detail
  p(data-aos="fade-up") 為了預防新冠肺炎(COVID-19)感染，許多人長時間配戴口罩，而使肌膚悶出了「口罩肌」。
  p.img(data-aos="fade-up")
    img.img-responsive(src=url + "news-d-1.png", alt="")
  p(data-aos="fade-up") 口罩肌」的產生是因為戴口罩長時間悶住且頻繁摩擦，造成皮膚的溫度、濕度上升，而溫度每上升1℃，皮脂會增加10%的分泌量，油脂過度分泌將使毛孔堵塞，同時也成為厭氧菌繁衍的溫床。當皮膚的菌相平衡被破壞，就容易衍生出痘痘、泛紅、敏感等肌膚問題。
  p(data-aos="fade-up") 正因為微生物菌相平衡是我們肌膚的第一道屏障，所以化妝品原料近期吹起一股訴求「肌膚菌相平衡」的風潮，主打保濕、屏障、修護等功效，而這些活性成分則以
    span.text-red 酵母萃取、益生菌、益生質
    | 為大宗。例如一滴含3,000 萬個益菌萃取的「小黑瓶」-蘭蔻超進化肌因賦活露，號稱以4種益生菌+3種益生質組成的7大益生菌專利配方，或是與歐洲益生菌生技大廠CLR聯手打造的施巴「PRO!益生菌保養系列」，則是以乳酸菌煥膚再生萃取液(ProRenew Complex CLR™)、益生菌修護因子為系列主要成分。
  figure.img(data-aos="fade-up")
    img.img-responsive(src=url + "news-d-2.png", alt="")
    figcaption 圖片ㄧ
  figure.img(data-aos="fade-up")
    img.img-responsive(src=url + "news-d-3.png", alt="")
    figcaption 圖片二
  p(data-aos="fade-up") 而妍禾生醫在「維持肌膚菌相平衡、杜絕口罩肌」的解決對策，則是藉由天然植物來源的Imdermalab®香雪松萃取與通過COSMOS天然認證的Imdermalab®金萱茶多酚打造差異化行銷賣點。透過ImDerma P2級微生物實驗室驗證，能夠有效抑制壞菌，提升皮膚保水控油力，維持好膚質。想要知道更多我們的解決對策？歡迎與我們聯繫。