- var url = '/ezfiles/872/1872/img/1681/'

.page.container-fluid.aboutus
  .row
    .col-xs-12
      p
        | WAZA，唸「瓦薩」。
        br
        | 其實就是由What’s up來取名的。
      p
        | 生活風格品牌，要給你們最有質感的生活品牌。
        br
        | 從生活出發，將生活融入商品設計，展現對生活的態度與精神。
      p
        | 主要分為海洋系列與城市系列。
        br
        | 期望藉由不同的商品設計，為每個喜愛WAZA的朋友打造代表生活的穿搭，
        br
        | 更希望透過品牌讓讓世界更能關注需要關注的問題、議題，而自然做出一點點改變，
        br
        | 所有的一點點都是小小星辰，集結在一起變成耀眼銀河。
      p.text-center
        a.btn(href="")  Shop Now