- var url = '/ezfiles/786/1786/img/485/'

.page.contact.container-fluid
  .row
    .col-sm-6.col-xs-12(data-aos="fade-up")
      .content
        h4.title
          span.svg(style="background:url("+url+"contact-icon-1.svg);")
          | 新竹總部
        p 
          span.svg(style="background:url("+url+"contact-icon-2.svg);")
          | 聯絡電話：
          a(href="tel: +886-3-575-2901") +886-3-575-2901
        p 
          span.svg(style="background:url("+url+"contact-icon-3.svg);")
          | 傳真電話：+886-3-575-2468
        p 
          span.svg(style="background:url("+url+"contact-icon-4.svg);")
          | 聯絡地址：300 新竹市東區東美路91巷5號5F 
        p 
          span.svg(style="background:url("+url+"contact-icon-5.svg);")
          | 聯絡信箱：
          a(href="mailto: joanneliang@tfmintl.com.tw ") joanneliang@tfmintl.com.tw 
        p 
          span.svg(style="background:url("+url+"contact-icon-6.svg);")
          | 服務時間：周一至周五 AM 8:00 - PM 5:00
    .col-sm-6.col-xs-12(data-aos="fade-up")
      .content
        h4.title
          span.svg(style="background:url("+url+"contact-icon-1.svg);")
          | 台北辦公室
        p
          span.svg(style="background:url("+url+"contact-icon-2.svg);")
          | 聯絡電話：
          a(href="tel: +886-2-2535-1178") +886-2-2535-1178
        p 
          span.svg(style="background:url("+url+"contact-icon-4.svg);")
          | 聯絡地址：103 台北市大同區民族西路84號
        p 
          span.svg(style="background:url("+url+"contact-icon-6.svg);")
          | 服務時間：周一至周五 AM 8:30 - PM 5:30
    .col-sm-6.col-xs-12(data-aos="fade-up")
      .content
        h4.title
          span.svg(style="background:url("+url+"contact-icon-1.svg);")
          | 宜蘭綠色萃取工廠
        p
          span.svg(style="background:url("+url+"contact-icon-4.svg);")
          | 地址：270宜蘭縣蘇澳鎮頂安路2號
          br
          | No.2, Ding’an Rd., Su’ao Township,Yilan County 270, Taiwan
    .col-sm-6.col-xs-12(data-aos="fade-up")
      .content
        h4.title
          span.svg(style="background:url("+url+"contact-icon-1.svg);")
          | 美國辦公室
        p
          span.svg(style="background:url("+url+"contact-icon-4.svg);")
          | 地址：PO Box 872377, Vancouver, WA, USA, 98687
        p
          span.svg(style="background:url("+url+"contact-icon-2.svg);")
          | 電話：
          a(href="tel: +1-415-216-6223") +1-415-216-6223
    .col-sm-6.col-xs-12(data-aos="fade-up")
      .content
        h4.title
          span.svg(style="background:url("+url+"contact-icon-1.svg);")
          | 歐洲辦公室
        p
          span.svg(style="background:url("+url+"contact-icon-4.svg);")
          | 地址：Van der Takstraat 8, 3071LL, ROTTERDAM, The Netherlands
    .col-sm-6.col-xs-12(data-aos="fade-up")
      .content
        h4.title
          span.svg(style="background:url("+url+"contact-icon-1.svg);")
          | 中國辦公室
        p 
          span.svg(style="background:url("+url+"contact-icon-4.svg);")
          | 地址：上海市青浦區明珠路1018號A707室.
        p 
          span.svg(style="background:url("+url+"contact-icon-2.svg);")
          | 電話：
          a(href="tel: +866-1391-658-9099") +866-1391-658-9099