- var url = '/ezfiles/761/1761/img/209/'
.page.container-fluid.prod
  //- .row
  //-   .col-xs-12
  //-     h3.title.text-center.text-green DC樹突細胞疫苗
  .row
    .col-xs-12
      h5.sub-title.text-blue WT1-DC
      p 樹突細胞(Dendritic cell，DC)是目前已知功能最強之抗原呈現細胞，扮演引發先天性及後天性免疫反應之重要角色。樹突細胞在細胞免疫反應建立的過程也扮演了重要角色。樹突細胞會透過主要組織相容性複合體 (MHC) 分子，將其分解抗原後所得之抗原表位片段 (epitope) 呈現在細胞表面，藉由epitope：MHC 複合物與T細胞 (T cells) 表面之T細胞受體 (TCR) 結合，配合細胞激素及其他細胞表面分子之結合刺激T細胞，促使其成熟分化為輔助型T細胞 (Th cells) 或毒殺型T細胞(CTLs)，其中CTLs的分化過程，亦需Th1型之輔助型T細胞之協助。由此可知，樹突細胞之抗原呈現效率，以及其刺激T 細胞分化的能力，為左右CTLs分化及毒殺能力之關鍵。
      p 鑫品生醫技術是利用血液分離術大量取得病人的周邊血單核球細胞，於體外加入特定細胞激素及藥物誘導單核球細胞分化成樹突細胞後，使其在最有利之條件下攝取並處理日本tella授權的高效腫瘤抗原WT-1，再將此攜有腫瘤抗原之樹突細胞做為一治療性疫苗，注射入癌症病人體內後能夠重新刺激產生或活化對抗腫瘤之殺手T細胞反應，進而抑制腫瘤之生長。