- var url = '/ezfiles/853/1853/img/1414/'
include ../custom_module/title.pug
<!DOCTYPE html>
html(lang="zh-hant")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/earlyaccess/notosanstc.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Serif+TC")
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
		link(rel="stylesheet", href="/ezfiles/853/1853/img/1415/usercss.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
		<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"></script>
		script(src="https://unpkg.com/vue")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js")
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
		script(src="/ezfiles/853/1853/img/1416/userjs.js")
		title Document
	body
		include ../custom_module/navbar3.pug
		//- include ../custom_module/owlcarousel.pug

		include ../index/section-1.pug
		include ../index/section-2.pug
		include ../index/section-3.pug
		include ../index/section-4.pug
		



		include ../custom_module/footer.pug
		//- include ../custom_module/gotop.pug