include ../custom_module/title.pug
<!DOCTYPE html>
html(lang="zh-hant")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css")
        link(rel="stylesheet", href="/dist/css/usercss.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js")
        <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.0/masonry.pkgd.min.js"></script>
        script(src="https://unpkg.com/vue")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js")
        script(src="/dist/js/userjs.js")
        title Document
    body
        include ../custom_module/navbar3.pug
        include ../custom_module/owlcarousel.pug

        section.idx.section_1.container-fluid
            .row
                +header-title('歡迎來到', 'LSP Taiwan 樂高認真玩')
            .row
                .container
                    .row
                        article.col-sm-12
                            img.img-responsive(src="", alt="")
                            p.title 什麼是樂高認真玩
                            br
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, obcaecati alias dolorum aut ipsam ad temporibus nihil iste voluptate neque cum totam cumque harum est quis quisquam facere ipsa excepturi.
                        article.col-sm-12
                            img.img-responsive(src="", alt="")
                            p.title 什麼是樂高認真玩
                            br
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, obcaecati alias dolorum aut ipsam ad temporibus nihil iste voluptate neque cum totam cumque harum est quis quisquam facere ipsa excepturi.
                        article.col-sm-12
                            img.img-responsive(src="", alt="")
                            p.title 什麼是樂高認真玩
                            br
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, obcaecati alias dolorum aut ipsam ad temporibus nihil iste voluptate neque cum totam cumque harum est quis quisquam facere ipsa excepturi.
                        footer.col-xs-12
                            a.pull-right(href="") read more
        section.idx.section_2.container-fluid
            .row
                .container
                    article.row
                        header.col-xs-12
                            h3.title 認識 樂高認真玩
                            h5.sub_title 部落格文章
                    .row
                        include ../custom_module/tab.pug
        include ../custom_module/footer.pug
        include ../custom_module/gotop.pug