- var url = '/ezfiles/872/1872/img/1681/'

.page.container-fluid.prod-text
  .row
    .col-xs-12
      p
        | 這個系列，讓大家更關注到環境、更認識海洋。
        br
        | 我們不用刻意提倡環保，因為相信當大家更認識且喜歡大海，
        br
        | 自然會做出一點點改變，所有的一點點都是小小星辰，集結在一起變成耀眼銀河。
      p
        | 最喜歡的一段話：
        br
        | 「我極其幸運在這座島嶼生長，
        br
        | 然而對海洋的認識，卻相對匱乏。
      p
        | 當我意識到另一個深藍且遼闊的世界，
        br
        | 如此親密又陌生的環抱著我的生長，
        br
        | 想要不斷地探索這個未知而迷人的世界，
        br
        | 直到生命的盡頭，都要跟她在一起。」 _《黑潮洶湧》
