- var url = '/ezfiles/761/1761/img/209/'

.banner.container.page-banner.hidden
	.row
		//- .col-xs-12.banner-text
		//- 	.text
		//- 		img.img-responsive(src=url+"banner-text.svg", alt="")
		.col-xs-12.banner-img(style="background:url("+url+"page-banner.png);")