- var url = '/ezfiles/766/1766/img/242/'

.banner.container-fluid.page-banner
	.row
		//- .col-xs-12.banner-text
		//- 	.text
		//- 		img.img-responsive(src=url+"banner-text.svg", alt="")
		.col-xs-12.banner-img(style="background:url("+url+"page-banner.png);")