- var url = '/ezfiles/786/1786/img/485/'

.page.service.container-fluid.section-1(style="background:url("+url+"service-bg.jpg);")
  .row
    .col-xs-12
      h4.title.text-center 360°肌膚保養整合方案
      ul.list-inline
        li
          a(href="#" data-aos="fade-up") 客製化原料開發
        li
          a(href="#" data-aos="fade-up") 化妝品原料功效性驗證平台 
        li
          a(href="#" data-aos="fade-up") 化妝品原料安全性驗證平台 
        li
          a(href="#" data-aos="fade-up") 微生物檢驗
        li
          a(href="#" data-aos="fade-up") 原料INCI申請
        li
          a(href="#" data-aos="fade-up") 各國法規遵循與諮詢 
        li
          a(href="#" data-aos="fade-up") 化妝品ODM/OEM代工

.page.service.container-fluid.section-2
  .row
    .col-xs-12
      p.title(data-aos="fade-up") 什麼是「360°肌膚保養整合方案」
      p(data-aos="fade-up") 我們換位思考品牌客戶在開發產品、尋找合作夥伴時會衡量的面向，如果能透過具有充足經驗且資源豐富的專業團隊，整合從原料、劑型、配方、確效、生產、品管到法規等各方面需求，提供安全、穩定、有效的客製化產品，便能節省許多時間，讓品牌團隊更能專注在後段的行銷與通路拓展。
      p(data-aos="fade-up") 而在目前的化妝品市場上，少有這樣強大的團隊能夠一站滿足全部需求，因此，妍禾生醫獨創「360°肌膚保養整合方案」，透過五大實驗室與ISO 22716認證的專業化妝品工廠，協助客戶「客製化原料開發」、「化粧品原料功效驗證平台」、「化妝品原料安全驗證平台」、「微生物檢驗」、「原料INCI申請」、「各國法規遵循與諮詢」、「化妝品ODM/OEM代工」，滿足360°全方位需求。
.page.service.container-fluid.section-3
  .row
    .col-xs-12
      p.title(data-aos="fade-up") 「360°肌膚保養整合方案」優勢
      ul.list-inline
        li
          .content
            .icon-box(data-aos="fade-up")
              span.svg(style="background:url("+url+"service-icon-1.svg);")
            p(data-aos="fade-up") 垂直整合，掌握市場脈絡
        li
          .content
            .icon-box(data-aos="fade-up")
              span.svg(style="background:url("+url+"service-icon-2.svg);")
            p(data-aos="fade-up") 單一對口，節省溝通時間
        li
          .content
            .icon-box(data-aos="fade-up")
              span.svg(style="background:url("+url+"service-icon-3.svg);")
            p(data-aos="fade-up") 源頭控管，降低開發成本
        li
          .content
            .icon-box(data-aos="fade-up")
              span.svg(style="background:url("+url+"service-icon-4.svg);")
            p(data-aos="fade-up") 豐富資源，協助品牌行銷
        li
          .content
            .icon-box(data-aos="fade-up")
              span.svg(style="background:url("+url+"service-icon-5.svg);")
            p(data-aos="fade-up") 科學實證，確保產品效能

.page.service.container-fluid.section-4
  .row
    .col-xs-12
      p.title(data-aos="fade-up") 「360°肌膚保養整合方案」流程
      img.img-responsive(src=url + "news.jpg", alt="")