- var url = '/ezfiles/761/1761/img/209/'
.page.container-fluid.support
  .row
    .col-xs-12
      h3.title.text-center.text-green 免疫細胞療法
      p 免疫細胞療法是利用自體免疫細胞來對抗癌症與病毒感染等疾病的先進醫療技術，1985年美國國家衛生院(NIH)更已將免疫療法列為手術、化療、放療以外的第四大癌症治療模式。
      p 傳統的手術治療，是針對局部性且須肉眼可見的固態腫瘤才能進行有效移除，若腫瘤生長部位過於複雜或是血癌等液態癌症，可能無法進行手術切除，且即便進行了手術仍需再經由化、放療才能進一步將肉眼看不到的癌細胞清除。但放射線治療也只能對於局部性且須肉眼可見的固態腫瘤進行清除治療，若是肉眼看不到或血癌等液態癌症還是須透過化學治療才能進一步將癌細胞清除。然而化療藥物缺乏專一性的特性，在清除癌細胞的同時也會攻擊正常的細胞，不僅會造成患者免疫能力降低，更可能出現嚴重的副作用。長期使用化療藥物更可能導致癌細胞產生抗藥性，以至於影響許多癌症復發患者的治療效果。
      p 免疫細胞療法是用自體的免疫細胞進行治療，除了能進行全身性治療並突破需肉眼可見才能治療的限制之外，因為使用的是自身的免疫細胞，不僅較無嚴重副作用產生，還可針對特定癌細胞進行專一性攻擊。此外，免疫細胞具有記憶能力的特性還可能有效抑制癌症的復發，2000年國際腫瘤生物治療及基因治療年會便指出，免疫細胞療法是現在科技中唯一有可能徹底清除癌細胞的方法。
      p 2006年日本厚生勞動省已將免疫細胞療法列為常規療法；2010年美國Dendreon公司的攝護腺癌疫苗Provenge也通過美國食品藥物管理局（FDA）核准正式上市，隔年更被納入聯邦醫保。同年加拿大免疫學家斯坦曼更因發現樹突細胞可以誘發後天免疫反應而獲得諾貝爾生醫獎，由此可知免疫細胞療法在國際上不但已是成熟的醫療技術外，更是未來治療癌症的新趨勢。目前免疫細胞治療在國際間的應用以自然殺手細胞療法、T細胞療法、樹突細胞療法、自體免疫疾病療法為主要的發展項目。
      .media
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-NNjDjXSJt0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>