- var url = '/ezfiles/761/1761/img/209/'
.page.container-fluid.support
  .row
    .col-xs-12
      h3.title.text-center.text-green 免疫細胞介紹
      p 精密巧妙的免疫系統是人體對抗疾病的重要防禦機制，藉由表面的特殊接受器，免疫細胞可以分辨出不屬於自身的外來細菌或病毒，甚至是由正常細胞轉變而成的癌細胞，並進一步地將其摧毀、清除。面對體外為數眾多的外來病原與體內產生的癌細胞，肩負保衛人體健康重任的免疫系統利用不具專一性的先天性免疫（Innate Immunity）與具有專一性的後天性免疫（Adaptive Immunity）築了兩道不同卻相互關連的複雜防線。
      img.img-responsive.center-block(src=url+"support-img-1.jpg", alt="")
      p 人體最外層的保護來自於體表皮膚與黏膜的物理屏障，會先阻斷大部分病原進入人體。其餘的病原一進入體內，體內抵抗病原的第一道防線＂先天性免疫＂就會立即起動，以NK細胞（Natural killer cell，自然殺手細胞）、顆粒球（Granulocyte）、巨噬細胞（Macrophage）等先天性免疫的成員進行吞噬（Phagocytosis）或毒殺這些外來病原。這些不具專一性攻擊的特性讓吞噬細胞不須經過教育與訓練，即便可快速針對外來病菌進行攻擊；但相對的這類初級殺手的能力也有所受限，當吞噬細胞無法有效消滅病原時，就必須仰賴具專一性攻擊的後天性免疫。
      .table-responsive
        table.table
          thead
            th.bg-green.text-white 先天性免疫
            th.bg-green.text-white 後天性免疫
          tbody
            tr
              td 非專一性反應
              td 致病原與抗原專一性反應
            tr
              td 病原曝露後即刻有強烈反應
              td 病原曝露後須經過一段時間才有強烈反應
            tr
              td 細胞性和體液性物質
              td 細胞性和體液性物質
            tr
              td 無免疫記憶
              td.text-green 具免疫記憶
            tr
              td 可在所有生物體內發現
              td 僅可在脊椎動物體內發現
      p 後天性免疫可以依據所遭遇的細菌、病毒或其他病原體進行調適與改變，針對抗原做出高度專一性反應的能力，所以又稱為適應性免疫力。除了具有專一性外，後天免疫更擁有長期記憶性，倘若日後再有同樣病原體攻擊時，後天性免疫系統便能快速的啟動並有效針對此病原體進行攻擊。主要成員包含具備製造抗體能力的B細胞以及負責清除外來病原和體內癌細胞的T細胞。
      p 不過T細胞需經由胸腺（Thymus）進行訓練，才能成為具有專一性毒殺能力的超級殺手。但隨著年齡的增長，負責訓練T細胞的胸腺會逐漸被脂肪組織所取代，這使得胸腺的功能在青春期達到最高峰後便開始衰退，等到年老時，胸腺已完全被脂肪所取代，此時不僅不再具有訓練T細胞的功能，免疫功能也因此跟著大打折扣。在每年損失0.8%～0.9%功能的情況下，到了80～90歲時，免疫功能僅剩不到年輕時的十分之一。