- var url = '/ezfiles/761/1761/img/209/'
.page.support.detail
  img.img-responsive.center-block(src=url+"support-news-img-1.jpg", alt="")
  p 樹突細胞（Dendritic cell，簡稱DC）是一種存在於人體的免疫細胞，主要源自於人類骨髓內的造血幹細胞（Hematopoietic stem cells, 簡稱 HSC），造血幹細胞會先分化成骨髓前驅細胞（Myeloid precursor cells），而骨髓前驅細胞再分化成單核球（Monocyte），最後再由單核球分化成樹突細胞。
  p 樹突細胞有如身體防禦系統的指揮官，本身具有吞噬和呈現抗原的能力，當樹突細胞辨識到外來病原或癌細胞後，會開始進行吞噬作用並且將這些癌細胞分解成小片段，後續再將癌細胞的抗原呈現在樹突細胞表面上，培訓T細胞認識這些癌細胞，以達到利用T細胞針對癌細胞進行準確有效攻擊的目的。
  p 藉由抽取血液後將單核球分離出來，再將單核球誘導分化成樹突狀細胞。後續將樹突細胞與癌細胞碎片或人工合成的蛋白質等抗原培養在一起，使樹突細胞最後能將這些抗原呈現在細胞表面上。最後可經由一般點滴方式，就能將這群優質的免疫細胞軍隊注射回人體，訓練體內T細胞能認識癌細胞抗原，發揮毒殺癌細胞的作用來抑制腫瘤的增大或癌細胞擴散，甚至使其縮小或消失。
  .media
    <iframe width="560" height="315" src="https://www.youtube.com/embed/k6otxDNLULE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>