- var url = '/ezfiles/761/1761/img/209/'
.page.container-fluid.aboutus.history
  .row
    .col-xs-12
      h3.title.text-center.text-green 公司沿革
      ul
        li 
          i.fa.fa-pencil-square-o
          span.date 2004.12
          span 鑫品生醫科技股份有限公司登記成立
        li 
          i.fa.fa-pencil-square-o
          span.date 2005.04
          span 與新加坡英諾瓦公司簽約取得專利與關鍵技術授權
        li 
          i.fa.fa-pencil-square-o
          span.date 2005.07
          span 取得經濟部工業局新興重要策略性產業核准函
        li 
          i.fa.fa-pencil-square-o
          span.date 2005.09
          span 取得台大醫院siRNA-HIV免疫療法臨床前研究核准函
        li 
          i.fa.fa-pencil-square-o
          span.date 2005.11
          span 成為全亞洲第一個成功製備慢病毒基因載體的單位
        li 
          i.fa.fa-pencil-square-o
          span.date 2006.07
          span 永齡基金會簽約委託血癌新藥物及新療法之研發
        li 
          i.fa.fa-pencil-square-o
          span.date 2006.10
          span 子宮頸癌治療疫苗開發計劃獲經濟部技術處創新計畫補助
        li 
          i.fa.fa-pencil-square-o
          span.date 2007.09
          span 取得台大醫院C型肝炎自體免疫療法臨床前研究核准函
        li 
          i.fa.fa-pencil-square-o
          span.date 2007.10
          span 取得台大醫院自體免疫細胞對抗人類疱疹病毒臨床前研究核准函
        li 
          i.fa.fa-pencil-square-o
          span.date 2009.09
          span 抗C型肝炎病毒標靶性專一功能免疫細胞治療發展計畫獲經濟部中小企業創新研發計畫（SBIR）補助
        li 
          i.fa.fa-pencil-square-o
          span.date 2010.10
          span 與中國天津第一中心醫院合作，以免疫細胞療法治療數名肝癌病患
        li 
          i.fa.fa-pencil-square-o
          span.date 2011.09
          span 優化成人免疫細胞儲存銀行成立，正式推廣免疫細胞儲存技術與服務
        li 
          i.fa.fa-pencil-square-o
          span.date 2011.12
          span 「免疫細胞儲存技術與服務」榮獲SNQ國家品質標章認證
        li 
          i.fa.fa-pencil-square-o
          span.date 2012.01
          span 成為國內第一家股票公開發行的免疫細胞療法研發公司
        li 
          i.fa.fa-pencil-square-o
          span.date 2012.02
          span 「免疫細胞採集、銷售與諮詢服務」獲得ISO 9001:2008驗證
        li 
          i.fa.fa-pencil-square-o
          span.date 2012.07
          span 重慶巴南醫院醫師團來台參訪交流免疫細胞療法與儲存技術
        li 
          i.fa.fa-pencil-square-o
          span.date 2013.03
          span 「生產免疫細胞的方法及誘發產生免疫作用細胞的方法」獲中國國家知識產權局授予專利權
        li 
          i.fa.fa-pencil-square-o
          span.date 2013.04
          span 鑫品生醫科技股份有限公司登錄興櫃，為國內第一家興櫃上市之免疫細胞生醫公司
        li 
          i.fa.fa-pencil-square-o
          span.date 2013.06
          span 「生產免疫細胞的方法及誘發產生免疫作用細胞的方法」獲中華民國經濟部智慧財產局核准專利
        li 
          i.fa.fa-pencil-square-o
          span.date 2013.07
          span 鑫品生醫獲得經濟部審定為「生技新藥公司」
        li 
          i.fa.fa-pencil-square-o
          span.date 2013.10
          span 鑫品亞太細胞儲存與應用研發中心通過ISO 17025/IEC：2005認證
        li 
          i.fa.fa-pencil-square-o
          span.date 2014.06
          span 與中國最大再生醫學上市公司-冠浩生技簽屬「免疫細胞儲存技術」授權合約
        li 
          i.fa.fa-pencil-square-o
          span.date 2015.05
          span 成立宇越生醫與柏威生醫，組成鑫品集團開展CAR-T免疫療法研發與全方位醫療保健整合服務
        li 
          i.fa.fa-pencil-square-o
          span.date 2015.07
          span 旗下宇越生醫與高雄榮民總醫院簽署研究協議，合作開發第三代CAR-T技術
        li 
          i.fa.fa-pencil-square-o
          span.date 2015.10
          span 宇越生醫與台大醫院及山東聊城醫院開展血癌CAR-T免疫細胞療法臨床試驗
        li 
          i.fa.fa-pencil-square-o
          span.date 2018.07
          span 成立澳門鑫品、上海鑫品，啟動亞洲免疫細胞儲存及全方位整合應用服務
        li 
          i.fa.fa-pencil-square-o
          span.date 2018.09
          span 鑫品生醫取得日本tella株式會社在臺獨家專利技術授權