- var url = '/ezfiles/773/1773/img/271/'

// 標題
.page.container-fluid.page-title#aboutus-1
  .row
    .col-xs-12
      h4.title.text-center 關於利統 

.page.container-fluid.aboutus-1
  .row
    .col-sm-5.col-sm-push-7.col-xs-12.img
      img.img-responsive(src=url+"aboutus.jpg", alt="")
    .col-sm-7.col-sm-pull-5.col-xs-12.text
      p 利統股份利統股份有限公司創立於 1994 年，以生物科技為核心，研發及銷售食品、農業及畜牧方面相關科技產品為主，行銷網路遍及中國、歐、美、日、韓、東南亞、紐澳、中東甚至包括東非等地區。主要股東除公司創辦人張天鴻博士外,尚包括五鼎生技、盛達創業投資股份有限公司、昱瑞投資有限公司等法人。