- var url = '/ezfiles/761/1761/img/209/'

h4.text-green 各國臨床研究
ul.research-list
  li
    a(href="/m/403-1761-94.php?Lang=zh-tw") 全部類別
  li
    a(href="/m/403-1761-99.php?Lang=zh-tw") 前列腺癌
  li
    a(href="/m/403-1761-96.php?Lang=zh-tw") 血癌
  li
    a(href="/m/403-1761-97.php?Lang=zh-tw") 膠質母細胞瘤
  li
    a(href="/m/403-1761-98.php?Lang=zh-tw") 肝癌
  li
    a(href="/m/403-1761-99.php?Lang=zh-tw") 胰腺癌
  li
    a(href="/m/403-1761-100.php?Lang=zh-tw") 乳癌
  li
    a(href="/m/403-1761-101.php?Lang=zh-tw") 黑色素瘤
  li
    a(href="/m/403-1761-102.php?Lang=zh-tw") 愛滋病毒感染

.page.container-fluid.research-table
  .row
    .col-xs-12
      .table-responsive
        table
          thead
            tr
              th
              th 臨床試驗主題
              th 分類
          tbody

.research
  .table-responsive
    table.table
      tr 
        td 針對症狀
        td Chronic Myeloid Leukemia
      tr 
        td 臨床試驗編號
        td NCT00815321
      tr 
        td 臨床階段
        td Phase II
      tr 
        td 臨床試驗位址
        td Singapore General Hospital
      tr 
        td 目前研究進度
        td This study has been completed.
      tr 
        td 試驗開始日期
        td December 28, 2008
      tr 
        td 試驗開始日期
        td May 14, 2012
      tr
        td 臨床目的
        td
          p This is an extension of our ongoing clinical trial using ex vivo expanded autologous Cytokine-induced killer (CIK) cells as an adoptive cellular immunotherapy for haematological malignancies. The pre-existing clinical trial targets patient with acute myeloid leukemia or MDS, and relapsed disease post allogeneic transplant.
          p Chronic myeloid leukemia (CML) is a disease with good response to kinase inhibitors. There are however patients in transformed phase of the disease who do not respond to these treatment. A small proportion of patients with response to Imatinib may develop mutations resulting in drug resistance. In addition, the vast majority of patients with a good response to the kinase inhibitors still have persistent CML cells detectable at a molecular level. It is known that the CML progenitors are not sensitive to the kinase inhibitors. On the other hand, immune mediated mechanism is known to be able to eradicate CML as shown by efficacy of donor lymphocyte infusion in the allogeneic transplant setting. Early clinical trials have shown clearance of bcr-abl using peptide vaccination. There is also convincing mouse data showing eradication of CML at molecular level by autologous CIK cells, but no clinical trial has been done using CIK cells for CML.
          p We therefore plan to expand our current CIK trial to include CML as a disease, for CML patients with various degree of response to the kinase inhibitors which have already offered its maximal effect. We aim to study whether autologous CIK cells may further improve disease response, either in the eradiation of minimal residual disease, or in conjunction with chemotherapy for control of high tumour load disease.
          p 
            a(href="http://www.clinicaltrial.gov/ct2/show/NCT00815321?term=adoptive+AND+cell+therapy&rank=5" target="_blank") http://www.clinicaltrial.gov/ct2/show/NCT00815321?term=adoptive+AND+cell+therapy&rank=5