- var url = '/ezfiles/773/1773/img/271/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 學術論文

.page.container-fluid.poem.section-1
  .row
    .col-xs-12
      ul
        li
          span.date 2015
          ul
            li 天然植萃物咖啡莓果調節血液腦源性神經滋養因數之探討。台灣保健食品學會會員大會暨植化素與健康國際研討會。臺灣。
            li 天然植萃物歐利佳延緩油品抗氧化之效果。台灣保健食品學會會員大會暨植化素與健康國際研討會。臺灣。
            li The application of chitosan for wound healing and therapy in biomedical materials。國際生醫材料學術研討會。臺灣。
            li 乳酸菌產品對幽門螺旋桿菌及其引發之發炎反應之抑制效果。「益生菌在臨床上的運用」學術與產業應用研討會。臺灣。
        li
          span.date 2016
          ul
            li Lyflor-3組合菌體外抑制食品致病菌功效評估。第十一屆乳酸菌與健康國際研討會。中國。
            li Anserine dipeptide from fish extracts ameliorate the uric acid levels in fructose-induced HK2 cells and hyperuricemic patients, 20th FFC, Boston, USA (美國)。

        li
          span.date 2017
          ul
            li 以快速篩選技術平臺尋找降尿酸乳酸菌之研究。第十二屆乳酸菌與健康國際研討會。中國。
            li Development of a Novel Strain of Lactobacillus paracasei strain (LT12) for Immune-modulation and Anti-pathogenic bacteria as Food Supplement.「益生菌在產業上的應用」學術與產業應用研討會。臺灣。

        li
          span.date 2018
          ul
            li 一種用於調控血糖的加強型創新植物萃取物配方-速唐輕。第十五屆中國食品科學技術年會。中國。
            li 專利菌株副乾酪乳桿菌LT12對於免疫力調節及抑制病原菌活性之研究。第十三屆乳酸菌與健康國際研討會。中國。
        li
          span.date 2019
          ul
            li 乳酸菌產品對幽門螺旋桿菌及其引發之發炎反應之抑制效果。第十四屆乳酸菌與健康國際研討會。中國。
            li 速唐輕TM-全方位之輔助調節血糖食品配方。。2019 機能性食品改善代謝異常與老化研討會。臺灣。
            li 咖啡莓果及薑黃複方對於老化促進小鼠發炎體路徑之影響。2019 機能性食品改善代謝異常與老化研討會。臺灣。
            li Anthochlorogin®通過抑制Aβ沉積和炎症反應改善阿爾茨海默症小鼠之學習認知能力。第十六屆中國食品科學技術年會。中國。
            li 新穎性功能配方於皮膚保健之應用開發_利妥黑®。第十六屆中國食品科學技術年會。中國。
