- var url = '/ezfiles/773/1773/img/271/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 實驗室設備

.page.container-fluid.item.section-1
  .row
    .col-sm-6.col-xs-12
      a(href=url+"item.png" data-fancybox="item" data-caption="高效液相層析")
        img.img-responsive(src=url+"item.png", alt="")
        p.title 高效液相層析
        figcaption 功效性成份分析