- var url = '/ezfiles/773/1773/img/271/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 專利與發表

.page.container-fluid.patent.section-1
  .row
    aside.col-sm-3.col-xs-12
      ul
        li 
          a(href="") 獲證專利–安喜培®系列專利
        li 
          a(href="") 獲證專利–其他專利
        li 
          a(href="") 取證中專利
    main.col-sm-9.col-xs-12.append-detail

// 明細
.page-title
  .row
    .col-xs-12
      h4.title 專利與發表
<table border="1" cellpadding="0" cellspacing="0" style="width:539px;margin-left:47.95pt;border-collapse:collapse;border:none;" width="404">
<tbody>
<tr style="height:35px;">
<td style="width:94px;border-top:1.5pt;border-left:1.5pt;border-bottom:1.0pt;border-right:1.0pt;border-style:solid;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><strong><span style="font-family:標楷體;">產品名稱</span></strong></p>
</td>
<td style="width:193px;border-top:solid windowtext 1.5pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><strong><span style="color:black;"><span style="font-family:標楷體;">國家</span></span></strong><strong><span style="color:black;">/</span></strong><strong><span style="color:black;"><span style="font-family:標楷體;">專利證號</span></span></strong><strong><span style="color:black;"></span></strong></p>
</td>
<td style="width:251px;border-top:solid windowtext 1.5pt;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><strong><span style="color:black;"><span style="font-family:標楷體;">專利名稱</span></span></strong><strong><span style="color:black;"></span></strong></p>
</td>
</tr>
<tr style="height:35px;">
<td rowspan="5" style="width:94px;border-top:none;border-left:solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">安喜培</span></span><span style="font-size:11.0pt;"></span></p>
</td>
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">中華民國</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">發明第</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">I241160</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">號</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
<td rowspan="5" style="width:251px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">阻礙植物乙烯反應之新穎調配物，其製法及其使用方法</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span><br />
<br />
<span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:35px;">
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="margin-right:-2.5pt;text-align:center;"><span style="letter-spacing:-.3pt;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">中國大陸</span></span></span></span><span style="letter-spacing:-.3pt;"><span style="color:black;"><span style="font-size:11.0pt;">/</span></span></span><span style="letter-spacing:-.3pt;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">第</span></span></span></span><span style="letter-spacing:-.3pt;"><span style="color:black;"><span style="font-size:11.0pt;">ZL00818661.8</span></span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">號</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:35px;">
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">馬來西亞</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/MY-133699-A</span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:35px;">
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">美國</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/US 6,897,185 B1</span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:35px;">
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">泰國</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">發明第</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">46843</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">號</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:70px;">
<td rowspan="2" style="width:94px;border-top:none;border-left:solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:70px;">
<p align="center" style="text-align:center;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">安喜布</span></span><span style="font-size:11.0pt;"></span></p>
</td>
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:70px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">中華民國</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">發明第</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">I265005</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">號</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
<td rowspan="2" style="width:251px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:70px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">用於阻礙植物乙烯反應之新穎層合物、其製法或使用方法</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span><br />
<br />
<span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:35px;">
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">中國大陸</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/</span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">第</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">ZL200410045524.9</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">號</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:47px;">
<td rowspan="3" style="width:94px;border-top:none;border-left:solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:47px;">
<p align="center" style="text-align:center;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">安喜袋</span></span><span style="font-size:11.0pt;"></span></p>
<p align="center" style="text-align:center;">&nbsp;</p>
</td>
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:47px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">中華民國</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/</span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">新型第</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">M370303</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">號</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
<td rowspan="3" style="width:251px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:47px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">含阻礙植物乙烯反應成分之蔬果保鮮套袋</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span><br />
<br />
<span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:69px;">
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:69px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">中國大陸</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/</span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">第</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">ZL200820134275.4</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">號</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:35px;">
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">泰國</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">新型第</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">0803001510</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">號</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:114px;">
<td rowspan="2" style="width:94px;border-top:none;border-left:solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:114px;">
<p align="center" style="text-align:center;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">安喜液</span></span><span style="font-size:11.0pt;"></span></p>
</td>
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:114px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">中華民國</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">發明第</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">I445500</span></span><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">號</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
<td rowspan="2" style="width:251px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:114px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">用於抑制植物中乙烯反應之微膠囊組合物，製備微膠囊之方法及使用微膠囊組合物之方法</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span><br />
<br />
<span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:35px;">
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">美國</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/US 8,461,086 B2</span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:48px;">
<td rowspan="4" style="width:94px;border-top:none;border-left:solid windowtext 1.5pt;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:48px;">
<p align="center" style="text-align:center;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">安喜貼</span></span><span style="font-size:11.0pt;"></span></p>
</td>
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:48px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">南非</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/2015/05889 </span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
<td rowspan="4" style="width:251px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.5pt;padding:0cm 5.4pt 0cm 5.4pt;height:48px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">用於阻礙植物乙烯反應的層合物及其製備方法</span></span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:46px;">
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:46px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">澳洲</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/AU2014403608</span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:35px;">
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">紐西蘭</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/ NZ719974</span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
<tr style="height:35px;">
<td style="width:193px;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:35px;">
<p align="center" style="text-align:center;"><span style="color:black;"><span style="font-family:標楷體;"><span style="font-size:11.0pt;">美國</span></span></span><span style="color:black;"><span style="font-size:11.0pt;">/</span></span> <span style="color:black;"><span style="font-size:11.0pt;">10,321,679</span></span><span style="color:black;"><span style="font-size:11.0pt;"></span></span></p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
