- var url = '/ezfiles/761/1761/img/209/'

.video
  p
    a(href="https://www.youtube.com/watch?v=3Mq48di_vpk&feature=youtu.be", data-fancybox)
      img.img-responsive.center-block(src=url+"youtube-img.jpg", alt="")
  p 台視新聞 熱線追蹤-特管法開放免疫細胞療法