- var url = '/ezfiles/761/1761/img/209/'
.page.container-fluid.support
  .row
    .col-xs-12
      h3.title.text-center.text-green 影響成效的條件
      p 免疫系統中的T細胞與NK細胞具有辨認並毒殺癌細胞或病變細胞的能力，藉由這兩種細胞提供的免疫監控機制，可以及早將癌病變的細胞清除。然而，一旦癌細胞或腫瘤可在體內形成，不再被免疫細胞清除，就表示此階段免疫系統的抗癌機制已經失效。造成免疫防禦機制失效的因素有很多，其中包含T細胞的活性受到癌細胞分泌物所抑制或NK細胞的數量不足。若能在體外活化T細胞與大量擴增NK細胞，再將它們注射回患者體內，或許就能及時且有效地殺死癌細胞或控制癌症。
      p 免疫細胞療法的策略就是在這樣的概念下建立的，利用自體的免疫細胞，以先進的體外培養技術，增強自身免疫細胞毒殺癌細胞或受到病毒感染細胞的能力。不過要能使用免疫細胞療法來治療疾病前有一個必要性關鍵，那就是必須要有健康的免疫細胞才能進行治療。在2006年就已將免疫細胞療法列為常規醫療的醫療先進國家日本，在多年的治療經驗中，更證實無法取得健康的免疫細胞，而導致治療的成效受限。
      p 目前已知年齡老化與後天環境因素是導致免疫系統功能退化的主因﹕
  .row.flex.reverse
    .col-sm-6.col-xs-12.img
      img.img-responsive.center-block(src=url+"support-3-img-1.jpg", alt="")
    .col-sm-6.col-xs-12.text
      h5.sub-title (1) 年齡因素
      p 除了先天遺傳及後天環境影響外，老化是影響免疫力最主要的因素。免疫功能在20歲左右達到高峰期，之後就開始下降，超過一定的年齡後就越趨衰退，每年喪失0.8%～0.9%的功能，到了約70歲左右，免疫功能約只剩年輕時的十分之一。長年研究免疫學的日本東京理科大學安部良教授表示：『讓免疫力下降的最大原因是年齡的增加』。年齡增加是無可避免的生命現象，但也無法諱言的是，這種現象就是免疫力下降的最大主因。
  .row.flex
    .col-sm-6.col-xs-12.img
      img.img-responsive.center-block(src=url+"support-3-img-2.png", alt="")
    .col-sm-6.col-xs-12.text
      h5.sub-title (2)後天環境因素
      p 癌症成因十分複雜，生活環境中能誘發癌症的化學物質約有上千種以上，例如：石棉、瀝青、菸草、染料等。而許多物理因素，如電磁波、輻射、紫外線等，若長期接觸亦可能影響健康。現今環境污染嚴重，夾雜重金屬等劇毒物質的食物，或是醃製物中的亞硝胺鹽、黃麴毒素、防腐劑、人工合成色素等產品充斥市面。加上國人的高脂肪飲食習慣，種種跡象都讓免疫力節節衰退，癌症步步逼近，迫害人體健康。