- var url = '/ezfiles/761/1761/img/209/'
.page.container-fluid.aboutus.stock
  .row
    .col-xs-12
      h3.title.text-center.text-green 投資人專區
  .row
    .col-xs-12
      h4.title.text-blue 股價資訊
      img.img-responsive(src=url+"stock-img-1.jpg", alt="")
      p
        a(href="http://mis.gretai.org.tw/ib120stk.aspx?SymbolID=4170" target="_blank") 股價資訊
        span 股票代號：4170
  .row
    .col-xs-12
      h4.title.text-blue 財務資訊
      ul.list-inline
        li
          .img
            span.svg(style="background:url("+url+"stock-icon-1.svg); width: 100px; height: 100px;")
          .text
            p.text-center 
              a(href="http://mops.twse.com.tw/mops/web/t57sb01_q1" target="_blank") 財務報告
        li
          .img
            span.svg(style="background:url("+url+"stock-icon-2.svg); width: 100px; height: 100px;")
          .text
            p.text-center 
              a(href="http://mops.twse.com.tw/mops/web/t05st10_ifrs" target="_blank") 每月合併營收
  .row
    .col-xs-12
      h4.title.text-blue 股東專區
      ul.list-inline
        li
          .img
            span.svg(style="background:url("+url+"stock-icon-3.svg); width: 100px; height: 100px;")
          .text
            p.text-center 
              a(href="http://mops.twse.com.tw/mops/web/t57sb01_q5" target="_blank") 股東會議事手冊
        li
          .img
            span.svg(style="background:url("+url+"stock-icon-4.svg); width: 100px; height: 100px;")
          .text
            p.text-center 
              a(href="http://mops.twse.com.tw/mops/web/t57sb01_q5" target="_blank") 股東會年報
        li
          .img
            span.svg(style="background:url("+url+"stock-icon-5.svg); width: 100px; height: 100px;")
          .text
            p.text-center 
              a(href="http://mops.twse.com.tw/mops/web/t57sb01_q5" target="_blank") 股東會議事錄
        li
          .img
            span.svg(style="background:url("+url+"stock-icon-6.svg); width: 100px; height: 100px;")
          .text
            p.text-center 
              a(href="http://www.vectorite.com.tw/investor.asp?id=10" target="_blank") 股務代理