- var url = '/ezfiles/773/1773/img/271/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 投資人專區 

.page.container-fluid.investors
  .row
    .col-sm-6.col-xs-12.info
      p
        b 投資人服務
      p
        | 聯  絡  人： 葉 蓁 蓁
      p
        | 聯絡電話： 
        a(href="tel: (02) 2694-0885") (02) 2694-0885ext.127
      p
        | 聯絡信箱： 
        a(href="mailto: janice.yeh@lytone.com") janice.yeh@lytone.com
      p.foot
        | 貴 股東若有關本公司股務相關問題，請留下您的姓名與聯絡電話
        br
        | （或e-mail），方便我們與您聯絡，謝謝。
    .col-sm-6.col-xs-12.form
      | ===MODULE===