- var url = '/ezfiles/786/1786/img/485/'

.page.container-fluid.service.prod-intro.detail(style="background-image:url("+url+"prod-intro-bg.jpg);")
  .title-content
    .row
      .col-xs-12
        h4.title Imdermalab® X-EGCG 抗汙胜肽囊球
      .col-sm-4.col-xs-12.img
        img.img-responsive(src=url + "prod-detail-img.png", alt="")
      .col-sm-8.col-xs-12.text
        h3.title
          | Imdermalab
          sup ® 
          | Jin Xuan 金萱玉露
        p.download
          a.btn(href="")
            | DOWNLOAD
            i.fa.fa-download
  .row
    .col-sm-8.col-xs-12.content-l
      .content
        p.title Description 描述
        p 手摘自雲霧繚繞的阿里山2000公尺以上有機栽種的台灣特有茶種-台茶12號，又名「金萱」。金萱是台灣官方經過數十年茶樹育種工程的代表作之一，具有獨特的牛奶香氣，廣受品茗人士喜愛。 Imdermalab®JIN XUAN金萱玉露以特殊的綠色專利製程-低溫分子篩萃取技術，經十道工序精萃，將對敏弱肌膚或母嬰族群較為刺激的咖啡因成分分離出來，最終萃湅出8倍高濃度的EGCG，實驗證實具有抗氧化、抑敏、抗菌、抗痘的效果，並於2020年完成國際INCI登錄。
      .content
        p.title Benefit 功效
        p
          | 抗氧化
          br
          | 抗發炎
          br
          | 抗痘
          br
          | 抗敏
          br
          | 抗菌
      .content
        p.title Mechanism of action 機制
        ul.dot-list
          li 減少細胞內活性氧物質(ROS)，達到抗氧化之功效
          li 抑制NF-κB和AP-1途徑，下調IL-1、IL-6和IL-8的表現並減低發炎反應
          li 調節AMPK-SREBP-1信號傳導途徑，減少皮脂生成
          li 誘導SEB-1皮脂細胞凋亡，並降低痤瘡桿菌
          li 抑制β-hexosamindase 分泌，達到抑制過敏效果
          li 破壞細菌的脂雙層膜，能抑制細菌黏附於細胞膜且不破壞上皮細胞
      .content
        p.title Tests 測試
        section
          p 細胞外試驗
          ul.dot-list
            li ABTS/DPPH/酪胺酸脢/總多酚/總多醣
        section
          p In vitro
          ul.dot-list
            li 抗氧化試驗
            li 致敏性分析試驗
            li 抑菌效能試驗
            li 通過OECD 439 替代性皮膚刺激性試驗
        section
          p In vivo
          ul.dot-list
            li 通過重複性人體貼敷試驗(RIPT)
      .content
        p.title Application 應用
        ul.dot-list
          li 控油抗痘產品
          li 鎮靜舒緩配方
          li 抗菌噴霧、抗菌洗手乳
          li 訴求天然的Clean Beauty產品
    .col-sm-4.col-xs-12.content-r
      .content
        p.title INCI Name
        p Camellia Sinensis Leaf/Stalk Extract
      .content
        p.title Specification 規格
        p
          | 溶解性: 水溶性
          br
          | 外觀: 棕色澄清液體
          br
          | pH值: 3-5
          br
          | 儲存條件: 低溫冷藏
      .content
        p.title Dosage 建議添加量
        p 0.3%-1%
      .content
        p.title Compliance 合規
        p
          span.svg(style="background:url(/ezfiles/786/1786/img/485/537480633.svg); width: 40px; height: 40px;")
      .content
        p.title Award 得獎