- var url = '/ezfiles/786/1786/img/485/'

.page.container-fluid.service.prod-intro(style="background-image:url("+url+"prod-intro-bg.jpg);")
  .row#prod-intro-1
    .col-xs-12
      h4.title
        span.en Imdermalab
          sup ®
        span.tw 複方活性成分
        span.svg(style="background:url("+url+"prod-title-icon-1.png); width: 30px; height: 30px;")
      .table-responsive
        table.table
          thead
            tr
              td 產品名稱
              td INCI Name
              td 功效
              td 備註
          tbody
            tr
              td Imdermalab
                sup ® 
                | X-EGCG 抗汙胜肽囊球
              td Water (and) Propanediol (and) 1,2-Hexanediol (and) Caprylhydroxamic Acid (and) Dipropylene Glycol (and) Diglycerin (and) sh-Decapeptide-5 SP, Epigallocatechol Gallate
              td 抗氧化、抗汙染、抗菌、保濕
              td
                span.svg(style="background:url("+url+"approved.png); width: 30px; height: 30px;")
                span.svg(style="background:url("+url+"goal.svg); width: 30px; height: 30px;")

            tr
              td Imdermalab® TrioWhite 美白三重奏
              td Niacinamide (and) Tranexamic Acid  (and) Phalaenopsis Sogo Yukidian Flower Extract
              td 美白
              td
                span.svg(style="background:url("+url+"approved.png); width: 30px; height: 30px;")
            tr
              td Imdermalab® PlantHA 植多醣
              td Water (and) Propanediol (and) 1,2-Hexanediol (and) Caprylhydroxamic Acid (and) Dipropylene Glycol (and) Diglycerin (and) Aloe Vear Extract (and) Tremella Fuciformis Extract (and) Caulerpa Lentillifera Extract (and) Abelmoschus Esclentus Fruit Extracts
              td 保濕、舒緩、抗老、修護
              td
                span.svg(style="background:url("+url+"approved.png); width: 30px; height: 30px;")
            tr
              td Imdermalab®88植酵素
              td -
              td 美白、抗氧化
              td
                span.svg(style="background:url("+url+"approved.png); width: 30px; height: 30px;")
  .row#prod-intro-2
    .col-xs-12
      h4.title
        span.en Imdermalab
          sup ®
        span.tw 單方活性成分
        span.svg(style="background:url("+url+"prod-title-icon-2.png); width: 30px; height: 30px;")
      .table-responsive
        table.table
          thead
            tr
              td 產品名稱
              td INCI Name
              td 功效
              td 備註
          tbody
            tr
              td Verperle
                sup ®
                | 海葡萄萃取 
              td Caulerpa Lentillifera Extract
              td 抗敏、抗老、保濕
              td 
                span.svg(style="background:url("+url+"approved.png); width: 30px; height: 30px;")
                span.svg(style="background:url("+url+"cosmos.png); width: 30px; height: 30px;")
            tr
              td Imdermalab
                sup ® 
                | 蘭花萃取
              td Phalaenopsis Sogo Yukidian Flower Extract
              td 美白、抗氧化
              td 
                span.svg(style="background:url("+url+"approved.png); width: 30px; height: 30px;")
                span.svg(style="background:url("+url+"cosmos.png); width: 30px; height: 30px;")
            tr
              td Imdermalab
                sup ® 
                | 蘭晶萃取
              td Phalaenopsis Sogo Yukidian Flower Extract
              td 美白、抗發炎
              td
            tr
              td Imdermalab
                sup ® 
                | 高效茶多酚
              td Camellia Sinensis Leaf/Stalk Extract
              td 保濕、抑敏、抗氧化、美白
              td 
                span.svg(style="background:url("+url+"cosmos.png); width: 30px; height: 30px;")
            tr
              td Imdermalab
                sup ® 
                | 茉香銀耳萃取
              td Tremella Fuciformis Extract
              td 保濕、修護
              td 
            tr
              td Imdermalab
                sup ® 
                | 香雪松萃取
              td Cupreessus Funebris Leaf Extract
              td 天然抗菌劑、抗痘
              td 
            tr
              td Imdermalab
                sup ® 
                | 玄米油
              td Oryza Sativa (Rice) Germ Oil
              td 滋潤、抗氧化、抗汙染
              td 
            tr
              td Imdermalab
                sup ® 
                | 三色藜麥萃取
              td Chenopodium Quinoa Extract
              td 抗氧化、抗老
              td 
            tr
              td Imdermalab
                sup ® 
                | 六神花萃取
              td Spilanthes Acmella Flower Extract
              td 鎮靜、抗老
              td 
  .row#prod-intro-3
    .col-xs-12
      h4.title
        span.en Imdermalab
          sup ®
        span.tw 基底成分
        span.svg(style="background:url("+url+"prod-title-icon-3.png); width: 30px; height: 30px;")
      .table-responsive
        table.table
          thead
            tr
              td 產品名稱
              td INCI Name
              td 功效
              td 備註
          tbody
            tr
              td Verperle
                sup ®
                | 茶皂素
              td Saponins
              td 天然界面活性劑
              td
            tr
              td Imdermalab
                sup ® 
                | 純米吟釀酒粕泥
              td Oryza Sativa (Rice) Starch
              td 天然來源去角質
              td
  .row#prod-intro-4
    .col-xs-12
      h4.title
        span.en Imdermalab
          sup ®
        span.tw 防腐系統
        span.svg(style="background:url("+url+"prod-title-icon-4.png); width: 30px; height: 30px;")
      .table-responsive
        table.table
          thead
            tr
              td 產品名稱
              td INCI Name
              td 功效
              td 備註
          tbody
            tr
              td Verperle
                sup ®
                | Guard 100
              td Propanediol  (and) 1, 2-Hexanediol (and) Caprylhydroxamic Acid (and)  Dipropylene Glycol (and) Diglycerin
              td 防腐劑、保濕
              td 無添加防腐系統、EWG皆為1
            tr
              td Imdermalab
                sup ® 
                | Guard 200
              td 1-3 Butylene Glycol (and) Phenoxyethanol (and) Caprylyl Glycol
              td 防腐劑
              td
  .row.foot-content
    .col-xs-12
      p
        span.content
          span.svg(style="background:url("+url+"approved.png); width: 30px; height: 30px;")
          span
            | 專利
        span.content
          span.svg(style="background:url("+url+"cosmos.png); width: 30px; height: 30px;")
          span COSMOS
        span.content
          span.svg(style="background:url("+url+"goal.svg); width: 30px; height: 30px;")
          span 得獎