- var url = '/ezfiles/872/1872/img/1681/'

.prod-info
  p
    | 最後一次開放販售，未來沒有了喔:) 
    br
    | 這次只有開放iPhone7以上的iPhone型號，
    br
    | 因設計的關係非iPhone型號沒有開放，敬請見諒！
  p 販售期間：2021/04/01-2021/04/30
  p 手機是我們現在一天相處最多的物品，只要它美美的，好心情也都莫名提升了10% :)
  p
    | 最開始做手機殼時完全沒有想到要販售，
    br
    | 只是想做給朋友，當成一個很有心意的禮物，
    br
    | 後來才發現好多好多人想要，所以想盡辦法讓你們也擁有。
  br
  p
    | 比起許多市售的造型手機殼，犀牛盾真的防摔很多很多。
    br
    | 另外，對我來說很重要的是印刷質感，我想要的細節都處理的非常好。
    br
    | 希望到你們手中時是完美的呈現，
    br
    | 所以成本、庫存blabla的問題都不管了，堅持要犀牛盾！
  p 希望你們都喜歡:)
  br
  p
    | 手機殼背面是灰色不是透明的喔！
    br
    | 商品照和實際商品顏色有點差距是正常的喔～
  p 台灣/犀牛盾出產/Diana Chen設計

.shoppingDetail
  .row
    .col-sm-4
      .text
        h4.title 購買須知
        p 請務必填寫正確收件人資訊，若因為收件信息不正確無法配送且無人簽收，導致包裹退回我們將直接取消整筆訂單。若商品有非人為因素瑕疵，請在收到商品的七天內儘速與我們聯繫。經確認後，我們會安排換貨。
    .col-sm-4
      .text
        h4.title 退貨須知
        p 本產品恕無法以不喜歡設計、購買錯誤型號或其他原因為由退貨、退款或換貨，請您慎重選購，避免影響日後選購權益。
    .col-sm-4
      .text
        h4.title 特別提醒
        p 若當地的快遞或是郵政公司多次投遞未成功且客服通知收件人也未取得聯繫，部份快遞公司將不再退回包裹，而我們也將不會再進行任何款項退款，還請您留意。