- var url = '/ezfiles/786/1786/img/485/'

.news-detail
  .row
    .col-xs-12.title-content
      h4.title
        | 做好皮膚的菌相平衡 預防「口罩肌」
        date 2020-06-08
  .row.main-content
    .col-sm-6.col-xs-12.img
      img.img-responsive(src=url + "news.jpg", alt="")
    .col-sm-6.col-xs-12.text
      p(data-aos="fade-up") 為了預防新冠肺炎(COVID-19)感染，許多人長時間配戴口罩，而使肌膚悶出了「口罩肌」。
      p(data-aos="fade-up") 口罩肌」的產生是因為戴口罩長時間悶住且頻繁摩擦，造成皮膚的溫度、濕度上升，而溫度每上升1℃，皮脂會增加10%的分泌量，油脂過度分泌將使毛孔堵塞，同時也成為厭氧菌繁衍的溫床。當皮膚的菌相平衡被破壞，就容易衍生出痘痘、泛紅、敏感等肌膚問題。
      p(data-aos="fade-up") 正因為微生物菌相平衡是我們肌膚的第一道屏障，所以化妝品原料近期吹起一股訴求「肌膚菌相平衡」的風潮，主打保濕、屏障、修護等功效，而這些活性成分則以
        span.text-red 酵母萃取、益生菌、益生質
        | 為大宗。例如一滴含3,000 萬個益菌萃取的「小黑瓶」-蘭蔻超進化肌因賦活露，號稱以4種益生菌+3種益生質組成的7大益生菌專利配方，或是與歐洲益生菌生技大廠CLR聯手打造的施巴「PRO!益生菌保養系列」
  .row.foot-content
    .col-sm-6.col-sm-offset-6.col-xs-12
      .row
        .col-sm-12.col-xs-12
          p
            | 參考連結
            a(href="/m/406-1786-5831,r282.php?Lang=zh-tw" target="_blank" style="color: #e5878a;") /m/406-1786-5831,r282.php?Lang=zh-tw
          p
            a(href="") 
              span.svg(style="background:url("+url+"download.svg); width: 70px; height: 70px;")
              | 檔案下載
            span.svg(style="background:url("+url+"news-logo.png); width: 70px; height: 70px;")