- var url = '/ezfiles/761/1761/img/209/'

.news
  p.date 2019-12-03
  p 
    | 鑫品生醫繼去年與日本tella 集團策略結盟後，今(26)日再度與河南省腫瘤醫院簽約，針對「樹突狀細胞DC與Opdivo合併治療晚期非小細胞肺癌」進行安全性及有效性的臨床研究，將在特殊療程設計上觀察是否能顯著降低副作用，以及腫瘤縮小有效率與疾病無進展存活期是否能有所改善。
  figure
    img.img-responsive.center-block(src=url+"news-img-1.jpg", alt="")
    figcaption.text-center 鑫品生醫集團、河南腫瘤醫院、日本技術顧問群合影
  figure
    img.img-responsive.center-block(src=url+"news-img-2.jpg")
    figcaption.text-center 鑫品生醫集團董事長潘俊佑、河南腫瘤醫院免疫治療科王子兵主任合影