- var url = '/ezfiles/761/1761/img/209/'
.page.container-fluid.prod
  .row
    .col-xs-12
      h3.title.text-center.text-green 研究方向
      p 免疫細胞是健康的好朋友，因為具有清除外來病原與癌細胞能力的免疫細胞，總會竭盡所能地讓身體回到最佳的健康狀態。體內一旦發現到癌細胞或其他病原，抵抗敵人的第一道防線＂先天性免疫＂就會立即啟動，NK細胞（Natural killer cell，自然殺手細胞）就是率先進行毒殺的一批免疫細胞。不具專一性攻擊的特性讓NK細胞不須經過教育與訓練，即可快速針對外來病菌進行攻擊；但相對的這類初級殺手的能力也有所受限，當NK細胞無法有效消滅癌細胞時，就必須仰賴具專一性攻擊的後天性免疫。
      p 後天性免疫主要由DC樹突細胞扮演指揮官，依據所遭遇的細菌、病毒或癌細胞不同，針對抗原做出高度專一性反應的能力，指揮毒殺型T細胞透過專一性的攻擊方式，直接鎖定特定病原或癌細胞進行攻擊。除了具有專一性外，後天免疫更擁有長期記憶性，倘若日後再有同樣病原出現時，記憶型T細胞便能快速的啟動並有效針對此病原進行攻擊。
  .row.flex.reverse
    .col-sm-5.col-xs-12.img
      img.img-responsive.center-block(src=url+"prod-img.jpg", alt="")
    .col-sm-7.col-xs-12.text
      p 免疫細胞療法，是利用自己的免疫細胞來對抗癌症與病毒感染等疾病的先進醫療技術，鑫品生醫不僅取得日本tella株式會社旗下DC樹突細胞、NK自然殺手細胞及T細胞擴增製備技術在台灣地區的獨家專利授權，TIE標靶免疫細胞（Targeted Immune Effector）更是鑫品生醫獨特的免疫細胞製劑技術。
  .row
    .col-xs-12
      p TIE標靶免疫細胞製備技術，是融合T細胞與樹突細胞治療技術，藉由將T細胞以及樹突細胞在體外強化培養，將可比單獨選用T細胞治療或樹突細胞治療，獲得更佳治療效果。透過抽取血液，並將血液中所得的單核球及T細胞分離出來，其單核球經由培養分化形成樹突細胞，這些樹突細胞與病原抗原或癌細胞抗原一起培養，可促使樹突細胞呈現癌症抗原，而T細胞與這些具有腫瘤抗原呈現的樹突細胞一起培養，將可訓練T細胞辨識腫瘤抗原。藉由加入特定細胞激素再刺激T細胞大量製造且維持活性，
      span.text-green 這些具有專一性攻擊能力的T細胞，經由點滴方式回輸人體後，將可直接針對特定病原或癌細胞進行攻擊而達到治療的目的。