- var url = '/ezfiles/773/1773/img/271/'

// 標題
.page.container-fluid.page-title
  .row
    .col-xs-12
      h4.title.text-center 研發團隊

.page.container-fluid.team.section-1
  .row
    .col-sm-5.col-xs-12.img
      img.img-responsive(src=url+"team.jpg", alt="")
    .col-sm-7.col-xs-12.text
      .content
        p
          b 專業研發陣容
        p 集結多名博士及碩士級研發菁英，負責原料開發、配方設計、產品研發、品管、品保及專利登記，實力堅強，驅動利統最強創新動能！
      .content
        p
          b 研發策略
        p
          | (1)	 藉由產學合作，強化研發能量。
          br
          | (2)	 產品或技術商品化及量產。
          br
          | (3)	 以智慧財產權保護研發成果。

//- .page.container-fluid.team.section-1
//-   .row
//-     .col-xs-12.text
//-       .content
//-         p
//-           b 研發實績
//-         ul
//-           li
//-             span.date 2009
//-             p 第一屆科技農企業菁創獎 創新研發類 金質獎
//-           li
//-             span.date 2009
//-             p 第一屆科技農企業菁創獎 創新研發類 優選獎
//-           li
//-             span.date 2012
//-             p 台灣生醫暨生農選秀大賽 生農組 金獎
//-           li
//-             span.date 2013
//-             p 台北生技獎 技術商品化獎：金獎
//-           li
//-             span.date 2014
//-             p 第21屆中小企業創新研究獎
//-           li
//-             span.date 2016
//-             p 台灣精品獎
.page.container-fluid.team.section-1
  .row
    .col-sm-5.col-xs-12.img
      .content
        p
          b 研發實績
        ul
          li
            span.date 2009
            p 第一屆科技農企業菁創獎 創新研發類 金質獎
          li
            span.date 2009
            p 第一屆科技農企業菁創獎 創新研發類 優選獎
          li
            span.date 2012
            p 台灣生醫暨生農選秀大賽 生農組 金獎
          li
            span.date 2013
            p 台北生技獎 技術商品化獎：金獎
          li
            span.date 2014
            p 第21屆中小企業創新研究獎
          li
            span.date 2016
            p 台灣精品獎
    .col-sm-7.col-xs-12.text
      .content
        p
          b 研發目標
        p 利統公司以生物技術為核心，致力於功能性食品、農業及畜牧資材的研究與產品設計開發，將這些具有特色的產品，運用於「每天都會用到」的傳統產業，同時，提供客戶即時且完整的技術服務及全方位的產品開發解決方案。未來五年將著力於以下研發目標:
        p
          | (1)	延緩老化、保護神經系統、增強體力、輔助血糖穩定、促進皮膚健康等保健食品素材應用及劑型開發。
          br
          | (2)	益生菌及益生質的應用開發。
          br
          | (3)	農業天然保鮮劑及功能性肥料開發。
          br
          | (4)	畜牧用飼料添加劑開發。