- var url = '/ezfiles/761/1761/img/209/'
.page.container-fluid.aboutus.structure
  .row
    .col-xs-12
      h3.title.text-center.text-green 組織架構
      img.img-responsive.center-block(src=url+"aboutus-1-img-4.jpg", alt="")
      ul.nav.nav-tabs
        li.active
          a(href="#stru-1", data-toggle="tab") 鑫品生醫
        li
          a(href="#stru-2", data-toggle="tab") 宇越生醫
        li
          a(href="#stru-3", data-toggle="tab") 柏威生醫
      .tab-content
        #stru-1.tab-pane.fade.in.active
          h4.title.text-green 鑫品生醫科技股份有限公司
          h5.text-blue
            | 以強大的研發技術團隊為後盾
            br
            | 專注於成人健康細胞儲存與細胞製劑製備之研究與應用
          p 鑫品生醫科技股份有限公司成立於2004年12月，於2005年取得新加坡英諾瓦公司慢病毒載體（Lentiviral Vector）技術授權，成為全亞洲第一個成功製備慢病毒基因載體的單位。
          p 後續朝往血癌新藥物及子宮頸癌治療疫苗、C型肝炎、人類疱疹病毒等多種疾病之研發方向前進，其中以利用基因修飾自體樹突細胞及TIE製劑技術，作為開發人體外培養自體免疫細胞之免疫細胞治療技術，並與許多知名醫療單位進行合作，針對多種疾病進行臨床研究治療。
          p 在後續開發過程中則因發現若有健康的免疫細胞可促使患者在疾病中達到更有效的治療控制，因此在2009年成立優化成人免疫細胞儲存銀行，提供儲存免疫細胞的服務。並於2012年在日本成立優化日本子公司，以提供客戶未來治療想選擇走在醫療尖端的日本時，有完整的個人化配套措施。
          p 2018年衛福部通過特管辦法開放免疫細胞療法，鑫品生醫不僅將與台灣醫療院所合作生產免疫細胞製劑，更成立了澳門鑫品、上海鑫品，啟動亞洲免疫細胞儲存及全方位整合應用服務。
        #stru-2.tab-pane.fade
          h4.title.text-green 宇越生醫科技股份有限公司
          h5.text-blue
            | 亞洲唯一以CAR-T為主要發展的生技公司
            br
            | 與高雄榮民總醫院合作進行CAR-T技術研發和細胞製劑產品開發
          p 秉持母公司「尊重生命、創新研發」之企業文化，為延續癌症病患寶貴生命與改善患者生活品質，致力於嵌合抗原受體T細胞(Chimeric Antigen Receptor T Cell,CAR-T)血癌與其他實體腫瘤等各種癌症治療之新藥開發。宇越生醫目標將研發成果落實於實際臨床應用，以人體自然的免疫機制來對抗癌症，帶領亞洲在癌症治療上創造重大突破，競爭於國際。
          p 宇越生醫將申請經濟部技術處「A+企業創新研發淬鍊計畫」補助，透過臨床一、二期試驗完成CAR-T細胞療法安全性及初步有效性之確認，進一步迅速進入中國、馬來西亞等亞洲市場，同時銜接國際與台灣臨床進度，加速取得台灣免疫細胞製劑藥證，盡早在台灣完成免疫細胞療法製劑合法上市，造福國內癌症病患。
          p 2015年宇越生醫與高雄榮民總醫院合作開發第三代CAR-T技術，同時也和台大醫院及山東聊城醫院開展血癌CAR-T免疫細胞療法臨床試驗。
          p 更多資訊
            a(href="http://www.uwell.com.tw/" target="_blank") http://www.uwell.com.tw/
        #stru-3.tab-pane.fade
          h4.title.text-green 柏威生醫科技股份有限公司
          h5.text-blue 全方位預防醫學與健康管理整合平台
          p 世界衛生組織（WHO）定義：健康是身體、心理和社會適應的完滿狀態，不僅僅是沒有疾病和衰弱的狀態”。整體人群中大約15%的人為健康的人，生病的人亦佔15%，其餘70%的人屬於亞健康的人。亞健康屬於一種動態，既可能發展為生病，也能經由健康管理恢復為健康。伴隨生物醫學的進步，追求健康不再只是生病後進行治療，更是需要結合防範未然與抗老保健。
          p 柏威生醫秉持母公司「尊重生命」之企業文化，以免疫細胞儲存「防患於未然」的理念出發，持續開發從預防醫學到健康評估檢測、由抗老保健至醫療照護的全方位健康管理服務平台，整合全球領先預防醫學與醫療資源，致力於提供民眾維持健康身心的多元選擇，並以延續病患寶貴生命與改善病患生活品質為目標，給予全面性的專業建議。
          p 柏威生醫將以不同的銷售管道，提供多元化的產品，從入門到進階，符合各族群消費能力；從預防保健到醫療規劃，提供健康管理從頭到尾的解決方案。
          p 更多資訊 柏威生醫 
            a(href="http://www.biowin.com.tw/" target="_blank") http://www.biowin.com.tw/