- var url = '/ezfiles/761/1761/img/209/'
.page.container-fluid.aboutus.market
  .row
    .col-xs-12
      h3.title.text-center.text-green 經營策略
      p 鑫品生醫為免疫細胞療法建議評估、新適應症開發、細胞製劑產品製造及行銷之專業生技公司，公司本著「尊重生命、創新研發、專業服務」之企業經營願景，提供創新醫療技術及產品，治療目前束手無策之疾病，延續病患寶貴生命及改善病患生活品質；同時更以台灣為發展基地，建構亞太地區細胞治療頂尖生技公司。
      br
      p
        b 公司營運策略如下：
      img.img-responsive.center-block(src=url+"aboutus-1-img-3.jpg", alt="")
      .content
        p
          b 建置符合國際細胞組織cGTP之專業生產基地
        p 免疫細胞治療目前偏向個人化醫療方式，為有效控管產品品質，美國食品藥物管理局（FDA）轄下CBER（Center for Biologics Evaluation and Research）已於2005年5月正式公告人體細胞組織及其衍生之細胞產品（Human Cell, Tissue, and Cellular-Based Products, HCT/Ps）相關法規，鑫品生醫將建置符合國際細胞組織cGTP臨床試驗階段細胞製劑生產之實驗室，並同步評估建置專業生產基地之可行性，以銜接細胞治療製劑化「cGTP + cGMP」規範標準，未來將可支援亞太地區臨床試驗之需求。
      .content
        p
          b 積極推動亞太地區細胞治療臨床試驗
        p 目前雖有多項免疫細胞治療之臨床試驗在歐美地區同步進行中，但是在亞太地區仍屬於相當新穎之技術，僅少數生技公司投入資源發展，而台灣的醫療體系及相關支援系統其實相當完備；另外，鑫品早在2006年便與北京道培醫院建立醫療技術合作關係，提供該院細胞治療技術委託服務。
      .content
        p
          b 國際策略聯盟及共同開發合作
        p 為加速鑫品生醫於亞太地區其他國家細胞治療臨床試驗的推動，未來將積極尋求日本、韓國、中國、澳洲及東南亞國家等跨國策略聯盟，透過與當地生技公司共同開發合作，縮短產品開發時程。現階段已於日本成立子公司，與日本池袋診所以及內藤診所合作，有醫療需求的民眾可洽詢優化日本，並為客戶量身訂製一套醫療服務旅行。