- var url = '/ezfiles/761/1761/img/209/'
.page.container-fluid.contact
  .row
    .col-xs-12
      h3.title.text-center.text-green 聯絡我們
  .row.info
    .col-xs-12
      h4.sub-title 線上諮詢 / Inquiry
      p
        | 如果您有任何問題或是對我們的建議，歡迎您與我們聯繫，請填寫右測諮詢表單，我們會在最快時間內與您聯絡!或是利用以下聯絡資訊，與我們聯繫!
        br
        | ( 
        span.text-red *
        | 為必填欄位.)

.page.container-fluid.contact.contact-2
  .row.info
    .col-xs-12
      h4.sub-title 聯絡資訊 / Contact Info
      p 鑫品生醫科技股份有限公司
      p Tel / 
        a(href="tel: +886-2-2697-1100") +886-2-2697-1100
      p Fax / +886-2-2697-1155
      p Add / 22175新北市汐止區新台五路一段97號6樓-11
      p Email / 
        a(href="mailto: info@yuva.com.tw") info@yuva.com.tw