- var url = '/ezfiles/761/1761/img/209/'
.page.container-fluid.contact
  .row
    .col-xs-12
      h3.title.text-center.text-green 聯絡我們
  .row.info
    .col-xs-12
      h4.sub-title 線上諮詢 / Inquiry
      p
        | 如果您有任何問題或是對我們的建議，歡迎您與我們聯繫，請填寫右測諮詢表單，我們會在最快時間內與您聯絡!或是利用以下聯絡資訊，與我們聯繫!
        br
        | ( 
        span.text-red *
        | 為必填欄位.)

.page.container-fluid.contact.contact-2
  .row
    .col-xs-12
      h4.sub-title 聯絡資訊 / Contact Info
  .row
    .col-sm-5.col-xs-12.info
      p 鑫品生醫科技股份有限公司
      p Tel / 
        a(href="tel: +886-2-2697-1100") +886-2-2697-1100
      p Fax / +886-2-2697-1155
      p Add / 22175新北市汐止區新台五路一段97號6樓-11
      p Email / 
        a(href="mailto: info@yuva.com.tw") info@yuva.com.tw
    .col-sm-7.col-xs-12.map
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14456.705592476574!2d121.6483893!3d25.0620097!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9db91c4b7820865e!2z6ZGr5ZOB55Sf6Yar56eR5oqA!5e0!3m2!1szh-TW!2stw!4v1575471863271!5m2!1szh-TW!2stw" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      p
        a(href="https://goo.gl/maps/pXr6VUixZjyej1c28" target="_blank") 檢視較大的地圖