- var url = '/ezfiles/773/1773/img/271/'
.page.contact-us.container-fluid
  .row
    // 區塊一
    .col-sm-6.col-xs-12
      h4.title Taipei Headquarters: Lytone Enterprise, Inc.
      p
        | Suite 1, 13F., No. 31-1, Lane 169, Kangning St., Xizhi Dist.
        br
        | New Taipei City 22180, Taiwan (R.O.C.)
      p
        span Tel: 
        a(href="tel: 886-2-26940885") 886-2-26940885;
        span Fax: 886-2-26940875
      p 
        a(href="http://www.lytone.com" target="_blank") http://www.lytone.com; 
        | Email: 
        a(href="mailto: info@lytone.com ") info@lytone.com 
    // 區塊二
    .col-sm-6.col-xs-12
      h4.title Shanghai Branch: Shanghai Lytone Biochemicals Ltd. 
      p
        | 8F, No. 525, Zhen Ning Road, Chang Ning District
        br
        | Shanghai, China 200050
      p
        span Tel: 
        a(href="tel: 86-21-6266-9337") 86-21-6266-9337;
        a(href="tel: 6298-1506") 6298-1506;
        a(href="tel: 6298-1507") 6298-1507;
        span Fax: 86-21-5252-0496
      p 
        | Email: 
        a(href="mailto: info@lytone.com") info@lytone.com