- var url = '/ezfiles/858/1858/img/1517/'

.page.container-fluid.custom
  .row
    .col-xs-12
      .module-title(data-aos="fade-down", data-aos-duration="2000")
        h4.title 訂製流程
  .row
    .col-sm-6.col-xs-12.img(data-aos="fade-down", data-aos-duration="2000")
      img.img-responsive.center-block(src=url + "custom-1.jpg", alt="")
    .col-sm-6.col-xs-12.img(data-aos="fade-down", data-aos-duration="2000")
      img.img-responsive.center-block(src=url + "custom-2.jpg", alt="")
  .row.service.process
    .col-xs-12(data-aos="fade-down", data-aos-duration="2000")
      h3.title ~ 專業客製化刺繡臂章 ~
    .col-xs-12(data-aos="fade-down", data-aos-duration="2000")
      span.svg(style="background:url("+url+"custom-icon-1.svg); width: 40px; height: 40px;")
      h4.title 歡迎先來圖詢問
    .col-xs-12(data-aos="fade-down", data-aos-duration="2000")
      span.svg(style="background:url("+url+"custom-icon-2.svg); width: 40px; height: 40px;")
      h4.title 請附上需要的製作數量、圖案尺寸
    .col-xs-12(data-aos="fade-down", data-aos-duration="2000")
      span.svg(style="background:url("+url+"custom-icon-3.svg); width: 40px; height: 40px;")
      h4.title 請傳送實際尺寸的高解析圖檔(JPG/BMP/PDF/PNG)
    .col-xs-12(data-aos="fade-down", data-aos-duration="2000")
      span.svg(style="background:url("+url+"custom-icon-4.svg); width: 40px; height: 40px;")
      h4.title 背面是否背膠 (背熱熔膠、背硬膠、魔鬼氈、背自黏膠)
    .col-xs-12(data-aos="fade-down", data-aos-duration="2000")
      p.contact.text-center
        a.btn(href="") 聯絡我們