- var url = '/ezfiles/761/1761/img/209/'

.news
  p
    | 癌症是全世界各個國家都面臨的難題。據統計，全球每年有1400多萬的癌症新發病例，每年有超過880萬患者死於癌症。儘管我們的治療技術已經比幾十年前有了非常巨大的進步，癌症生存率也已經有了非常大的提升。但是，我們治療腫瘤的方法可能不是那麼的完美，腫瘤長出來了，我們常規的治療就是手術切除腫瘤，術後做化療，放療，靶向治療等等。在殺滅癌細胞的同時，對正常的機體也有一定的損害。儘管這種綜合治療的模式，我們取得了非常大的進步，癌症的生存率有了大幅度的提升，以結直腸癌為例，5年生存率可以達到60%左右，早期的結腸癌，5年生存率可以達到90%以上。
    img.img-responsive.center-block(src=url+"tec-news.jpg", alt="")
  p
    b 早期腫瘤治療效果好，晚期癌症效果差
  p 對於早期的癌症，我們取得了非常好的治療效果。但是，對於晚期的腫瘤，我們目前還是缺乏特別好的辦法。腫瘤晚期，癌症細胞掠奪我們的營養，消耗我們的身體，我們已經很虛弱了，免疫系統的功能也收到抑制，腫瘤瘋狂的生長，使用化療和靶向治療，雖然可以殺滅腫瘤細胞，同時也有可能完全摧毀人類的免疫系統。患者可出現感染，營養不良，惡病質等情況。
  br
  br
  p
    b 新的治療方法，帶來新的希望
  p 為了克服晚期腫瘤治療效果差的現在。醫生們意識到了，我們需要轉變思路。不能夠單純的只靠放化療來消滅腫瘤。我們應該利用自身的力量，來消滅腫瘤。所以就出現了一種全新的治療辦法——免疫治療。腫瘤細胞之所以能夠無限制的生長，肯定是人類的免疫系統出問題了。腫瘤細胞很狡猾，通過各種手段，逃避了人類的免疫打擊。2017年，美國批准了一種全新的治療方法，嵌合抗原受體T細胞免疫療法（CAR-T療法），通過基因工程技術，將患者的免疫細胞T細胞提取出來，進行遺傳修飾，使其能夠識別腫瘤特異性抗原的受體。然後大量的培養這些T細胞，最後將這些T細胞回輸到患者體內，這些免疫細胞就可能識別癌細胞，並且殺死癌細胞。過去幾年，已有將近1000名晚期白血病或淋巴瘤患者參與了臨床試驗。其中，一半或者更多患者的壽命超過了預期壽命，有幾百名患者體內甚至完全檢測不到腫瘤細胞。
  p 應用該方法，為許多無藥可治的晚期血液腫瘤患者，帶來了治療甚至治癒的希望。隨著免疫治療方法的不斷完善，包括特異性的腫瘤疫苗，PD-1抑制劑等等。基於目前樂觀的實驗結果，有科學家認為，我們在不久的將來就可以根治腫瘤。在未來，我們通過重建患者的免疫力，利用自己的免疫細胞就可以徹底殺死腫瘤，而不需要藉助化療，放療等治療手段。
  p 我們有理由相信，在未來的10年、20年的時間裡面，我們可以通過調節自身的免疫力，達到攻克癌症的目的。
  p  原文網址：
    a(href="https://read01.com/4D2n44Q.html" target="_blank") https://read01.com/4D2n44Q.html