- var url = '/ezfiles/761/1761/img/209/'
.page.container-fluid.aboutus
  .row
    .col-xs-12
      h3.title.text-center.text-green 關於鑫品
      p 鑫品生醫科技股份有限公司成立於2004年12月，是由一群備受推崇的科學家與經驗豐富的企業家所組成的堅強結盟。秉持「尊重生命、創新研發、專業服務」之企業經營願景，鑫品生醫以強大的研發技術團隊為後盾，專注於成人健康細胞與細胞製劑製備之研究與應用，期能協助延續病患寶貴生命及改善病患生活品質。
      img.igm-responsive.center-block(src=url+"aboutus-1-img-1.jpg", alt="")
      p 2005年7月，鑫品生醫取得經濟部工業局新興重要策略性產業核准函，2006年永齡基金會委託針對血癌新藥物及新療法進行合作開發，並對於細胞治療之免疫細胞製劑進行研究，2007年鑫品生醫與北京市道培醫院進行感染性疾病免疫細胞療法先期臨床研究，獲得臨床上安全性及療效性的確認。此外，為符合美國FDA公告的人體細胞組織及其衍生之細胞產品（HCT/Ps）法規規範，本公司建立了符合cGTP需求之製程及管理作業規範，2009年鑫品生醫在中國及台灣推動各項免疫細胞治療臨床試驗。
      p 根據多年的免疫細胞培養經驗及國際期刊文獻中發現，能否取得健康的免疫細胞，是影響免疫細胞療法成效的重要關鍵之一。為確保免疫細胞製劑在未來應用的可能性，本公司於2009年成立免疫細胞冷凍技術研發與保存中心，在投入免疫細胞冷凍保存技術研究的同時，更以「優化成人免疫細胞儲存銀行」為品牌，進行免疫細胞儲存技術與服務之推廣。2011年本公司的專業與用心，獲得最嚴格把關的國家品質標章委員們的一致肯定，以「免疫細胞儲存技術與服務」榮獲SNQ(Safety and Quality)國家品質標章，是國內第一家以免疫細胞儲存技術獲得國家品質標章認證的最優質廠商。
      p 本公司現階段產品開發之技術平台為Adoptive cell therapy（ACT）免疫細胞療法技術，可應用於細胞治療（Cell Therapy）技術及細胞製劑（Cellular-based Biologics）產品開發，目前細胞製劑相關技術涵蓋：
      ul
        li.text-green 腫瘤及癌症領域：啟動人類自身免疫系統之辨識能力，達到治療或抑制癌症復發之目的。
        li.text-green 感染性疾病：提升免疫系統防禦能力，預防感染性疾病與發炎。
  .row
    .col-sm-6.col-xs-12.img
      img.img-responsive(src=url+"aboutus-1-img-2.jpg", alt="")
    .col-sm-6.col-xs-12.text
      p 為確保免疫細胞在未來的實際應用性，鑫品生醫早在多年前便致力於研發製備免疫細胞劑製的獨家專利技術，更廣邀國內重量級腫瘤治療權威與知名免疫細胞治療研究專家擔任首席研發長，並與國內外多家大型醫療院所合作進行免疫細胞治療研究，累積傲人的臨床治療技術與跨國交流經驗。
      p 自2012年起鑫品生醫更積極以台灣為發展基地，以成為亞太地區頂尖之細胞治劑製備與細胞保存中心為目標，將研發團隊累積多年之中、台、美三國研發技術經驗，應用於專業的細胞免疫療法建議評估、新適應症開發、細胞製劑產品製造及免疫細胞儲存等多元化服務，期許將研發成果落實於實際臨床應用，為客戶提供完善的個人化醫療保障，貫徹生命保險的真諦。
      p 2018年9月衛生福利部發布「特定醫療技術檢查檢驗醫療儀器施行或使用管理辦法」修正條文（以下稱特管辦法），開放6項細胞治療技術，適用對象包括自體免疫細胞治療，用於標準治療無效的癌症病人與實體癌末期病人。鑫品生醫憑藉著多年跨國交流經驗，隨即與日本tella集團簽署獨家技術授權合作，攜手為癌症免疫細胞治療市場開創新頁，並著手與各大醫療院所合作申請特管辦法細胞治療模式。
      p 癌症細胞免疫治療將開放 啟動癌症醫治新選擇