// 主色系設定
$color-1: #66ccff
$color-2: #f39800
$color-3: #00913a
$color-4: #ffb600
$color-5: #ea5514
$color-n: transparent
$color-b: #545454
$color-b2: #7c7c7c
$color-menu: #f1efea
$color-red: #cf0a2c
$color-blue: #3b7abf
$color-blued: #033557
$color-orange: #e0797d
$color-yellow: #d3b41e
$color-grey: #6c6d6d
$color-grey2: #ebebeb
$color-green: #80bca3
$color-green-d: #507f71
$color-gorden: #c68f32
$color-skyblue: #339dd1
$color-pink: rgba(#ec979d, .9)