=max-width
  max-width: 1180px
  margin-left: auto
  margin-right: auto

=module-title
  .title
    text-align: center
    font-size: 22px
    letter-spacing: 0.2rem
    color: #000000
    margin-top: 0
    &::after
      content: ''
      display: block
      margin: 0 auto
      width: 311px
      height: 31px
      background: url(#{$url}title-mask.svg) center center no-repeat
      margin-top: 7.5px
      position: relative
      left: -9px
      @media #{$mobile}
        max-width: calc(100% - 10px)
        left: -5px
  .sub-title
    font-size: 18px
    color: #000000
    letter-spacing: 0.2rem
    text-align: center
    margin-top: 7.5px


=trans
  transition: .3s ease-in-out

=btn($textColor: 'white', $bgColor: $color-pink)
  border-color: $bgColor
  background: $bgColor
  color: $textColor
  +trans
  &:hover
    background: $color-n
    color: $bgColor

=box-shadow-2
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, .5)