=max-width
  max-width: 1180px
  margin-left: auto
  margin-right: auto

=module-title
  text-align: center
  .content
    border-bottom: 3px solid #f9f07d
    display: inline-block
    padding-bottom: 7.5px
  h4.title
    font-size: 30px
    font-weight: 600
    letter-spacing: 0.05rem
    color: #0d80b2
    margin-bottom: 0
  h5.sub-title
    margin-top: 0
    font-size: 20px
    font-weight: 600
    letter-spacing: 0.05rem
    color: #0d80b2



=trans
  transition: .3s ease-in-out

=btn($textColor: 'white', $bgColor: $color-pink)
  border: 1px solid rgba(#000000, .5)
  width: 247px
  height: 33px
  display: inline-flex
  align-items: center
  justify-content: center
  background: none
  font-size: 18px
  letter-spacing: 0.2rem
  color: #3C2415
  +trans
  border-radius: 0
  border-bottom: 1px solid rgba(#000000, .5)
  &:hover
    background: #3C2415
    color: white
    span
      color: white
  span
    color: #3C2415

=box-shadow-2
  box-shadow: 0 0 30px -5px rgba(0, 0, 0, .5)

=shadow
  filter: drop-shadow(7px 7px 5px rgba(#000, .15))