- var url = './dist/images/'

.idx.container-fluid.section-5
  .row
    .col-xs-12
      .module-title
        .content
          h4.title 用戶回饋
          h5.sub-title FEEDBACK
  .row.content
    .col-sm-6.col-xs-12.img
      img.img-responsive(src=url + "section-5-img-1.png", alt="")
    .col-sm-6.col-xs-12.text
      p
        | 新北市 陳先生
        br
        | 狀況：腰部僵硬
        br
        | 以前早上起床腰桿都無法挺直，很痛苦，
        br
        | 使用一個月後狀況有明顯改善，彎曲程度改善很多。 
      p.text-center.more 
        a.btn(href="") READ MORE
          span.svg(style="background:url("+url+"arrow.svg); width: 74px; height: 5px;")
  .row.content.reverse
    .col-sm-6.col-xs-12.img
      img.img-responsive(src=url + "section-5-img-2.png", alt="")
    .col-sm-6.col-xs-12.text
      p
        | 新北市 陳先生
        br
        | 狀況：腰部僵硬
        br
        | 以前早上起床腰桿都無法挺直，很痛苦，
        br
        | 使用一個月後狀況有明顯改善，彎曲程度改善很多。 
      p.text-center.more 
        a.btn(href="") READ MORE
          span.svg(style="background:url("+url+"arrow.svg); width: 74px; height: 5px;")
  .row.content
    .col-sm-6.col-xs-12.img
      img.img-responsive(src=url + "section-5-img-3.png", alt="")
    .col-sm-6.col-xs-12.text
      p
        | 新北市 陳先生
        br
        | 狀況：腰部僵硬
        br
        | 以前早上起床腰桿都無法挺直，很痛苦，
        br
        | 使用一個月後狀況有明顯改善，彎曲程度改善很多。 
      p.text-center.more 
        a.btn(href="") READ MORE
          span.svg(style="background:url("+url+"arrow.svg); width: 74px; height: 5px;")