- var url = '/ezfiles/872/1872/img/1681/'

.idx.container-fluid.section-3
  .row.title-content
    .col-xs-12.slogan(data-aos="fade-up")
      span.svg.hidden-xs(style="background:url("+url+"slogan.svg); width: 656px; height: 36px;")
      img.visible-xs.img-responsive.center-block(src=url + "slogan-m.png", alt="")
  .row.list
    .col-sm-4.col-xs-12(data-aos="fade-up")
      .img
        a(href="")
          img.img-responsive(src=url + "section-3-img-1.png", alt="")
    .col-sm-4.col-xs-12(data-aos="fade-up")
      .img
        a(href="")
          img.img-responsive(src=url + "section-3-img-2.png", alt="")
    .col-sm-4.col-xs-12(data-aos="fade-up")
      .img
        a(href="")
          img.img-responsive(src=url + "section-3-img-3.png", alt="")