- var url = './dist/images/'

.idx.container-fluid.section-4
  .row
    .col-xs-12
      .module-title
        .content
          h4.title 產品介紹
          h5.sub-title PRODUCTS
  .row
    .col-sm-6.col-xs-12.img
      img.img-responsive(src=url + "section-4-img.png", alt="")
    .col-sm-6.col-xs-12.text
      h4.title “喜洋洋”熱敷墊(未滅菌) 
      p 衛部醫器製壹字第 008743 號
      p 尺寸：40X70 CM
      p 使用電壓：110V
      p 功率：170W
      p 製造廠：仙家美企業有限公司