- var url = '/ezfiles/780/1780/img/404/'

.idx.container-fluid.section-3
  .container
    .row
      .col-sm-4.col-xs-12
        a(href="")
          img.img-responsive(src=url + "section-3-img-1.png", alt="")
          figcaption.text
            .content
              h3 產品資訊
              h4 Products
              p.more
                span.svg(href="" style="background:url("+url+"arrow-right.svg); width: 31px; height: 31px;")
      .col-sm-4.col-xs-12
        a(href="")
          img.img-responsive(src=url + "section-3-img-2.png", alt="")
          figcaption.text
            .content
              h3 下載專區
              h4 Downloads
              p.more
                span.svg(href="" style="background:url("+url+"arrow-right.svg); width: 31px; height: 31px;")
      .col-sm-4.col-xs-12
        a(href="")
          img.img-responsive(src=url + "section-3-img-3.png", alt="")
          figcaption.text
            .content
              h3 聯繫我們
              h4 Contact
              p.more
                span.svg(href="" style="background:url("+url+"arrow-right.svg); width: 31px; height: 31px;")