- var url = '/ezfiles/858/1858/img/1517/'

.idx.container-fluid.section-2
  .row.title-content
    .col-xs-12
      .module-title(data-aos="fade-up")
        h4.title 服務項目
        h5.sub-title 電腦刺繡、臂章、客製化刺繡
  .row.list
    .col-sm-3.col-xs-12(data-aos="fade-up")
      .img
        a(href="")
          img.img-responsive(src=url + "section-2-img.png", alt="")
    .col-sm-3.col-xs-12(data-aos="fade-up")
      .img
        a(href="")
          img.img-responsive(src=url + "section-2-img.png", alt="")
    .col-sm-3.col-xs-12(data-aos="fade-up")
      .img
        a(href="")
          img.img-responsive(src=url + "section-2-img.png", alt="")
    .col-sm-3.col-xs-12(data-aos="fade-up")
      .img
        a(href="")
          img.img-responsive(src=url + "section-2-img.png", alt="")
    .col-xs-12
      p.more
        a.btn(href="") 瀏覽更多