- var url = '/ezfiles/876/1876/img/1716/'

.idx.container-fluid.section-4
  .row
    .col-md-3.col-sm-12.col-xs-12
      .module-title(data-aos="fade-right")
          h5.sub-title media report
          h4.title 媒體報導
    .col-md-9.col-sm-12.col-xs-12
      .owl-carousel
        .item
          a(href="")
            img.img-responsive(src=url + "section-4-icon-1.png", alt="")
        .item
          a(href="")
            img.img-responsive(src=url + "section-4-icon-2.png", alt="")
        .item
          a(href="")
            img.img-responsive(src=url + "section-4-icon-3.png", alt="")
        .item
          a(href="")
            img.img-responsive(src=url + "section-4-icon-4.png", alt="")