- var url = './dist/images/'

.idx.container-fluid.section-7
  .row
    .col-xs-12
      .module-title
        .content
          h4.title 購買通路
          h5.sub-title SHOPS
  .row.content
    .col-sm-6.col-xs-12.img
      img.img-responsive(src=url + "section-7-img-1.png", alt="")
    .col-sm-6.col-xs-12.text
      ul
        li 健宇保健器材
        li 怡安康醫療器材行
        li 大安醫療器材行
        li 樂而康銀髮醫療保健
        li 弘新醫療器材行
        li 陽明醫療器材有限公司
        li 保豐堂醫療器材行
        li 振馨醫療器材有限公司
  .row.content.reverse
    .col-sm-6.col-xs-12.img
      img.img-responsive(src=url + "section-7-img-2.png", alt="")
    .col-sm-6.col-xs-12.text
      ul
        li 健宇保健器材
        li 怡安康醫療器材行
        li 大安醫療器材行
        li 樂而康銀髮醫療保健
        li 弘新醫療器材行
        li 陽明醫療器材有限公司
        li 保豐堂醫療器材行
        li 振馨醫療器材有限公司
  .row.content
    .col-sm-6.col-xs-12.img
      img.img-responsive(src=url + "section-7-img-3.png", alt="")
    .col-sm-6.col-xs-12.text
      ul
        li 健宇保健器材
        li 怡安康醫療器材行
        li 大安醫療器材行
        li 樂而康銀髮醫療保健
        li 弘新醫療器材行
        li 陽明醫療器材有限公司
        li 保豐堂醫療器材行
        li 振馨醫療器材有限公司