- var url = '/ezfiles/786/1786/img/485/'

.idx.container-fluid.section-4
  .container
    .row
      .col-xs-12.img
        img.img-responsive(src=url + "section-4-img.png", alt="")
      .col-xs-12(data-aos="fade-up")
        .module-title
          h4.title.text-green.text-center 聯繫我們
          h5.sub-title.text-center CONTACT
        | ===MODULE===