- var url = '/ezfiles/876/1876/img/1716/'

.idx.section.section-2.container-fluid
  .row
    .col-xs-12.title(data-aos="fade-up" data-aos-duration="500")
      .module-title
        h4.title 產品介紹
        h4.sub-title PRODUCTS
  .row
    .col-sm-4.col-xs-12.list
      ul
        li(data-aos="fade-right" data-aos-duration="500")
          a(href="") 氬銲機
            span.en TIG
        li(data-aos="fade-right" data-aos-duration="500")
          a(href="") 半自動溶接機
            span.en CO2/MAG/MIG
        li(data-aos="fade-right" data-aos-duration="500")
          a(href="") 電銲機
            span.en MMA
        li(data-aos="fade-right" data-aos-duration="500")
          a(href="") 離子切割機
            span.en CUT
        li(data-aos="fade-right" data-aos-duration="500")
          a(href="") 面罩
            span.en HELMET
        li(data-aos="fade-right" data-aos-duration="500")
          a(href="") 氬銲配件
        li(data-aos="fade-right" data-aos-duration="500")
          a(href="") 切割配件
        li(data-aos="fade-right" data-aos-duration="500")
          a(href="") CO2配件
        li(data-aos="fade-right" data-aos-duration="500")
          a(href="") 自動銲接轉盤/滾輪
    .col-sm-8.col-xs-12.gallery
      .flex
        .img(data-aos="fade-left" data-aos-duration="500")
          a(href="")
            span.svg(style="background:url("+url+"section-2-img-1.png);")
        .img(data-aos="fade-up" data-aos-duration="500")
          a(href="")
            span.svg(style="background:url("+url+"section-2-img-2.png);")
        .img(data-aos="fade-right" data-aos-duration="500")
          a(href="")
            span.svg(style="background:url("+url+"section-2-img-3.png);")
        .img(data-aos="fade-left" data-aos-duration="500")
          a(href="")
            span.svg(style="background:url("+url+"section-2-img-4.png);")
        .img(data-aos="fade-up" data-aos-duration="500")
          a(href="")
            span.svg(style="background:url("+url+"section-2-img-5.png);")
        .img(data-aos="fade-right" data-aos-duration="500")
          a(href="")
            span.svg(style="background:url("+url+"section-2-img-6.png);")
        .img(data-aos="fade-left" data-aos-duration="500")
          a(href="")
            span.svg(style="background:url("+url+"section-2-img-7.png);")
        .img(data-aos="fade-up" data-aos-duration="500")
          a(href="")
            span.svg(style="background:url("+url+"section-2-img-8.png);")
        .img(data-aos="fade-right" data-aos-duration="500")
          a(href="")
            span.svg(style="background:url("+url+"section-2-img-9.png);")