- var url = '/ezfiles/853/1853/img/1414/'

.idx.container-fluid.section-1
  .row
    .col-sm-4.col-xs-12(data-aos="fade-up")
      a(href="")
        img.img-responsive.center-block(src=url + "section-1-img-1.png", alt="")
    .col-sm-4.col-xs-12(data-aos="fade-up")
      a(href="")
        img.img-responsive.center-block(src=url + "section-1-img-2.png", alt="")
    .col-sm-4.col-xs-12(data-aos="fade-up")
      a(href="")
        img.img-responsive.center-block(src=url + "section-1-img-3.png", alt="")