- var url = './dist/images/'

.idx.section-3.container-fluid
  .row
    .col-xs-12
      .module-title
        h4.title 最新消息
        h5.sub-title NEWS
  .row.list
    .col-sm-6
      span.date 2021-04-01
      p
        a(href="") 喜洋洋專屬推出熱敷墊，領有衛福部醫療材許可。 
    .col-sm-6
      span.date 2021-04-01
      p
        a(href="") 喜洋洋專屬推出熱敷墊，領有衛福部醫療材許可。 
    .col-sm-6
      span.date 2021-04-01
      p
        a(href="") 喜洋洋專屬推出熱敷墊，領有衛福部醫療材許可。 
    .col-sm-6
      span.date 2021-04-01
      p
        a(href="") 喜洋洋專屬推出熱敷墊，領有衛福部醫療材許可。 