- var url = '/ezfiles/851/1851/img/1401/'

.idx.container-fluid.section-3
  .row
    .col-sm-12.col-xs-12
      .box
        .module-title(data-aos="fade-right")
          h5.sub-title OUR PRODUCTS
          h4.title 商品資訊
    .col-sm-12.col-xs-12
      | ===MODULE===