- var url = './dist/images/'

.idx.section.section-2.container-fluid
  .row
    .col-sm-3
      figure
        figcaption
          | 90%用戶
          br
          | 在三個月內使用有感 
        span.svg(style="background:url("+url+"section-2-icon-1.svg); width: 100px; height: 100px;")
    .col-sm-3
      figure
        figcaption
          | 遠紅外線0.949%提升
          br
          | 血液循 環、幫助睡眠
        span.svg(style="background:url("+url+"section-2-icon-2.svg); width: 100px; height: 100px;")
    .col-sm-3
      figure
        figcaption 
          | 定時定溫控制不怕
          br
          | 睡著只怕不想起來
        span.svg(style="background:url("+url+"section-2-icon-3.svg); width: 100px; height: 100px;")
    .col-sm-3
      figure
        figcaption 
          | 3D 立體網眼布舒適透氣
          br
          | 能量粉末散佈均勻
        span.svg(style="background:url("+url+"section-2-icon-4.svg); width: 100px; height: 100px;")
    .col-sm-3
      figure
        figcaption 
          | 台灣製造
          br
          | 擁有兩年保固時間
        span.svg(style="background:url("+url+"section-2-icon-5.svg); width: 100px; height: 100px;")
    .col-sm-3
      figure
        figcaption 
          | 專利設計
          br
          | 有效阻隔電池波
        span.svg(style="background:url("+url+"section-2-icon-6.svg); width: 100px; height: 100px;")
    .col-sm-3
      figure
        figcaption 
          | 緩解局部疲勞感
          br
          | 協助治療
        span.svg(style="background:url("+url+"section-2-icon-7.svg); width: 100px; height: 100px;")
    .col-sm-3
      figure
        figcaption 
          | 擁有美國專利
          br
          | 多項檢測報告
        span.svg(style="background:url("+url+"section-2-icon-8.svg); width: 100px; height: 100px;")