- var url = './dist/images/'

.idx.section.section-1.container-fluid(style="background:url("+url+"section-1-bg.png);")
  .row
    .col-xs-12
      .content.text-center
        h4.title 溫暖舒適像家人一樣的陪伴
        p
          | 喜洋洋的產品，為了舒適材質，找遍最親膚的布料；
          br
          | 為了健康，花了五年時間提升品質，只為了呵護所愛的
        p
          small Warm and comfortable like family