- var url = '/ezfiles/786/1786/img/485/'

.idx.container-fluid.section-2
  .row
    .col-sm-6.col-xs-12.link
      .module-title(data-aos="fade-up")
        h4.title.text-green.text-center 360°肌膚保養整合方案
      ul
        li(data-aos="fade-up")
          a(href="") 客製化原料開發
        li(data-aos="fade-up")
          a(href="") 化妝品原料功效性驗證平台 
        li(data-aos="fade-up")
          a(href="") 化妝品原料安全性驗證平台 
        li(data-aos="fade-up")
          a(href="") 微生物檢驗
        li(data-aos="fade-up")
          a(href="") 原料INCI申請
        li(data-aos="fade-up")
          a(href="") 各國法規遵循與諮詢 
        li(data-aos="fade-up")
          a(href="") 化妝品ODM/OEM代工
    .col-sm-6.col-xs-12.img(data-aos="fade-left")
      img.img-responsive(src=url + "section-2-img.png", alt="")
      p.more
        a.btn(href="") 瞭解更多 