- var url = '/ezfiles/858/1858/img/1517/'

.idx.container-fluid.section-1
  .row
    .col-sm-6.col-xs-12
      h4.title(data-aos="fade-up") 關於台暐
      p(data-aos="fade-up")
        | 985年創立至今將近40個年頭，台暐刺繡一直將每一個客戶的商品當作代表作來製作，用心規劃及製作每一個案件。
        br
        | 也因此獲得許多國內外廠商的青睞，放心將他們所希望呈現的臂章交與我們製作。
      p.more
        a.btn(href="") 瀏覽更多
      span.svg(style="background:url("+url+"more-icon.svg); width: 458px; height: 40px;")
    .col-sm-6.col-xs-12(data-aos="fade-up")
      .img
        img.img-responsive(src=url + "section-1-img.png", alt="")