- var url = '/ezfiles/851/1851/img/1401/'

.idx.container-fluid.section-2(style="background:url("+url+"section-2-bg.png);")
  .row
    .col-sm-12.col-xs-12
      .content.text-center
        hgroup
          h6(data-aos="fade-up") ABOUT US
          h4(data-aos="fade-up") 認識德泰
        p(data-aos="fade-up")
          | 2020年，為因應政府 Taiwan Can Help 防疫政策，希望能將國內足夠的物資寄送他國提供協助，
          br
          | 同時也為社會盡一份心力、提升防護力!
      a.btn(href="" data-aos="fade-up")
        | 了解更多
        span.svg(style="background:url("+url+"arrow.svg); width: 88px; height: 6px;")