- var url = '/ezfiles/853/1853/img/1414/'

.idx.container-fluid.section-2
  .row.title-content
    .col-xs-12
      .module-title
        h4 酒造介紹
  .row.list
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-1.png);")
        .text
          p 八戶酒類
          p 青森/東北
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-2.png);")
        .text
          p 八戶酒類
          p 青森/東北
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-3.png);")
        .text
          p 秋田清酒
          p 秋田/東北
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-4.png);")
        .text
          p 秋田釀造
          p 秋田/東北
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-5.png);")
        .text
          p 両関酒造
          p 秋田/東北
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-6.png);")
        .text
          p 両関酒造
          p 秋田/東北
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-7.png);")
        .text
          p 会津酒造
          p 福島/東北
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-8.png);")
        .text
          p 曙酒造
          p 福島/東北
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-9.png);")
        .text
          p 曙酒造
          p 福島/東北
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-10.png);")
        .text
          p 豊国酒造
          p 福島/東北
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-11.png);")
        .text
          p 中沢酒造
          p 神奈川/關東
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-12.png);")
        .text
          p 井上清吉商店
          p 栃木/關東
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-13.png);")
        .text
          p 吉酒保酒造
          p 茨城/關東
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-14.png);")
        .text
          p 青木酒造
          p 新潟/中部
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-15.png);")
        .text
          p 青木酒造
          p 新潟/中部
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-16.png);")
        .text
          p 豊島屋
          p 長野/中部
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-17.png);")
        .text
          p 豊島屋
          p 長野/中部
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-18.png);")
        .text
          p 酒千蔵野
          p 長野/中部
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-19.png);")
        .text
          p 株式会社仙釀
          p 長野/中部
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-20.png);")
        .text
          p 諏訪御湖鶴酒造場
          p 長野/中部
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-21.png);")
        .text
          p 丸石釀造株式会社
          p 愛知/中部
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-22.png);")
        .text
          p 山陽盃酒造
          p 兵庫/關西
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-23.png);")
        .text
          p 富久錦株式会社
          p 兵庫/關西
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-24.png);")
        .text
          p 中国釀造
          p 廣島/中国
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-25.png);")
        .text
          p 亀齡酒造
          p 廣島/中国
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-26.png);")
        .text
          p 相原酒造
          p 廣島/中国
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-27.png);")
        .text
          p 相原酒造
          p 廣島/中国
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-28.png);")
        .text
          p 富士酒造
          p 島根/中国
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-29.png);")
        .text
          p 澄川酒造場
          p 山口/中国
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-30.png);")
        .text
          p 澄川酒造場
          p 山口/中国
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-31.png);")
        .text
          p 阿武の鶴酒造
          p 山口/中国
    .col-md-2.col-sm-3.col-xs-12(data-aos="fade-up")
      a(href="")
        .img
          span.svg(style="background:url("+url+"section-2-img-32.png);")
        .text
          p 寒北斗酒造
          p 福岡/九州