- var url = '/ezfiles/780/1780/img/404/'

.idx.container-fluid.section-2
  .container
    .row.reverse
      .col-sm-6.col-xs-12.img
        img.img-responsive(src=url + "section-2-img.png", alt="")
      .col-sm-6.col-xs-12.text
        h3.title
          span 關於川上
        p 川上企業有限公司為德國PEPPERL + FUCHS台灣代理商。P+F成立於1945年，在1958年製造出全世界第一顆近接開關，之後不斷創新研發，產品領域涵蓋使用於工廠自動化之工業用感測器、流程自動化使用之本安型防爆隔離閘及液位產品，憑藉著其豐富經驗，已成為感測器業界的領導品牌。川上公司將秉持服務的精神，繼續引進最先進、最高品質的工藝產品，為自動化產業注入新的活力。