- var url = '/ezfiles/876/1876/img/1716/'

.idx.section.section-1.container-fluid
  .row(data-aos="fade-up" data-aos-duration="500")
    .col-sm-5.col-xs-12.img(data-aos="fade-right" data-aos-duration="500")
      span.svg(style="background:url("+url+"section-1-img.svg); width: 291px; height: 114px;")
    .col-sm-7.col-xs-12.text(data-aos="fade-left" data-aos-duration="500")
      .module-title
        h4.title 關於我們
        h4.sub-title ABOUT US
      p.text-center
        | 本公司位於
        span.text-orange 新北市
        | ，專業銷售金屬銲接及切割設備、配件、銲材，
        br
        | 品項最齊全的
        span.text-orange 銲接用品超市
        | ，專業維修各式銲接機器、
        br
        | 銲槍組、氬氣表、CO2加熱表。
      p.text-center
        | 銷售項目: 直流氬銲機、交直流氬銲機、電離子切割機、MAG/MIG溶接機、
        br
        | 交流電銲機、變頻直流電銲機、攜帶型高壓鋼瓶、植釘機、汽車鈑金設備、
        br
        | 銲接轉盤、銲接滾輪、圓鋸機、HSS圓鋸片、帶鋸機、带鋸條、手電焊條、
        br
        | TIG氬銲條、軟鋼銲線、自動變色面罩。