- var url = '/ezfiles/872/1872/img/1681/'

.idx.container-fluid.section-1
  .row
    .col-sm-6.col-xs-12
      a(href="")
        span.img
          img.img-responsive(src=url + "section-1-img-1.png", alt="" data-aos="fade")
        span.text
          span.content
            h5(data-aos="fade-down" data-aos-delay="100" data-aos-duration="400") SS21 NEW COLLETION
            h4(data-aos="fade-down" data-aos-delay="200" data-aos-duration="400") OCEAN
            span.svg(style="background:url("+url+"section-1-icon.svg); width: 41px; height: 10px;" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400")
    .col-sm-6.col-xs-12
      a(href="")
        span.img
          img.img-responsive(src=url + "section-1-img-2.png", alt="" data-aos="fade")
        span.text
          span.content
            h5(data-aos="fade-down" data-aos-delay="100" data-aos-duration="400") SS21 NEW COLLETION
            h4(data-aos="fade-down" data-aos-delay="200" data-aos-duration="400") CITY
            span.svg(style="background:url("+url+"section-1-icon.svg); width: 41px; height: 10px;" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400")