- var url = '/ezfiles/786/1786/img/485/'

.idx.container-fluid.section-1
  .row
    .col-sm-5.col-xs-12.img(data-aos="fade-right")
      img.img-responsive(src=url + "section-1-img.png", alt="")
    .col-sm-7.col-xs-12.text(data-aos="fade-left")
      .content
        .module-title(data-aos="fade-up")
          h4.title.text-green.text-center 關於妍禾
          h5.sub-title.text-center ABOUT US
        p(data-aos="fade-up") 妍禾生醫以新竹為研發生產基地，成立於2017年。
        p(data-aos="fade-up")
          | 以「皮膚科學」和「檢測分析科學」為基礎，挖掘市場需求，
          br
          | 提供符合國際規範的「360°肌膚保養整合方案」--從創新原料開發到
          br
          | 高效產品生產，透過我們的超能級五大實驗室與通過ISO 22716認證
          br
          | 的專業化妝品工廠，以各項精準數據分析和嚴格的品質管理，確保
          br
          | 產品安全、穩定、有效，為消費者的美麗和皮膚健康把關。