include ../custom_module/title.pug
footer.foot.container-fluid
    .row
        .container
            .row
                +header-title('Contact us', '聯絡我們')
                article.col-xs-12
                    img.logo.img-responsive(src="dist/images/footer-logo.svg", alt="")
                    p
                footer.col-xs-12
                    ul.list-inline
                        li
                            a(href="")
                                img(src="dist/images/social-icon-fb.svg", alt="")
                        li
                            a(href="")
                                img(src="dist/images/social-icon-linkin.svg", alt="")
                        li
                            a(href="")
                                img(src="dist/images/social-icon-ig.svg", alt="")
                        li
                            a(href="")
                                img(src="dist/images/social-icon-google.svg", alt="")
                        li
                            a(href="")
                                img(src="dist/images/social-icon-twitter.svg", alt="")
                        li
                            a(href="")
                                img(src="dist/images/social-icon-line@.svg", alt="")
                        li
                            a(href="")
                                img(src="dist/images/social-icon-edm.svg", alt="")
    .row
        article.col-xs-12
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14460.124084039391!2d121.5531937!3d25.0330213!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xedda4225bb1305b9!2z5o236YGL5L-h576p5a6J5ZKM56uZ!5e0!3m2!1szh-TW!2stw!4v1506313836554" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        footer.col-xs-12
            p.text-center
                span © 2015~2017 LSP Taiwan 台灣樂高認真玩  All rights reserved.  版權資訊　
                a(href="http://redmedia.tw" target="_blank") +網頁設計+