- var url = '/ezfiles/786/1786/img/485/'

footer.foot.container-fluid.hidden
	.container
		.row
			.col-sm-4.logo
				span.svg(style="background:url("+url+"foot-logo.svg); width: 318px; height: 49px;")
			.col-sm-8.info
				.row
					.col-sm-6.col-xs-12
						p
							| 聯絡電話：
							a(href="tel: 03-575-2901") 03-575-2901
						p 傳真電話：03-575-2468
						p
							| 聯絡信箱：
							a(href="mailto: joanneliang@tfmintl.com.tw") joanneliang@tfmintl.com.tw
					.col-sm-6.col-xs-12
						p 聯絡地址：300 新竹市東區東美路91巷5號5F 
						p 服務時間：周一至周五 AM 8:00-PM 5:00
			//- .col-sm-6.col-xs-12.logo.text-center
			//- 	hgroup.module-title
			//- 		h3.title 聯絡我們
			//- 		h3.sub-title CONTACT US
			//- 	p 利統股份有限公司
			//- .col-sm-6.col-xs-12.info
			//- 	p
			//- 		span 電話：
			//- 		a(href="tel: (02)2694-0885") (02)2694-0885
			//- 	p
			//- 		span 傳真：
			//- 		span (02)2694-0875
			//- 	p
			//- 		span 網站:
			//- 		a(href="http//www.lytone.com" target="_blank") http//www.lytone.com
			//- 	p
			//- 		span 電子郵件：
			//- 		a(href="mailto: info@lytone.com") info@lytone.com
			//- 	p
			//- 		span 地址：
			//- 		span 新北市(221)汐止區康寧街169巷31之1號13樓之1
			//- 	ul.list-inline
			//- 		li
			//- 			a(href="https://business.facebook.com/lytonebio/?business_id=466068413862819  " target="_blank")
			//- 				img(src=url+"foot-icon-1.png", alt="")
			//- 		li
			//- 			a(href="")
			//- 				img(src=url+"foot-icon-2.png", alt="")
			//- 		li
			//- 			a(href="")
			//- 				img(src=url+"foot-icon-3.png", alt="")


.design.container-fluid
	.row
		.col-xs-12
			p.text-center
				span 妍禾生醫科技股份有限公司2020
				span © Copyright All Rights Reserved
				a(href="") 隱私權政策
				a.design-by(href="http://www.e-creation.com.tw" target="_blank") Design By 藝創媒體

.cookie-notify
	.content
		p 
			| 為了給您更好的使用體驗，我們使用 Cookies，如繼續使用我們的網站，即表示您接受我們使用 Cookies。您可以編輯、取得、刪除您的 Cookies 記錄，詳情請參考我們的
			a(href="#") 隱私保護及Cookie聲明
			| 。
			a.gotIt(type="button") Got it!