include ../custom_module/title.pug
footer.foot.container-fluid
    .row
        .container
            .row
                +header-title('Contact us', '聯絡我們')
                article.col-xs-12
                    img.logo.img-responsive(src="", alt="")
                    p
                footer.col-xs-12
                    ul.list-inline
                        li
                            a(href="")
                                img(src="", alt="")
    .row
        .col-xs-12
            iframe