- var url = '/ezfiles/858/1858/img/1517/'

footer.foot.container-fluid
	.row
		.col-sm-4.col-xs-12.img-content
			.img
				img.img-responsive(src=url + "foot-icon.svg", alt="")
		.col-sm-4.col-xs-12.info-content
			.module-title
				h4.title 聯絡我們
				p
					span.svg(style="background:url("+url+"foot-info-icon-1.svg); width: 20px; height: 20px;")
					| TEL：
					a(href="tel: 02-89817747") 02-89817747
				p
					span.svg(style="background:url("+url+"foot-info-icon-2.svg); width: 20px; height: 20px;")
					| E-Mail：
					a(href="mailto: prbaby0516@gmail.com") prbaby0516@gmail.com
				p
					span.svg(style="background:url("+url+"foot-info-icon-3.svg); width: 20px; height: 20px;")
					| ADD：新北市三重區中正北路532號9樓
		.col-sm-4.col-xs-12.social-content
			ul.list-inline
				li
					a.svg(href="" style="background:url("+url+"foot-social-1.svg); width: 28px; height: 28px;")
				li
					a.svg(href="" style="background:url("+url+"foot-social-2.svg); width: 28px; height: 28px;")
				li
					a.svg(href="" style="background:url("+url+"foot-social-3.svg); width: 28px; height: 28px;")

//- .fix-bottom
//- 	img.img-responsive(src=url + "fix-bottom.png", alt="")
.design.container-fluid
	.row
		.col-xs-12
			p.text-center
				span Copyright © 2021 台暐企業有限公司
				span All Rights Reserved
				a.design-by(href="http://www.e-creation.com.tw" target="_blank") DESIGN BY 藝創媒體

//- .cookie-notify
//- 	.content
//- 		p 
//- 			| 為了給您更好的使用體驗，我們使用 Cookies，如繼續使用我們的網站，即表示您接受我們使用 Cookies。您可以編輯、取得、刪除您的 Cookies 記錄，詳情請參考我們的
//- 			a(href="#") 隱私保護及Cookie聲明
//- 			| 。
//- 			a.gotIt(type="button") Got it!