- var url = '/ezfiles/851/1851/img/1401/'

footer.foot.container-fluid
	.row
		.col-xs-12.title
			h4
				b 德泰舒康口罩
				b SIKE MASK
		.col-xs-12.contact
			.box
				ul.list-inline
					li 彰化縣二林鄉後厝里斗苑路三段637號
					li
						a(href="mailto: service@chief-light.com") service@chief-light.com
					li
						a(href="tel: 04-26310725") 04-26310725
		.col-sm-12.col-xs-12.social
			ul.list-inline
				li
					a(href="" style="background:url("+url+"foot-icon-1.svg); width: 35px; height: 35px;")
				li
					a(href="" style="background:url("+url+"foot-icon-2.svg); width: 35px; height: 35px;")
				li
					a(href="" style="background:url("+url+"foot-icon-3.svg); width: 35px; height: 35px;")
		.col-sm-12.col-xs-12.copyright
			p Copyright © 2020. SIKE MASK. All Rights Reserved.
//- .design.container-fluid
//- 	.row
//- 		.col-xs-12
//- 			p.text-center
//- 				span 妍禾生醫科技股份有限公司2020
//- 				span © Copyright All Rights Reserved
//- 				a(href="") 隱私權政策
//- 				a.design-by(href="http://www.e-creation.com.tw" target="_blank") Design By 藝創媒體

//- .cookie-notify
//- 	.content
//- 		p 
//- 			| 為了給您更好的使用體驗，我們使用 Cookies，如繼續使用我們的網站，即表示您接受我們使用 Cookies。您可以編輯、取得、刪除您的 Cookies 記錄，詳情請參考我們的
//- 			a(href="#") 隱私保護及Cookie聲明
//- 			| 。
//- 			a.gotIt(type="button") Got it!