- var url = '/ezfiles/766/1766/img/242/'

footer.foot
	.row
		.col-xs-12
			h4.title 聯絡我們
			h5.sub-title CONTACT US
			span.svg(style="background:url("+url+"footer-line.svg); width: 591px; height: 10px;")
		.info
			p
				| 電話：
				a(href="tel: 02-77381010") 02-77381010
			p
				| Email：
				a(href="mailto: yinhuo88@gmail.com") yinhuo88@gmail.com
		.info
			p 傳真：02-27210611
			p
				| 地址：台北市松山區敦化南路一段102號12樓之2
				span.social
					a.svg(href="#" style="background:url("+url+"line.svg); width: 33px; height: 33px;")
					a.svg(href="https://www.instagram.com/holidayyinhuo/" target="_blank" style="background:url("+url+"ig.svg); width: 33px; height: 33px;")
	.row.map
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d596.1938286978766!2d121.54819342115638!3d25.046184514643514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abc35519d579%3A0x44175350f2a6bcec!2zMTA15Y-w5YyX5biC5p2-5bGx5Y2A5pWm5YyW5Y2X6Lev5LiA5q61MTAy6Jmf!5e0!3m2!1szh-TW!2stw!4v1576587693716!5m2!1szh-TW!2stw" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		//- .col-sm-6.col-xs-12.map
		//- 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.3576904404335!2d121.4651783150053!3d24.98795898399385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346802bfcb825737%3A0xdbd657f2a9059440!2zMjM25paw5YyX5biC5Zyf5Z-O5Y2A6YeR5Z-O6Lev5LiJ5q61MTAx5be3MuiZnw!5e0!3m2!1szh-TW!2stw!4v1568216416857!5m2!1szh-TW!2stw" width="100%" height="243" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		//- 	p.text-right
		//- 		a(href="http://www.e-creation.com.tw" target="_blank") Design by 藝創媒體
			

			//- p.text-white
			//- 	| E-mail: 
			//- 	a(href="mailto: chiuh.chien@msa.hinet.net") chiuh.chien@msa.hinet.net
			//- p.text-white
			//- 	| 地址：新北市三重區重安街117號1樓 
			//- p.text-white
			//- 	| Copyright © 勗健股份有限公司 Taiwan Products,B2BManufactures,B2BChinaSource
		//- .col-xs-12.designBy.bg-grey
		//- 	p.text-center
		//- 		span 2007© 陸信五膠金業有限公司
		//- 		span 版權所有
		//- 		span Copyright All Rights Reserved.
		//- 		a.pull-right.text-blue(href="http://www.e-creation.com.tw" target="_blank") Design by 藝創媒體


.design.container-fluid
	.row
		.col-xs-12
			p.text-center
				| 銀火旅行社Coppyrightⓒ2019.All Rights Reserved
				a(href="http://www.e-creation.com.tw" target="_blank") Design By 藝創媒體