- var url = '/ezfiles/853/1853/img/1414/'

footer.foot.container-fluid
	.row
		.info-content
			p.title 綠芽酒藏/綠芽創意有限公司
			ul.list-inline
				li 新北市新莊區新北大道三段7號12樓之5
				li TEL: 
					a(href="tel: 02-85227269") 02-85227269
				li Open 9:00am / Close 5:30pm
				li 星期一~星期五/例假日休
			ul.list-inline
				li 日本酒專賣/銘柄/地酒/活動/通路/歡迎洽詢
				li
					a(href="mailto: greens7269@gmail.com") greens7269@gmail.com
				li Line ID : 
					a(href="https://lin.ee/z6AQUrM" target="_blank") @greenssake
			ul.list-inline.social
				li
					a.svg(href="https://reurl.cc/v53lMe" target="_blank" style="background:url("+url+"foot-social-icon-1.svg); width: 29px; height: 29px;")
				li
					a.svg(href="https://lin.ee/z6AQUrM" target="_blank" style="background:url("+url+"foot-social-icon-2.svg); width: 29px; height: 29px;")
				li
					a.svg(href="https://reurl.cc/KxKmG9" target="_blank" style="background:url("+url+"foot-social-icon-3.svg); width: 29px; height: 29px;")
			p
				| 本網站內任何內容，含文字敘述、攝影、圖片、錄音、影像及所使用之軟體、程式，其著作權及其他智慧財產權，均屬本網站所有或經合法授權使用，受有著作權法及其他智慧財產權
				br
				| 法之保護。非經本網站之同意或合法授權，任何人皆不得擅自以任何形式進行複製、改作、編輯、散佈、引用、傳輸、公開發表、進行還原工程或為其他足以侵害著作權人權益之行為
				br
				| ，否則應負所有法律責任。如有發現違反者，本網站必依法追究其法律責任。

.fix-bottom
	img.img-responsive(src=url + "fix-bottom.png", alt="")
//- .design.container-fluid
//- 	.row
//- 		.col-xs-12
//- 			p.text-center
//- 				span 妍禾生醫科技股份有限公司2020
//- 				span © Copyright All Rights Reserved
//- 				a(href="") 隱私權政策
//- 				a.design-by(href="http://www.e-creation.com.tw" target="_blank") Design By 藝創媒體

//- .cookie-notify
//- 	.content
//- 		p 
//- 			| 為了給您更好的使用體驗，我們使用 Cookies，如繼續使用我們的網站，即表示您接受我們使用 Cookies。您可以編輯、取得、刪除您的 Cookies 記錄，詳情請參考我們的
//- 			a(href="#") 隱私保護及Cookie聲明
//- 			| 。
//- 			a.gotIt(type="button") Got it!