- var url = '/ezfiles/780/1780/img/404/'

footer.foot.container-fluid
	.container
		.row
			.col-sm-4.logo
				span.svg(style="background:url("+url+"foot-logo.svg); width: 308px; height: 78px;")
			.col-sm-4.info
				h3.title 台北總公司
				p.addr
					span.svg(style="background:url("+url+"location.svg); width: 13px; height: 18px;")
					b ADDRESS
					span 11491 台北市內湖區瑞光路76巷41號1樓
				p.phone
					span.phone-1
						span.svg(style="background:url("+url+"tel.svg); width: 18px; height: 13px;")
						b TEL
						a(href="tel: 02-2792-0078") 02-2792-0078
					span.phone-2
						span.svg(style="background:url("+url+"fax.svg); width: 20px; height: 17px;")
						b FAX
						span 02-8791-7969
				p.mail
					span.svg(style="background:url("+url+"mail.svg); width: 17px; height: 12px;")
					b EMAIL
					a(href="mailto: info@kawa-kami.com.tw") info@kawa-kami.com.tw
			.col-sm-4.info
				h3.title 台中營業所
				p.addr
					span.svg(style="background:url("+url+"location.svg); width: 13px; height: 18px;")
					b ADDRESS
					span 40765 台中市西屯區安和路168號9樓之2
				p.phone
					span.phone-1
						span.svg(style="background:url("+url+"tel.svg); width: 18px; height: 13px;")
						b TEL
						a(href="tel: 04-2465-8898") 04-2465-8898
					span.phone-2
						span.svg(style="background:url("+url+"fax.svg); width: 20px; height: 17px;")
						b FAX
						span 04-2465-8838

			//- .col-sm-6.col-xs-12.logo.text-center
			//- 	hgroup.module-title
			//- 		h3.title 聯絡我們
			//- 		h3.sub-title CONTACT US
			//- 	p 利統股份有限公司
			//- .col-sm-6.col-xs-12.info
			//- 	p
			//- 		span 電話：
			//- 		a(href="tel: (02)2694-0885") (02)2694-0885
			//- 	p
			//- 		span 傳真：
			//- 		span (02)2694-0875
			//- 	p
			//- 		span 網站:
			//- 		a(href="http//www.lytone.com" target="_blank") http//www.lytone.com
			//- 	p
			//- 		span 電子郵件：
			//- 		a(href="mailto: info@lytone.com") info@lytone.com
			//- 	p
			//- 		span 地址：
			//- 		span 新北市(221)汐止區康寧街169巷31之1號13樓之1
			//- 	ul.list-inline
			//- 		li
			//- 			a(href="https://business.facebook.com/lytonebio/?business_id=466068413862819  " target="_blank")
			//- 				img(src=url+"foot-icon-1.png", alt="")
			//- 		li
			//- 			a(href="")
			//- 				img(src=url+"foot-icon-2.png", alt="")
			//- 		li
			//- 			a(href="")
			//- 				img(src=url+"foot-icon-3.png", alt="")


.design.container-fluid
	.row
		.col-xs-12
			p.text-center
				span 川上企業有限公司Copyright
				span ⓒ2020.All Rights Reserved
				a(href="http://www.e-creation.com.tw" target="_blank") Design By 藝創媒體