- var url = '/ezfiles/876/1876/img/1716/'

footer.foot
	.row
		.col-xs-12.col-sm-12
			.module-title
				h4.title 聯絡我們
				h4.sub-title CONTACT US
	.row
		.col-sm-6.col-xs-12.map-content
			.map(data-aos="fade-up" data-aos-duration="500")
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.3187171415266!2d121.46149471500671!3d25.05718448396145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a88c3a53cc7f%3A0xdf4571b632ecc7c1!2zMjQy5paw5YyX5biC5paw6I6K5Y2A5YyW5oiQ6LevMzcx5be3MjjlvIQx6Jmf!5e0!3m2!1szh-TW!2stw!4v1618647888295!5m2!1szh-TW!2stw" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
		.col-sm-6.col-xs-12.info-content
			table
				tr
					td
						span.svg(style="background:url("+url+"foot-icon-1.svg); width: 25px; height: 25px;")
						| 服務專線：
					td
						a(href="tel: 02-2900-0036") 02-2900-0036
				tr
					td
						span.svg(style="background:url("+url+"foot-icon-2.svg); width: 25px; height: 25px;")
						| 客服專線：
					td 
						a(href="tel: 0800-35-36-37") 0800-35-36-37
				tr
					td
						span.svg(style="background:url("+url+"foot-icon-3.svg); width: 25px; height: 25px;")
						| 傳真專線：
					td 02-2900-2036
				tr
					td
						span.svg(style="background:url("+url+"foot-icon-4.svg); width: 25px; height: 25px;")
						| 服務時間：
					td 週一 至 週五 08:00 ~ 17:30
				tr
					td
						span.svg(style="background:url("+url+"foot-icon-5.svg); width: 25px; height: 25px;")
						| 服務地址：
					td 
						| 242新北市新莊區化成路371巷28弄1號
						br
						span 243 新北市泰山區同義街106-3號 (舊址)
		//- .col-sm-6.col-xs-12.map
		//- 	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.3576904404335!2d121.4651783150053!3d24.98795898399385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346802bfcb825737%3A0xdbd657f2a9059440!2zMjM25paw5YyX5biC5Zyf5Z-O5Y2A6YeR5Z-O6Lev5LiJ5q61MTAx5be3MuiZnw!5e0!3m2!1szh-TW!2stw!4v1568216416857!5m2!1szh-TW!2stw" width="100%" height="243" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		//- 	p.text-right
		//- 		a(href="http://www.e-creation.com.tw" target="_blank") Design by 藝創媒體
			

			//- p.text-white
			//- 	| E-mail: 
			//- 	a(href="mailto: chiuh.chien@msa.hinet.net") chiuh.chien@msa.hinet.net
			//- p.text-white
			//- 	| 地址：新北市三重區重安街117號1樓 
			//- p.text-white
			//- 	| Copyright © 勗健股份有限公司 Taiwan Products,B2BManufactures,B2BChinaSource
		//- .col-xs-12.designBy.bg-grey
		//- 	p.text-center
		//- 		span 2007© 陸信五膠金業有限公司
		//- 		span 版權所有
		//- 		span Copyright All Rights Reserved.
		//- 		a.pull-right.text-blue(href="http://www.e-creation.com.tw" target="_blank") Design by 藝創媒體


.design.container-fluid
	.row
		.col-xs-12
			p.text-center
				| Copyright © 2009 By Daan Welding CO.,LTD. All rights reserved.
				a(href="http://www.e-creation.com.tw" target="_blank") +Design By 藝創媒體