- var url = '/ezfiles/872/1872/img/1681/'

footer.foot.container-fluid
	.row
		.col-xs-12
			p.text-center.logo
				span.svg(style="background:url("+url+"foot-icon.svg); width: 77px; height: 19px;")
			p
				a(href="mailto: waza.co2020@gmail.com")  waza.co2020@gmail.com
			p 客服時間 : 週一至週五 10:00a.m~08:00 p.m
			p.ig
				span.svg(style="background:url("+url+"foot-ig.svg); width: 20px; height: 20px;")
			p © 2021 WAZA All Rights Reserved

//- .fix-bottom
//- 	img.img-responsive(src=url + "fix-bottom.png", alt="")
//- .design.container-fluid
//- 	.row
//- 		.col-xs-12
//- 			p.text-center
//- 				span Copyright © 2021 台暐企業有限公司
//- 				span All Rights Reserved
//- 				a.design-by(href="http://www.e-creation.com.tw" target="_blank") DESIGN BY 藝創媒體

//- .cookie-notify
//- 	.content
//- 		p 
//- 			| 為了給您更好的使用體驗，我們使用 Cookies，如繼續使用我們的網站，即表示您接受我們使用 Cookies。您可以編輯、取得、刪除您的 Cookies 記錄，詳情請參考我們的
//- 			a(href="#") 隱私保護及Cookie聲明
//- 			| 。
//- 			a.gotIt(type="button") Got it!