- var url = '/ezfiles/851/1851/img/1401/'
.right
	//- a.svg(href="" target="_blank" style="background:url("+url+"right-icon-1.svg); width: 79px; height: 79px;")
	a.svg.gotop(href="javascript: void(0);")
		img.img(src=url+"gotop.png", alt="")
	