- var url = '/ezfiles/876/1876/img/1716/'
.right
	//- a.svg(href="" style="background:url("+url+"right-1.svg); width: 78px; height: 78px;")
	a.svg.gotop(href="javascript: void(0);" style="background:url("+url+"gotop.svg); width: 31px; height: 31px;")