.gotop
    a(href="javascript: void(0)")
        <svg id="圖層_1" data-name="圖層 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.84 12.92"><defs><style>.cls-1{fill:#050505;}</style></defs><title>工作區域 24</title><polygon class="cls-1" points="0 12.92 12.92 0 25.84 12.92 0 12.92"/></svg>
        <svg id="圖層_1" data-name="圖層 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58 58"><defs><style>.cls-1{fill:#050505;}.cls-2{font-size:14px;fill:#fff;font-family:MicrosoftJhengHeiBold, Microsoft JhengHei;font-weight:700;}</style></defs><title>工作區域 25</title><circle class="cls-1" cx="29" cy="29" r="29"/><text class="cls-2" transform="translate(8.33 35.38)">ＴＯＰ</text></svg>