- var url = '/dist/images/'
.right
	a.svg(href="tel: 02-2972-0639" style="background: url("+url+"right-1.svg)")
	a.svg(href="http://nav.cx/9jvp4uU" target="_blank" style="background: url("+url+"right-2.svg)")
	a.svg.gotop(href="javascript: void(0);" style="background: url("+url+"right-3.svg)")
	