- var url = '/ezfiles/876/1876/img/1716/'
nav.navbar
	.container-fluid
		.tel
			.content
				span.svg(style="background:url("+url+"phone-icon.svg); width: 24px; height: 24px;")
				span 服務專線：
				a(href="tel: 0800-35-36-37") 0800-35-36-37
		//- ul
		//- 	//- li
		//- 	//- 	a(href="")
		//- 	//- 		img(src=url+"head-icon-1.png", alt="")
		//- 	//- 		| 電子報
		//- 	//- li.global
		//- 	//- 	a(href="")
		//- 	//- 		img(src=url+"head-icon-2.png", alt="")
		//- 	//- 		| 繁體中文
		//- .social
		//- 	<form class="formBS" role="search" name="SearchMoForm" method="post" action="/bin/index.php?Plugin=mec&amp;Action=mobile_mecsearch/bin/index.php?Plugin=mec&amp;Action=mobile_mecsearch&amp;Lang=zh-tw">
		//- 		<div class="input-group">
		//- 			<span class="input-group-btn">
		//- 				button.btn.svg(type="submit" style="background: url("+url+"search.svg)")
		//- 			</span>
		//- 			<input id="sch_key" name="SchKey" type="text" class="form-control" value="" placeholder="Search">
		//- 		</div>
		//- 	</form>
		.navbar-header
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			// LOGO放置處
			a.navbar-brand.svg(href='/' style="background: url("+url+"logo.svg); width: 279px; height: 45px;")
		#navbar.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li(data-aos="fade-in", data-aos-delay="100")
					a(href="")
						span.tw 首頁
				li(data-aos="fade-in", data-aos-delay="200")
					a(href="")
						span.tw 關於我們
				li(data-aos="fade-in", data-aos-delay="300")
					a(href="")
						span.tw 最新消息
				li(data-aos="fade-in", data-aos-delay="400")
					a(href="")
						span.tw 產品介紹
				li(data-aos="fade-in", data-aos-delay="500")
					a(href="")
						span.tw 聯絡我們				
				.social
					<form class="formBS" role="search" name="SearchMoForm" method="post" action="/bin/index.php?Plugin=mec&amp;Action=mobile_mecsearch/bin/index.php?Plugin=mec&amp;Action=mobile_mecsearch&amp;Lang=zh-tw">
						<div class="input-group">
							<span class="input-group-btn">
								button.btn.svg(type="submit" style="background: url("+url+"search.svg); width: 20px; height: 20px;")
							</span>
							<input id="sch_key" name="SchKey" type="text" class="form-control" value="" placeholder="Search">
						</div>
					</form>
				//- li.dropdown(data-aos="fade-in" data-aos-delay="300")
				//- 	a.fz16a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 關於協會
				//- 	ul.dropdown-menu(role='menu')
				//- 		li
				//- 			a(href="") 設立沿革 
				//- 		li
				//- 			a(href="") 宗旨任務
				//- 		li
				//- 			a(href="") 組織架構
				//- 		li
				//- 			a(href="") 理監事
				//- 		li
				//- 			a(href="") 大事紀
				//- li.dropdown(data-aos="fade-in" data-aos-delay="400")
				//- 	a.fz16a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 評鑑服務
				//- 	ul.dropdown-menu(role='menu')
				//- 		li
				//- 			a(href="") 服務項目 
				//- 		li
				//- 			a(href="") 歷年實績

				//- li.dropdown(data-aos-delay="500", data-aos="fade-in")
				//- 	a.fz16a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 國際合作
				//- 	ul.dropdown-menu(role='menu')
				//- 		li
				//- 			a(href="") 現況與發展 
				//- 		li
				//- 			a(href="") 國際合作組織
				//- 		li
				//- 			a(href="") 國際領航平台 
				//- li(data-aos-delay="600", data-aos="fade-in")
				//- 	a.fz16(href="") 校務研究
				//- li.dropdown(data-aos-delay="700", data-aos="fade-in")
				//- 	a.fz16a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 研習活動
				//- 	ul.dropdown-menu(role='menu')
				//- 		li
				//- 			a(href="") 活動簡介 
				//- 		li
				//- 			a(href="") 歷年實績
				//- li.dropdown(data-aos-delay="800", data-aos="fade-in")
				//- 	a.fz16(href="") 出版品
				//- li.dropdown(data-aos-delay="900", data-aos="fade-in")
				//- 	a.fz16a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') 相關連結
				//- 	ul.dropdown-menu(role='menu')
				//- 		li
				//- 			a(href="") 國外評鑑機構 
				//- 		li
				//- 			a(href="") 國內評鑑機構
				//- 		li
				//- 			a(href="") 評鑑雙月刊 

				//- li.facebook
				//- 	a(href="https://www.facebook.com/yinhuo.tw/" target="_blank")
				//- 		img.img-responsive(src=url+"facebook.svg" style="width: 23px; height: 23px;")