nav.navbar
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                // LOGO放置處
                img.img-responsive(src="/dist/images/headlogo.svg", alt="")
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href='#') 公司簡介
                li
                    a(href='#') 最新消息
                //- li
                //-     a(href='#') 產品介紹
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                        | 產品介紹
                        //- span.caret
                    ul.dropdown-menu(role='menu')
                        li
                            a(href='#') 微盤偵測系統
                        li
                            a(href='#') 微陣列偵測系統
                        li
                            a(href='#') 微盤清洗儀
                        li
                            a(href="#") HP D300e Digital
                        li
                            a(href="#") TECAN自動化工作平台
                        li
                            a(href="#") paa自動設備
                        li
                            a(href="#") 樣品儲存設備
                        li
                            a(href="#") 實驗用器具及耗材
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                        | 應用相關
                    ul.dropdown-menu(role='menu')
                        li
                            a(href='#') 核酸定量應用
                        li
                            a(href="#") 微生物學應用
                li
                    a(href="#") 聯絡我們

                        //- li.divider
                        //- li.dropdown-header Nav header
                        //- li
                        //-     a(href='#') Separated link
                        //- li
                        //-     a(href='#') One more separated link
            ul.list-inline.social
                li
                    a(href="#")
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="23px" height="48px" viewBox="0 0 23 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                            <title>Shape</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <path d="M22.3039536,15.5426206 L14.7080108,15.5426206 L14.7080108,10.5607949 C14.7080108,8.68987787 15.9480025,8.25369489 16.821362,8.25369489 L22.1817429,8.25369489 L22.1817429,0.0288139102 L14.7994204,0 C6.60434693,0 4.73939143,6.13438212 4.73939143,10.060029 L4.73939143,15.5426206 L0,15.5426206 L0,24.0178845 L4.73939143,24.0178845 L4.73939143,48 L14.7080108,48 L14.7080108,24.0178845 L21.4345684,24.0178845 L22.3039536,15.5426206 Z" id="Shape" fill="#171C61"></path>
                            </g>
                        </svg>
                li
                    a(href="#")
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="51px" height="48px" viewBox="0 0 51 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                            <title>Shape</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <path d="M25.1641904,0.00119233133 C31.5724282,0.0572688857 37.4652389,1.73717928 42.5884883,5.69355916 C46.0425654,8.35898516 48.6006108,11.6961367 49.7460043,15.9842034 C51.0894553,21.0084241 50.1278021,25.6341433 47.2535804,29.9102788 C45.2097689,32.9491508 42.50497,35.3425459 39.7154597,37.6512295 C35.2281423,41.3642133 30.4162967,44.5939842 25.2894679,47.3500872 C24.8384692,47.589904 24.3636082,47.8094377 23.8720435,47.9466463 C23.0678818,48.1745319 22.4999576,47.6483667 22.6419386,46.8263083 C22.7111395,46.4278069 22.9151627,46.055554 22.998681,45.6582456 C23.2528151,44.4412651 23.5510947,43.2302501 23.6918826,42.0001453 C23.796877,41.0635475 23.3029261,40.6507286 22.3555903,40.5624379 C16.5367529,40.0219554 11.2560119,38.0974557 6.77823933,34.273512 C2.91492268,30.9733471 0.497665249,26.8236821 0.0633702324,21.6968533 C-0.313655112,17.2644192 1.00354736,13.2746321 3.6976082,9.76328526 C7.35809477,4.98842631 12.3131146,2.24067515 18.072296,0.822057637 C20.3988764,0.248167794 22.7624436,-0.0202837959 25.1641904,0.00119233133 Z M24.7597234,19.0863107 C24.9386911,19.3082307 25.0198231,19.3989077 25.0914102,19.4967434 C26.6221809,21.5703827 28.1505652,23.6476015 29.6884946,25.7212409 C30.1478451,26.3392761 30.7288936,26.5671617 31.3027835,26.3858077 C31.8814458,26.2020675 32.2202913,25.7188546 32.2214845,24.975542 C32.2262569,21.7481574 32.2238707,18.5183864 32.2107464,15.2886155 C32.207167,14.4892264 31.6273116,13.9045985 30.8935439,13.899826 C30.1502313,13.8926673 29.5823071,14.5107025 29.5811139,15.3423059 C29.5763415,17.1081208 29.5775346,18.8727425 29.571569,20.6409437 C29.571569,20.7924697 29.541741,20.9463819 29.5142993,21.2100611 C29.3472628,20.997686 29.2530064,20.8843398 29.1671019,20.7674142 C27.6745111,18.7426927 26.1866927,16.7155849 24.6917157,14.6920564 C24.1727092,13.9928892 23.6775652,13.7805142 23.0511782,13.9714131 C22.4080875,14.1694707 22.1193529,14.6562629 22.1157735,15.5511015 C22.1062286,18.6532088 22.0954905,21.7517367 22.0931043,24.853844 C22.0931043,25.8214628 22.6121107,26.4180219 23.4198517,26.4263737 C24.2442963,26.4359187 24.7633027,25.8644151 24.7728477,24.8932169 C24.7823926,23.7072574 24.7633027,22.5236842 24.7585303,21.3389178 C24.7573372,20.6409437 24.7597234,19.937004 24.7597234,19.0863107 Z M36.6348286,16.5533208 C37.7754496,16.5533208 38.8886288,16.5604795 39.9994219,16.5509346 C40.9276678,16.5437759 41.52542,16.0355075 41.5421237,15.2671394 C41.5588273,14.4462741 40.9706201,13.890281 40.0256705,13.8831223 C38.5175691,13.8711911 37.0130471,13.8711911 35.5061388,13.8855086 C34.4323325,13.8950535 33.9503127,14.3961631 33.9407678,15.4866732 C33.9312228,16.4352021 33.9359953,17.3813448 33.9348022,18.3274875 C33.9312228,20.522825 33.9192916,22.7205487 33.9264503,24.914693 C33.9312228,25.9395815 34.4192082,26.4204081 35.427393,26.4251806 C37.0213989,26.4299531 38.6130185,26.4204081 40.2070244,26.4299531 C40.8513082,26.4347256 41.2796377,26.1125836 41.4979783,25.5494319 C41.8213133,24.7082835 41.1388497,23.8086724 40.172424,23.7895826 C38.9948164,23.7681064 37.8160156,23.7848101 36.6228974,23.7848101 L36.6228974,21.5011819 C37.819595,21.5011819 38.9769196,21.5083406 40.1330511,21.4987957 C40.9527233,21.4916369 41.5194544,20.9654718 41.5480893,20.219773 C41.5731447,19.4466324 41.0076067,18.8846737 40.1533341,18.8524595 C39.7882399,18.8381421 39.4231458,18.8476871 39.0568585,18.8476871 L36.6348286,18.8476871 C36.6348286,18.0399461 36.6348286,17.3360063 36.6348286,16.5533208 Z M11.4827043,23.7979344 L11.4827043,22.9615585 C11.4779318,20.4452723 11.4827043,17.9277929 11.4636144,15.4138929 C11.4564557,14.4820677 10.9195525,13.9057916 10.1380601,13.910564 C9.36014707,13.9177228 8.83278884,14.5095094 8.8304026,15.4365622 C8.81847142,18.5959391 8.81369895,21.7588954 8.81966454,24.9206586 C8.82324389,25.9324228 9.33031912,26.4216013 10.3373109,26.4239875 C11.8645021,26.42876 13.3916934,26.42876 14.9176915,26.4239875 C15.8399719,26.4239875 16.4341447,25.9157191 16.4436897,25.1306474 C16.4520415,24.3455756 15.8184958,23.8027069 14.8771255,23.7979344 C13.7842293,23.7955481 12.6901399,23.7979344 11.4827043,23.7979344 Z M17.6260698,20.1350616 L17.608173,20.1350616 C17.608173,21.7266812 17.6010143,23.3183009 17.6105593,24.9099205 C17.6165249,25.8190766 18.14269,26.408477 18.930148,26.4132494 C19.7235716,26.4204081 20.2580885,25.8489045 20.2580885,24.9313966 C20.2557023,21.7266812 20.2437711,18.5255452 20.2199087,15.3208297 C20.2175225,15.0547644 20.151901,14.7540986 20.0146924,14.5285993 C19.687778,13.9928892 19.1699647,13.8270458 18.5650538,13.9857305 C17.9828121,14.1372565 17.6332285,14.6359799 17.6272629,15.3625889 C17.6165249,16.9518223 17.6260698,18.5434419 17.6260698,20.1350616 Z" id="Shape" fill="#171C61"></path>
                            </g>
                        </svg>
                li
                    a(href="#")
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="48px" height="48px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <!-- Generator: Sketch 41.2 (35397) - http://www.bohemiancoding.com/sketch -->
                            <title>Shape</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <path d="M41.99919,0 L6.00081004,0 C2.61158364,0 0,2.61158364 0,6.00081004 L0,41.99919 C0,45.3851762 2.61158364,48 6.00081004,48 L41.99919,48 C45.3851762,48 48,45.3884164 48,41.99919 L48,6.00081004 C48,2.61158364 45.3851762,0 41.99919,0 Z M24.035642,14.5710814 C29.3592548,14.5710814 33.671932,18.7509113 33.671932,23.909275 C33.671932,29.0643985 29.3592548,33.2474686 24.035642,33.2474686 C18.7152693,33.2474686 14.4025921,29.0643985 14.4025921,23.909275 C14.4025921,18.7509113 18.7185095,14.5710814 24.035642,14.5710814 Z M41.99919,40.4989874 C41.99919,41.5520454 41.5488052,41.99919 40.4989874,41.99919 L7.50101256,41.99919 C6.45119482,41.99919 6.00081004,41.5520454 6.00081004,40.4989874 L6.00081004,19.4993925 L9.7399757,20.3126772 C9.3381936,21.618469 9.12110166,22.9987849 9.12110166,24.4309437 C9.12110166,32.4082625 15.8023491,38.8821385 24.035642,38.8821385 C32.272175,38.8821385 38.9501823,32.4115026 38.9501823,24.4309437 C38.9501823,22.9987849 38.7330903,21.618469 38.3313082,20.3126772 L41.99919,19.4993925 L41.99919,40.4989874 Z M41.99919,13.5018226 C41.99919,14.3313082 41.3284731,15.0020251 40.4989874,15.0020251 L34.4981774,15.0020251 C33.6686918,15.0020251 32.9979749,14.3313082 32.9979749,13.5018226 L32.9979749,7.50101256 C32.9979749,6.67152693 33.6686918,6.00081004 34.4981774,6.00081004 L40.4989874,6.00081004 C41.3284731,6.00081004 41.99919,6.67152693 41.99919,7.50101256 L41.99919,13.5018226 Z" id="Shape" fill="#171C61"></path>
                            </g>
                        </svg>