.banner.container-fluid
    .row.hgroup
        article.col-xs-12
            header.group.text-center
                span.circle
                h3.title 用手思考。伸手探索
                h4.sub_title 動手打造優質的企業團隊
                br
                a.scroll(href="javascript: void(0)")
                    <svg id="圖層_1" data-name="圖層 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31.45 17.85"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:3px;}</style></defs><title>工作區域 4</title><polyline class="cls-1" points="30.39 1.06 15.73 15.73 1.06 1.06"/></svg>
    .row
        .col-xs-12
            .owl-carousel
                img.item(src="http://rawpanel.com/N2ISC/image.aspx?id=86ca56ca3b7748da8e0b7d1ca6d7b24c", alt="")
                img.item(src="http://rawpanel.com/N2ISC/image.aspx?id=86ca56ca3b7748da8e0b7d1ca6d7b24c", alt="")
                img.item(src="http://rawpanel.com/N2ISC/image.aspx?id=86ca56ca3b7748da8e0b7d1ca6d7b24c", alt="")
                img.item(src="http://rawpanel.com/N2ISC/image.aspx?id=86ca56ca3b7748da8e0b7d1ca6d7b24c", alt="")
                img.item(src="http://rawpanel.com/N2ISC/image.aspx?id=86ca56ca3b7748da8e0b7d1ca6d7b24c", alt="")
                img.item(src="http://rawpanel.com/N2ISC/image.aspx?id=86ca56ca3b7748da8e0b7d1ca6d7b24c", alt="")
    //-         .item
    //-             img(src="/ezfiles/524/1524/img/4487/banner.png", alt="")
    //-         .item
    //-             img(src="/ezfiles/524/1524/img/4487/banner.png", alt="")
    //-         .item
    //-             img(src="/ezfiles/524/1524/img/4487/banner.png", alt="")
    //-         .item
    //-             img(src="/ezfiles/524/1524/img/4487/banner.png", alt="")