.banner.container-fluid
    .row
        .col-xs-12 ===MODULE===
    //-         .item
    //-             img(src="/ezfiles/524/1524/img/4487/banner.png", alt="")
    //-         .item
    //-             img(src="/ezfiles/524/1524/img/4487/banner.png", alt="")
    //-         .item
    //-             img(src="/ezfiles/524/1524/img/4487/banner.png", alt="")
    //-         .item
    //-             img(src="/ezfiles/524/1524/img/4487/banner.png", alt="")