.banner.container-fluid
    .row
        .col-xs-12.owl-carousel
            .item
                img(src="/dist/images/banner.png", alt="")
            .item
                img(src="/dist/images/banner.png", alt="")
            .item
                img(src="/dist/images/banner.png", alt="")
            .item
                img(src="/dist/images/banner.png", alt="")