.banner.container-fluid
    .row.hgroup
        article.col-xs-12
            header.group.text-center
                span.circle
                h3.title 用手思考。伸手探索
                h4.sub_title 動手打造優質的企業團隊
                br
                a.scroll(href="javascript: void(0)")
                    | click
                    //- svg.arrow
    .row
        .col-xs-12 ===MODULE===
    //-         .item
    //-             img(src="/ezfiles/524/1524/img/4487/banner.png", alt="")
    //-         .item
    //-             img(src="/ezfiles/524/1524/img/4487/banner.png", alt="")
    //-         .item
    //-             img(src="/ezfiles/524/1524/img/4487/banner.png", alt="")
    //-         .item
    //-             img(src="/ezfiles/524/1524/img/4487/banner.png", alt="")