article.col-xs-12
    header
        ul.nav.nav-tabs(role="tablist")
            div.active
                a(href="#menu1", role="tab", data-toggle="tab", aria-expanded="true") Benefit效益
            li
                a(href="#menu2", role="tab", data-toggle="tab", aria-expanded="true") Basics原理方法
            li
                a(href="#menu3", role="tab", data-toggle="tab", aria-expanded="true") Application應用
            li
                a(href="#menu4", role="tab", data-toggle="tab", aria-expanded="true") Others其他
    article.tab-content
        .active.in#menu1
            div.grid
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
        #menu2
            div.grid
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
        #menu3
            div.grid
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
        #menu4
            div.grid
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://placehold.it/150/92c952", alt="")
                        p.title 部落格文章 01
                        hr
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat veritatis, nulla saepe dolorem assumenda explicabo eaque ipsum sunt laboriosam perspiciatis dolorum! Corporis ullam labore quis molestias libero perspiciatis asperiores in.