article.col-xs-12
    header
        ul.nav.nav-tabs(role="tablist")
            li.active
                a(href="#menu1", role="tab", data-toggle="tab", aria-expanded="true") Benefit效益
            li
                a(href="#menu2", role="tab", data-toggle="tab", aria-expanded="true") Basics原理方法
            li
                a(href="#menu3", role="tab", data-toggle="tab", aria-expanded="true") Application應用
            li
                a(href="#menu4", role="tab", data-toggle="tab", aria-expanded="true") Others其他
    article.tab-content
        .active.in#menu1
            div.grid
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=a236a6f842124e04813b74169ad1d0bb", alt="")
                        p.title LSP 部落格文章 01
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=0b2c01c53d3744fb88a021fcdef61641", alt="")
                        p.title 部落格文章 04
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=d4bc8a92ab96476aa18c4125bb2a7627", alt="")
                        p.title 部落格文章 02
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=bdd1232c3fe34ec5bb0b00b231937f5d", alt="")
                        p.title 部落格文章 05
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=d75761f87cba499eb6ea412bb4dfe431", alt="")
                        p.title 部落格文章 03
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=60287f8b7a234b25bd7178c9cf17125d", alt="")
                        p.title 部落格文章 06
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
        #menu2
            div.grid
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=a236a6f842124e04813b74169ad1d0bb", alt="")
                        p.title LSP 部落格文章 01
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=0b2c01c53d3744fb88a021fcdef61641", alt="")
                        p.title 部落格文章 04
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=d4bc8a92ab96476aa18c4125bb2a7627", alt="")
                        p.title 部落格文章 02
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=bdd1232c3fe34ec5bb0b00b231937f5d", alt="")
                        p.title 部落格文章 05
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=d75761f87cba499eb6ea412bb4dfe431", alt="")
                        p.title 部落格文章 03
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=60287f8b7a234b25bd7178c9cf17125d", alt="")
                        p.title 部落格文章 06
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
        #menu3
            div.grid
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=a236a6f842124e04813b74169ad1d0bb", alt="")
                        p.title LSP 部落格文章 01
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=0b2c01c53d3744fb88a021fcdef61641", alt="")
                        p.title 部落格文章 04
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=d4bc8a92ab96476aa18c4125bb2a7627", alt="")
                        p.title 部落格文章 02
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=bdd1232c3fe34ec5bb0b00b231937f5d", alt="")
                        p.title 部落格文章 05
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=d75761f87cba499eb6ea412bb4dfe431", alt="")
                        p.title 部落格文章 03
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=60287f8b7a234b25bd7178c9cf17125d", alt="")
                        p.title 部落格文章 06
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
        #menu4
            div.grid
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=a236a6f842124e04813b74169ad1d0bb", alt="")
                        p.title LSP 部落格文章 01
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=0b2c01c53d3744fb88a021fcdef61641", alt="")
                        p.title 部落格文章 04
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=d4bc8a92ab96476aa18c4125bb2a7627", alt="")
                        p.title 部落格文章 02
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=bdd1232c3fe34ec5bb0b00b231937f5d", alt="")
                        p.title 部落格文章 05
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=d75761f87cba499eb6ea412bb4dfe431", alt="")
                        p.title 部落格文章 03
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。
                div.grid-item
                    a(href="")
                        img.img-responsive(src="http://rawpanel.com/N2ISC/image.aspx?id=60287f8b7a234b25bd7178c9cf17125d", alt="")
                        p.title 部落格文章 06
                        hr
                        p 
                            | 我們相信雜誌不單單是圖文上的編排， 
                            br 
                            | 是傳達一種態度， 
                            br 
                            | 是表述一份群眾或企業的理念。