.page.service.detail
  padding-top: 0
  @media #{$mobile}
    padding: 0
  .row
    max-width: 100%
    padding: 60px calc((100% - 1180px) / 2)
    @media #{$padH}
      padding-left: 15px
    @media #{$padV}
      padding-left: 15px
    @media #{$mobile}
      padding: 30px
    @media screen and (min-width: 768px)
      display: flex
      flex-wrap: no-wrap
    &:nth-child(odd)
      background: #efefef
      flex-direction: row-reverse
      .text
        @media screen and (min-width: 768px)
          padding-left: 0

    $img: 40%
    .img
      @media screen and (min-width: 768px)
        width: $img
      @media #{$mobile}
        margin-bottom: 30px
      img
        border-radius: 30px
        overflow: hidden
    .text
      @media screen and (min-width: 768px)
        width: calc(100% - #{$img})
        padding-left: 10%
      @media #{$padH}
        padding-right: 0
      @media #{$padV}
        padding-right: 0
      p.title
        font-weight: bold
        color: $color-green-d
        padding: 0
        margin: 0
        border: 0
        font-size: 22px
        line-height: 25px
        text-align: left
        border-left: 5px solid $color-green-d
        padding-left: 15px
        margin-bottom: 15px
      .sub-title
        font-size: 18px
        font-weight: 500
        color: #e5878a
        font-weight: 400
        i
          font-size: 18px
          font-weight: 500
          color: #e5878a
          font-weight: 400
      ul
        display: flex
        flex-wrap: wrap
        padding-left: 25px
        margin-bottom: 0
        li
          line-height: 30px
          font-size: 15px
          @media screen and (min-width: 768px)
            width: calc(100% / 2 - 15px)
            word-break: break-all
            white-space: pre-line
            padding: 0 10px
            padding-left: 0
          @media #{$mobile}
            width: 100%
          &:nth-child(even)
            @media screen and (min-width: 768px)
              margin-left: 30px
      ol
        padding-left: 20px
        letter-spacing: .5px
        margin-top: -30px
        @media #{$mobile}
          margin-top: 0
        li
          width: 100%
          line-height: 30px
          float: left
          text-align: left
          margin-left: 0!important