.module-detail.prod-detail
  max-width: initial!important
  margin-top: 90px
  padding-top: 15px
  margin-bottom: 30px

.page.prod-intro.detail
  @media #{$mobile}
    padding: 0 15px
  .row
    background: none!important
  .title-content
    position: relative
    &::after
      content: ''
      display: block
      background: lighten($color-green, 20%)
      width: 95%
      height: 150px
      border-radius: 30px
      position: absolute
      left: 2.5%
      bottom: 120px
      @media #{$mobile}
        display: none
      @media #{$padH}
        bottom: 9vw
    .row
      display: flex
      flex-wrap: wrap
      flex-direction: initial
      padding-top: 0
      position: relative
      z-index: 1
      padding-bottom: 30px
      @media #{$mobile}
        padding: 0
      h4.title
        border: 0
        margin: 0
        padding: 0
        color: $color-green-d
        border-left: 5px solid $color-green-d
        padding-left: 15px
        line-height: 25px
        font-weight: bold
        margin-bottom: 31px
        @media #{$mobile}
          line-height: 45px
      h3.title
        text-align: left
        border: 0
        margin: 0
        padding: 7.5px
        margin-bottom: 30px
        font-size: 20px
        background: white
        display: inline-block
        @media #{$mobile}
          margin-bottom: 15px
          font-size: 18px
      .img
        @media #{$mobile}
          margin-bottom: 0
      .download
        width: 100%
      .text
        padding: 0
        display: flex
        align-items: center
        flex-wrap: wrap
        padding: 100px 0
        @media screen and (min-width: 768px)
          padding-left: 30px
        @media #{$mobile}
          padding-top: 20px
          padding-bottom: 0px
        @media #{$padH}
          padding-top: 7vw
          padding-bottom: 7vw
      .btn
        +btn
        background: $color-green
        border-color: $color-green
        text-align: left
        padding: 5px 15px
        width: 200px
        border-width: 1px
        &:hover
          color: $color-green
          border-width: 1px
        .fa
          float: right
          position: relative
          top: 3px
  >.row
    padding-top: 0
    @media #{$mobile}
      padding-top: 15px
      padding-left: 0
      padding-right: 0
    @media #{$padH}
      padding: 0 30px
      padding-left: 0
    @media #{$padV}
      padding: 0 30px
      padding-left: 0
    p.title
      padding-bottom: 0
      margin-bottom: 0
      font-weight: bold
      font-size: 22px
      text-align: left
      border: 0
      color: $color-green
      margin-bottom: 15px
      .en
        padding-bottom: 0
        margin-bottom: 0
        font-weight: bold
        font-size: 22px
        text-align: left
        border: 0
        color: $color-green
        margin-bottom: 15px
        color: #999
    .content
      margin-bottom: 60px
      @media #{$mobile}
        margin-bottom: 30px
      p:not(.title),
      li
        font-size: 16px
        line-height: 32px
      .svg
        min-width: 70px
        min-height: 70px
        margin-right: 15px
      .dot-list
        padding-left: 5px
        margin-bottom: 0
        li
          &::before
            content: ''
            width: 10px
            height: 10px
            background: $color-green
            display: inline-block
            transform: rotate(-45deg)
            margin-right: 15px
      section
        p
          font-weight: bold
          margin-bottom: 0
        .dot-list
          margin-bottom: 15px
    .content-l
      padding: 30px
      @media screen and (min-width: 768px)
        padding-right: 60px
      @media #{$mobile}
        padding-left: 0
        padding-right: 0
        padding-top: 0
        padding-bottom: 0
    .content-r
      padding: 30px
      border-radius: 30px
      background: rgba(#ececec, .6)