.team
  margin-bottom: 120px
  @media #{$mobile}
    margin-bottom: 30px
  &:last-child
    margin-bottom: 0
  .text
    .content
      margin-bottom: 30px
      p
        margin-bottom: 15px
        b
          +sub-title
  .img
    @media #{$mobile}
      margin-bottom: 30px
    img
      +box-shadow
  ul
    list-style: none
    padding-left: 0
    margin-top: 30px
    li
      position: relative
      padding-left: 85px
      margin-bottom: 35px
      .date
        position: absolute
        top: -5px
        background: $color-green
        color: white
        padding: 7.5px 15px
        border-radius: 5px
        left: 0
        +box-shadow
      p
        line-height: 2.5rem
        margin-bottom: 15px